.categories-list{}

.page-infos{
	display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .product-count{
    	flex: 1;
    }
}

.product-list{
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;

	display: flex;
	flex-flow: row wrap;

	li{
       margin-bottom: 2px;
	}
}

.categoriegrid {
    .special-tags{
        padding: .3rem; 
    }
}

// @include media-breakpoint-only(xs) { 

//     .page-infos {
//         text-align: center;
//     }

//     nav.cmp.cmp-paginator.pull-xs-right {
//         text-align: center;
//         float: none!important;
//     }
// }


@include media-breakpoint-up(sm){
    .product-list{
        li{
            @include make-col-ready(12);
            @include make-col(12);
            margin-bottom: $grid-gutter-width;

            display: flex;
        }
    }

    .product-list.grid{

    	li{
            @include make-col(6);
            display: flex;
    	}

    }
}

@include media-breakpoint-up(md){
    .product-list.grid{

        li{
            @include make-col(4);
            display: flex;
        }
    }
}

@include media-breakpoint-up(lg){
    
}
