.cmp-product-thumb{
    padding: .8rem;
    width: 100%;
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #fff;
    margin-bottom: $grid-gutter-width/2;

    .thumb-background{
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -2px;
        left: -1px;
        background-color: #fff;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        border: 1px solid transparent;

        transform-origin: top right;
        transform: scaleX(1) scaleY(1);

        transition: all 200ms ease-in-out;
    }

    .thumb-controls{
        position: absolute;
        width: calc(100% - 120px);
        bottom: 0;
        right: 0;
        text-align: center;
        overflow: hidden;
        transition: all 200ms 100ms ease-in-out;
    }

    .thumb-inner{
        position: relative;
        height: 100%;
        transition: all 400ms;
    }

    .thumb-image{
        position: relative;
        width: 120px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
    }

    .main-image{
        @include img-contain();
        position: absolute;
        background-color: #fff;
    }

    //TODO create separate mixin
    .special-tags{
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;

        padding: .5rem;

        .special-tag,
        .tag{
            display: block;
            padding: .3em .5em .2rem;
            font-size: .9rem;
            font-weight: 300;
            box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
        }
    }

    .thumb-content{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc( 100% - 120px );
        height: auto;
        padding: 0 .8rem;
        margin-left: -.3em;
        background-color: #fff;

        transition: all 200ms ease-in-out;
    }

    .thumb-title{
        display: block;
        position: relative;
        text-align:center;
        font-weight: 700;
        color: $gray;
    }

    .thumb-meta{
        margin-top: .5rem;
        text-align:center;

    }

    .crossprice{
        font-size: .81em;
        font-weight: 700;
        color: $gray-light;
    }

    .price {
        color: $gray;
        line-height: 1.1;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .thumb-buy{
        display: block;
    }

    .thumb-basket-frame {
        opacity: 0;
        cursor: pointer;
        left: 82%;
        top: 2%;
        box-sizing: initial;
        position: absolute;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        padding: 10px;
        box-shadow: inset 0px 0px 0px 2px #008ebd;
        border-radius: 100px;
        z-index: 10;
        transition: all 300ms;

        &:hover {
            background-color: #008ebd;

            .thumb-basket-inner {
                color: #fff;
            }
        }
    }

    .thumb-basket-inner {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        color: #008ebd;
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5rem;
        font-size: 1.5rem;
        transition: all 300ms;
    }

    @include media-breakpoint-up(sm){
        padding: 0;
        margin-bottom: $grid-gutter-width;

        .thumb-background{
            display: block;
        }

        .thumb-extras{
            display: flex;
            flex-flow: column nowrap;
            border-right: 2px solid transparent;

            ul{
                flex: 1 1 auto;
                overflow: auto;

                li{
                    width: 100%;
                    margin-bottom: 2px;
                }
            }
        }

        .thumb-scroll-cmd {
            flex: 0 0 auto;
            text-align: center;
            padding: .4rem;
        }
        .thumb-controls{
            left: 0;
            width: 100%;
            height: 0;
        }

        .thumb-btn-buy{
            min-height: 2rem;
        }

        .thumb-content{
            padding: .8rem;
            width: 100%;
            margin: 0;
        }

        .thumb-title{
            font-weight: 400;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .thumb-image{
            width: 100%;
        }

        .img-fluid {
            transition: transform .4s cubic-bezier(0, 0, .26, 1), opacity .3s cubic-bezier(0, 0, .26, 1), -webkit-transform .3s cubic-bezier(0, 0, .26, 1);
        }

        &:hover{
            z-index: 1000;

            .thumb-controls{
                transform: translate(0 , 100%);
                height: 15%;
            }

            .img-fluid {
                transform: scale(1.05);
            }

            .thumb-basket-frame {
                opacity: 1;
            }
        }

    }

    @include media-breakpoint-up(md){

    }
}
