.basket-preview{

	display: flex;
    flex-flow: column nowrap;

    .basket-header{
        flex: 0 0 auto;
        border-bottom: 1px solid $gray-lighter;

        .basket-header-caption {
            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
            }
            font-size: 1.25rem;
        }
    } 

    .list{
	    display: flex;
	    flex-flow: column nowrap;
    	flex: 0 1 auto;
        overflow: auto;

        @include media-breakpoint-up(md) {
            max-height: calc(100vh - 345px);
            margin-bottom: 5px;
        }

        @include media-breakpoint-down(xs) {
            max-height: calc(100vh - 305px);
            margin-bottom: 5px;
        }

        .cmp-basket-preview-list {
            .split-basket-height {
                @include media-breakpoint-only(sm) {
                    height: calc(100vh - 70px);
                    overflow: auto;
                }
            }
        }
    }

    .totals{
    	flex: 1 0 auto;
	    display: flex;
	    flex-flow: column nowrap;
        border-top: 1px solid $gray-lighter;
        
        @extend .small;

        dd, dt{
            margin-bottom: 0;
        }

        @include media-breakpoint-down(xs) {
            position: fixed;
            bottom: 0;
        }

        @include media-breakpoint-up(sm) {
            height: 100vh;
        }

        @include media-breakpoint-only(sm) {
            border-top: 0 !important;
        }
    }

    .basket-preview-footer {

    }
}

.basket-loading-frame {
    display: table;
    width: 100%;
}