.cmp-basket-preview-item{
	display:table;
	padding: .5em 0;
	margin-bottom: 5px;

	&:first-child{
		padding-top: 0;
	}

	&:last-child{
		padding-bottom: 0;
	}

	[class^="basket-item-"]{
		display: table-cell;
		vertical-align: top;
		padding-right: .5em;

		&:last-child{
			padding-right: 0;
		}
	}
	
	.basket-item-image{
		width:30%;

		@include img-contain();

		img{
			
		}
	}
	

	.item-quantity,
	.basket-item-quantity{
		width: 3em;	

		.btn{
			padding-top: .25rem;
			padding-bottom: .25rem;
		}

		.form-control{
			padding-left: .25rem;
		    padding-right: .25rem;
		    text-align: center;
		}
	}

	.basket-item-infos{
		position: relative;
		max-width: 100%;
		width: 66%;

		a{
			display: block;
			transition: color 250ms;

			&:hover{
				text-decoration: none;
			}
		}
	}
	
	.item-name{
		position: relative;
	    display: flex;
        text-overflow: ellipsis;
        max-height: 3em;
        overflow: hidden;
        font-weight: 700;
        margin-bottom: .5rem;

        &:after{
            content: "…";
            display: inline-block;
            height: 50%;
            position:absolute;
            right: .25em;
            bottom: 0; 
            background-color: white;
        }
	}

	.item-unit-price {
	    width: 50%;
		float: left;
		white-space: nowrap;
	}

	.item-total-price {
	    width: 50%;
	    float: right;
	    font-size: 1.5em;
	    font-weight: 700;
	    text-align: right;
	}
	

	.item-remove{
	    line-height: 1;
	    cursor: pointer;					
		color: $gray-lighter;

		&:hover {
			color:$brand-danger;
			text-decoration: none;
		}
		&.btn-danger:hover {
			color:white;
		}
		&:focus {outline:none;}
	}
}
