.basket-preview-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-modal + 1;
    display: block;
    transform: translateX(100%);
    @include transition(all .3s ease-in-out);

    @include media-breakpoint-up(md) {
        .item-list {
            min-height: 200px;
        }
    }

    @include media-breakpoint-up(lg) {
        left: auto;
        width: $aside-columns-width;
    }

    .basket-open & {
        transform: translateX(0);
    }

    .basket-preview-overlay {
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: -100vh;
        left: -100vw;
        z-index: -1;
        display: none;
        content: "";
        background-color: rgba(0, 0, 0, .5);

        .basket-open & {
            display: block;
        }
    }
}

.basket-preview {
    position: absolute;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1rem;
}

.basket-preview-header {
    @extend .modal-header;
}

.basket-preview-content {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    .totals {
        background-color: $gray-100;
        border-top: 1px solid $gray-300;
    }
}

.basket-preview-footer {
    flex-wrap: wrap;

    > * {
        flex: 1 0 40%;
        margin-top: $spacer * .5;
    }

    > *:nth-child(2n) {
        margin-left: $spacer;
    }
}

@include media-breakpoint-between(sm, md) {
    // horizontal view on small devices
    .basket-preview-content {
        flex-direction: row;

        .item-list {
            flex-basis: 55%;
            max-width: 55%;
        }

        .totals {
            flex-basis: 45%;
            max-width: 45%;
            background-color: $white;
            border-top: none;
            border-left: 1px solid $gray-300;
        }
    }
}


// hover style basket preview
@include media-breakpoint-up(lg) {
    .basket-preview-wrapper.open-hover {
        position: absolute;
        top: auto;
        display: none;
        max-width: 440px;
        max-height: 90vh;

        .no-touch .control-basket:hover &,
        .basket-open & {
            display: block;
            transform: translateX(0%);
        }

        .basket-preview {
            height: auto;
            max-height: 90vh;
        }

        .basket-preview-header {
            display: none;
        }

        &.empty .item-list {
            padding: 1rem 0;
            text-align: center;
        }

        .totals {
            background-color: $white;
        }

        .basket-preview-overlay {
            background-color: transparent;
        }
    }
}

.basket-open {
    [data-header-offset] {
        > * {
            z-index: auto !important; // stylelint-disable-line declaration-no-important
        }
    }
}

html.safari .basket-preview-content .totals { // stylelint-disable-line selector-no-qualifying-type
    display: block !important; // stylelint-disable-line declaration-no-important
}
html.ios .basket-preview-content .totals { // stylelint-disable-line selector-no-qualifying-type
    display: block !important; // stylelint-disable-line declaration-no-important
}
