.basket-preview-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: $zindex-modal + 1;
    display: none;
    width: 100vw;
    height: 100%;
    transform: translateX(100%);
    @include transition(all 300ms ease-in-out);

    @include media-breakpoint-up(sm) {
        position: absolute;
        top: auto;
        display: none;
        max-width: 440px;
        max-height: 90vh;
    }

    @include media-breakpoint-up(lg) {
        .control-basket:hover & {
            display: block;
            transform: translateX(0%);
        }
    }

    /*
    &.hover { }
     */

    &.empty {
        height: auto;
    }
}

.basket-preview-wrapper-inner {
    position: relative;
    height: 100%;
}

.basket-preview {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1rem;
    box-shadow: $box-shadow;
}

.basket-preview-header {
    @extend .modal-header;

    .basket-preview-wrapper.hover & {
        display: none;
    }
}

.basket-preview-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    @include media-breakpoint-only(sm) {
        flex-direction: row;
        overflow: hidden;
    }

    .item-list {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column nowrap;
        min-height: 150px;
        overflow: auto;
    }

    .totals {
        display: flex;
        flex: 0 0 auto;
        flex-flow: column nowrap;
        border-top: 1px solid $gray-300;

        dd,
        dt {
            margin-bottom: 0;
        }

        @include media-breakpoint-only(sm) {
            overflow-y: auto;
            border-top: 0;
            border-left: 1px solid $gray-300;
        }
    }
}

.basket-preview-footer {
    .btn + .btn {
        margin-top: 0;
        margin-left: $spacer;
    }
}

html.ie .basket-preview.basket-preview-wrapper.hover .basket-preview {
    @include media-breakpoint-up(sm) {
        height: 85vh;
        min-height: 85vh;
    }
}
