@include media-breakpoint-up(lg) {
    .control-basket {
        &:hover {
            .basket-preview-hover-wrapper {
                display: block;
                transform: translateX(0%);
            }
        }
    }
}

.basket-preview-hover-wrapper {
    position: absolute;
    right: 0;
    z-index: 99999;
    width: 100vw;

    &.empty {
        height: auto;
    }

    @include media-breakpoint-up(sm) {
        display: none;
        max-width: 440px;
        max-height: 90vh;
    }

    @include media-breakpoint-down(xs) {
        position: fixed;
        top: 0;
        height: 100%;
        transition: all 300ms ease-in-out;
        transform: translateX(100%);
    }

    & .basket-preview-hover-wrapper-inner {
        position: relative;
        height: 100%;
    }
}

.basket-preview-hover {
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-height: 100%;
    padding: .75rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1rem;
    color: $gray-700;
    background: $white;
    box-shadow: $box-shadow;

    &.empty {
        position: relative;
    }

    @include media-breakpoint-up(sm) {
        max-height: 90vh;
        padding: 1.5rem;
    }

    @include media-breakpoint-down(xs) {
        &:not(.empty) {
            height: 100%;
        }
    }

    & .basket-header {
        padding-bottom: .5em;
        border-bottom: 1px solid $gray-300;
    }

    .item-list {
        flex: 0 1 auto;
        flex-flow: column nowrap;
        min-height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        background-attachment: fixed;
        -webkit-overflow-scrolling: touch;
    }

    .basket-totals {
        flex: 1 0 auto;

        .btn {
            padding: .5rem .8rem;
        }
    }

    & > .no-items {
        padding: 1rem;
        text-align: center;
    }
}

html.ie .basket-preview-hover {
    @include media-breakpoint-up(sm) {
        height: 85vh;
        min-height: 85vh;
    }
}
