.widget-order-history,
.widget-order-return-history {
    @each $color, $value in $shop-builder-colors
    {
        &.widget-#{$color}
        {        
            .loading-animation > div
            {
                background-color: $value;
            }

            .sk-fading-circle > .sk-circle:before
            {
                background-color: $value;
            }
    
            .text-primary
            {
                @extend .text-#{$color};
            }
    
            .pagination
            {
                a
                {
                    color: $value;
                }
    
                .page-item
                {
                    .page-link
                    {
                        color: $value;
    
                        &:hover
                        {
                            color: darken($value, 15%);
                        }
                    }
    
                    &.active .page-link
                    {
                        border-color: $value;
                        @include context-bg($value);
                    }
                }
            }
        }
    }
}
