<script type="x/template" id="vue-category-breadcrumbs">

    <nav class="container-max small hidden-sm-down" v-if="currentCategoryTree.length > 0">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="breadcrumb-item" :class="{'active': index == currentCategoryTree.length - 1}" v-for="(index, category) in currentCategoryTree">
                <span v-if="index == currentCategoryTree.length - 1">${ category.details[0].name }</span>
                <a v-if="index != currentCategoryTree.length - 1" href="todo vue function">${ category.details[0].name }</a>
            </li>
        </ul>
    </nav>

</script>