  {% set heroElement = {
    item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [widgetSettings.variationId]}).documents[0].data,
    url: widgetSettings.imageUrl } %}
 
 <div class="cmp cmp-hero">
	<div class="hero-xtras">
		<a class="hero-category"
			{% if heroElement.item.texts is not empty %}href="{{ heroElement.item | itemURL }}"{% endif %}>
			<img src="{{ heroElement.url }}" alt="{{ heroElement.item | itemName }}">
			{% if heroElement.item.texts is not empty %}
				<div class="hero-category-inner">
					<h2 class="hero-category-headline">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
						{{ heroElement.item | itemName }}
					</h2>
				</div>
			{% endif %}
		</a>
	</div>
 </div>