<div class="widget widget-grid widget-grid-1-1-1-1">
    <div class="widget-inner">
        <div{% if isPreview %} data-builder-child-container="first"{% endif %}>{{ children.first | raw }}</div>
    </div>

    <div class="widget-inner">
        <div{% if isPreview %} data-builder-child-container="second"{% emdif %}>{{ children.second | raw }}</div>
    </div>

    <div class="widget-inner">
        <div{% if isPreview %} data-builder-child-container="third"{% emdif %}>{{ children.third | raw }}</div>
    </div>

    <div class="widget-inner">
        <div{% if isPreview %} data-builder-child-container="fourth"{% emdif %}>{{ children.fourth | raw }}</div>
    </div>
</div>