<div class="row">
    <div class="col-xs-12 col-md-3 nested-widget-container"></div>
    <div class="col-xs-12 col-md-3 nested-widget-container"></div>
    <div class="col-xs-12 col-md-3 nested-widget-container"></div>
    <div class="col-xs-12 col-md-3 nested-widget-container"></div>
</div>