<div class="row">
    <div class="col-xs-3 nested-widget-container"></div>
    <div class="col-xs-3 nested-widget-container"></div>
    <div class="col-xs-3 nested-widget-container"></div>
    <div class="col-xs-3 nested-widget-container"></div>
</div>