<div class="row">
    <div class="col-xs-3" data-builder-container>DROPZONE</div>
    <div class="col-xs-3" data-builder-container>DROPZONE</div>
    <div class="col-xs-3" data-builder-container>DROPZONE</div>
    <div class="col-xs-3" data-builder-container>DROPZONE</div>
</div>