<script type="x/template" id="vue-basket-button">
    <a href="#" id="toggleBasketPreview" class="toggle-basket-preview">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="badge">${ basketItemSum }</span>
    </a>
</script>
