{{ component( "Ceres::Containers.Components.ContainerItemList" ) }}

{% set listType = config("Ceres.item.lists.2.list_type") %}
{% set tagIds = config("Ceres.item.lists.2.tag_ids") | split(",") %}
{% set tagSorting = config("Ceres.item.lists.tag_sorting") %}
{% set itemListId = 2 %}
{% set isHome = services.template.isHome() %}

{% if listType == "cross_selling" %}
    {% set itemList = item.CrossSellingItems.documents %}
{% endif %}

{% if listType == "last_seen" %}
    <div class="row">
        <last-seen-item-list>
            <div slot="heading">
                {% if not isHome %}
                    <hr>
                {% endif %}

                {% include 'Ceres::Containers.Partials.ItemLists.ItemListHeader.twig' with { itemListId: 2, listType: listType, isHome: isHome } %} 
            </div>
        </last-seen-item-list>
    </div>
{% elseif itemList is not empty %}
    {% if not isHome %}
        <hr>
    {% endif %}

    {% include 'Ceres::Containers.Partials.ItemLists.ItemListHeader.twig' with { itemListId: 2, listType: listType, isHome: isHome } %} 

    <div class="row">
        <container-item-list :items="{{ itemList | json_encode }}"></container-item-list>
    </div>
{% endif %}
