{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}

{% if config("Ceres.item.lists.1.list_type") == "last_seen" %}
    {% set itemList = services.itemLoader.loadForTemplate('Ceres::Containers.ItemLists.LastSeenItemList', itemLoaderPresets.lastSeenItemsList, {'items':itemsPerPage}).documents %}
{% else %}
    {% set itemList = item.CrossSellingItems.documents %}
{% endif %}

{% if itemList is not empty %}
    <hr>

    <div class="section-header m-b-1">
        <h4>{% if config("Ceres.item.lists.1.list_type") == "last_seen" %}{{ trans("Ceres::Template.itemListLastSeen") }}{% else %}CROSS SELLING{% endif %}</h4>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-12">

            <div id="list-carousel" class="product-list row grid owl-carousel owl-theme owl-single-item">
                {% for item in itemList %}
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item, enableCarousel: false } %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <script>
        $(window).load(function()
        {
           $("#list-carousel").owlCarousel({
                autoHeight       : true,
                dots             : true,
                items            : 4,
                lazyLoad         : true,
                loop             : true,
                margin           : 10,
                mouseDrag        : true,
                nav              : true,
                navClass         : [
                    "owl-single-item-nav left carousel-control",
                    "owl-single-item-nav right carousel-control"
                ],
                navContainerClass: "",
                navText          : [
                    "<i class=\"owl-single-item-control fa fa-chevron-left\" aria-hidden=\"true\"></i>",
                    "<i class=\"owl-single-item-control fa fa-chevron-right\" aria-hidden=\"true\"></i>"
                ],
                smartSpeed       : 350,
            });
        });
    </script>

{% endif %}

