{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.newsletterOptOutTitle") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    <form action="/newsletter-opt-out-confirmation">
        <div class="container-max page-content">
            <div class="row">
                <div class="col-xs-12 m-b-1">
                    <span>{{ trans("Ceres::Template.newsletterOptOutInfoText") }}</span>
                </div>
                <div class="col-xs-12 m-b-1">
                    <div class="input-unit">
                        <label for="email-input-id">Email</label>
                        <input type="email" name="email" class="form-control" id="email-input-id">
                    </div>
                </div>
                <div class="col-xs-12 m-b-1">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.newsletterUnsubscribeButtonLabel") }}
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
