{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.newsletterOptOutTitle") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    <form action="/newsletter-opt-out-confirmation">
        <div class="container-max page-content">
            <div class="row">
                <div class="col-xs-12 m-b-1">
                    <div class="input-group">
                        <input type="email" name="email" class="form-control" id="emailInput" placeholder="Enter email">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                &nbsp;
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
