<script type="x/template" id="vue-wish-list">

    <div>
        {% include "Ceres::WishList.Components.WishListItem" %}

        <transition name="wish-list-no-items-transition">
            <p class="h4 text-muted wish-list-no-items-label" v-if="!wishListIds[0]">{{ trans("Ceres::Template.itemWishListNoItems") }}</p>
        </transition>

        <div :class="{'loading': isLoading}">
            {% include "Ceres::ItemList.Partials.LoadingAnimation" with { 'loadingAnimationType': config("Ceres.item.loading_animation_type") } %}
        </div>

    </div>

</script>
