<script type="x/template" id="vue-wish-list">

    {# <div v-for="basketItem in basketItems" style="height: 101px; border-bottom: 1px solid #dcdbd8; margin-bottom: 14px"> #}
        {% include "Ceres::WishList.Components.WishListItem" %}
    {# </div> #}

</script>
