{{ component("Ceres::WishList.Components.WishListItem") }}
{{ component("Ceres::ItemList.Components.CategoryItem") }}

<script type="x/template" id="vue-wish-list">
    <div>

        <transition-group name="wish-list-item-transition" tag="div">
            <wish-list-item
                v-for="wishListItem in wishListItems"
                :key="wishListItem.id"
                :wish-list-item-raw="wishListItem"
                :item-details-data="itemDetailsData">
            </wish-list-item>
        </transition-group>

        <transition name="wish-list-no-items-transition">
            <p class="h4 text-muted wish-list-no-items-label" v-if="!isLoading && !wishListItems[0]">{{ trans("Ceres::Template.wishListNoItems") }}</p>
        </transition>

        <div :class="{'loading': isLoading}">
            {% include "Ceres::ItemList.Partials.LoadingAnimation" with { 'loadingAnimationType': config("Ceres.item.loading_animation_type") } %}
        </div>

    </div>
</script>
