<script type="x/template" id="vue-wish-list-count">
    <a href="/wish-list">
        <span class="badge-right">${wishListCount}</span>
        <i class="fa" :class="{'fa-heart-o': !wishListCount, 'fa-heart': wishListCount}" aria-hidden="true"></i>
    </a>
</script>