.input-group-v{

	.input-unit-v1{
		margin-top: -1px;
		margin-bottom: 0;
		border-radius: 0;
	}
	
	&>*:first-child{
		margin-top: 0;
		border-top-right-radius: $border-radius;
		border-top-left-radius: $border-radius;
	}

	&>*:last-child{
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}
	

}

.inline-form {

	& .input-group-addon,
	& .form-control {
		border: 1px solid #D9D9D9;
	}

	& .btn {
		padding-top: 8px;
    	padding-bottom: 8px;
	}
}

