{% extends "PluginCallisto::PageDesign.PageDesign" %}

{% block PageBody %}

    {{ component( "PluginCallisto::ItemList.Components.ItemList" ) }}
    {{ component( "PluginCallisto::ItemList.Components.ItemSearch" ) }}
    {{ component( "PluginCallisto::ItemList.Components.Pagination" ) }}

    <div class="categoriegrid page-content container-max">
        <div class="row m-t-1">
            <item-search></item-search>
        </div>
        <div class="row m-b-3">
            <div class="col-xs-12 col-lg-9">
                {% include "PluginCallisto::Category.Item.Partials.CategoryViewFilter" %}
            </div>
            <div class="col-xs-12 col-lg-3">
                {% include "PluginCallisto::Category.Item.Partials.ListControls" with { 'paginatedResult': paginatedResult } %}

                <pagination items-per-page="{{ config('PluginCallisto.pagination.defaultItemsPerPage') }}"></pagination>
                {% include "PluginCallisto::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
            </div>

            <item-list></item-list>
        </div>
        <div class="list-controls m-b-3 row">
            <div class="col-xs-12">
                {% include "PluginCallisto::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
            </div>
        </div>
    </div>


{% endblock %}