{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component("Ceres::Basket.Components.BasketList") }}

<div class="widget widget-basket">
    <div class="pt-4">
        <h3>{{ trans("Ceres::Template.checkoutBasket") }}</h3>
        <hr class="mb-0">
    </div>
    
    <div class="pt-4 pb-3">
        <div class="cmp">
            <basket-list size="small"></basket-list>
        </div>
    </div>
</div>
