{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component("Ceres::Basket.Components.BasketTotals") }}

<div>
    <basket-totals template="#vue-basket-totals"></basket-totals>
</div>
