{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component( 'Ceres::Checkout.Components.ShippingProfileSelect' ) }}

<div>
    <header class="mb-3">
        <h3>{{ trans("Ceres::Template.checkoutShippingProfile") }}</h3>
    </header>

    <div class="shipping-method-select">
        <shipping-profile-select template="#vue-shipping-profile-select"></shipping-profile-select>
    </div>
</div>
