{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component("Ceres::Checkout.Components.ContactWishInput") }}
{% set hinttext = widget.settings.hinttext.mobile %}

<div class="widget widget-contact-wish">
    <h3>{{ Twig.trans("Ceres::Template.checkoutContactWish") }}</h3>
    {% if hinttext is not empty %}
        <p>{{ hinttext | raw }}</p>
    {% endif %}
    
    <contact-wish-input class="pb-3" template="#vue-contact-wish-input"></contact-wish-input>
</div>
