{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.component("Ceres::Checkout.Components.ContactWishInput") }}
{% set hintText = widget.settings.hintText.mobile %}

<div class="widget widget-contact-wish">
    <div {{ WidgetHelper.makeEditable("hintText", TOOLBAR_LAYOUT.INLINE, isPreview) }}>
        {% if hintText is empty %}
            <h3>{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.checkoutContactWish")) }}</h3>
        {% else %}
            {{ WidgetHelper.editableTwig(isPreview, hintText) }}
        {% endif %}
    </div>

    <contact-wish-input class="pb-3" template="#vue-contact-wish-input"></contact-wish-input>
</div>
