{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set appearance = widget.settings.appearance.mobile %}

{{ Twig.component("Ceres::Basket.Components.Coupon") }}

<div class="widget widget-coupon widget-{{ appearance | default('primary')  }}">
    <coupon template="#vue-coupon"></coupon>
</div>
