{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component("Ceres::Checkout.Components.ShippingPrivacyHintCheck") }}

<div class="widget widget-shipping-privacy-check">
    <shipping-privacy-hint-check></shipping-privacy-hint-check>
</div>
