<div class="parallax-img-container"{% if category.details[0].imagePath is not empty %} style="background-image: url(/documents/{{ category.details[0].imagePath }});"{% endif %}>
    <div class="container-max">
        <div class="parallax-text-wrapper">
            <div class="parallax-text-container">
                <h1 class="h2 p-t-3 category-title">{{ category.details[0].name | raw }}</h1>
                {% if showCategoryDescription %}
                    <h2 class="h3 p-t-3 category-description {% if category.details[0].imagePath is not empty %}category-description-parallax container-max{% endif %}">{{ category.details[0].description | raw }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>