{% set categoryDescriptionTop = ceresConfig.item.showCategoryDescriptionTop %}

<div class="parallax-img-container">
    <lazy-img class="parallax-img-container-inner"
        {% if category.details[0].imagePath is not empty %}image-url="/documents/{{ category.details[0].imagePath }}"{% endif %}
        :is-background-image="true"
        role="img">
        <div class="container-max">
            <div>
                <div class="parallax-text-container">
                    <h1 class="h2 pt-4 category-title">{{ category.details[0].name | raw }}</h1>
                    {% if categoryDescriptionTop == "description1" or categoryDescriptionTop == "both" %}
                        <div class="category-description mb-3">{{ category.details[0].description | raw }}</div>
                    {% endif %}
                    {% if categoryDescriptionTop == "description2" or categoryDescriptionTop == "both" %}
                        <div class="category-description mb-3">{{ category.details[0].description2 | raw }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </lazy-img>
</div>
