.cookie-bar
{
    .privacy-settings
    {
        max-height: 50vh;

        table tr td:first-child 
        {
            width: 200px;
        }
    }

    &.out
    {
        left: 15px;
        right: auto;
    }
}
