.cookie-bar {
    .privacy-settings {
        max-height: 50vh;

        td:first-child {
            width: 200px;
        }
    }

    &.out {
        right: auto;
        left: 15px;
    }
}

.button-order {
    display: grid;
}
.button-order-1 {
    grid-area: first;
}
.button-order-2 {
    grid-area: second;
}
.button-order-3 {
    grid-area: last;
}
.order-1-3 {
    .button-order {
        grid-template-areas: 
        "first"
        "last";
    }
}
.order-3-1 {
    .button-order {
        grid-template-areas:
        "last"
        "first";
    }
}

.order-1-2-3 {
    .button-order {
        grid-template-areas: 
        "first"
        "second"
        "last";
    }
}
.order-1-3-2 {
    .button-order {
        grid-template-areas: 
        "first"
        "last"
        "second";
    }
}
.order-2-1-3 {
    .button-order {
        grid-template-areas: 
        "second"
        "first"
        "last";
    }
}
.order-2-3-1 {
    .button-order {
        grid-template-areas: 
        "second"
        "last"
        "first";
    }
}
.order-3-1-2 {
    .button-order {
        grid-template-areas: 
        "last"
        "first"
        "second";
    }
}
.order-3-2-1 {
    .button-order {
        grid-template-areas: 
        "last"
        "second"
        "first";
    }
}
