.featured-sale{
	display: block;
	height: 100%;
	overflow: hidden;
	color: $gray-dark;

	@include img-cover();

	.featured-category-inner{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		display: flex;
	    flex-flow: column;
	    justify-content: flex-end;

	    padding: 1.5rem;
	}

	.featured-category-headline{
		background-color: rgba(white, .9);
	    padding: .5em;
	    text-align: left;
		font-weight: 700;
	    display: inline-block;
	    width: fit-content;
	    align-self: flex-start;
	    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
	}

	.featured-category-cta{
		display: inline-block;
		background-color: rgba(white, .9);
	    padding: .5em;
	    text-align: right;
	    width: fit-content;
	    align-self: flex-start;
		
		.fa{
			margin-left: .5rem;
		}
	}
}