// stylelint-disable

.featured-sale-new {
    display: block;
    height: 100%;
    overflow: hidden;
    font-family: $font-family-heading;
    color: $white;

    @include img-cover();

    .featured-category-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);

        background: rgba($secondary, .8);
        @include transition(all .3s ease);
        transform: translate(-50%, -50%);
    }

    .featured-category-headline {
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        align-self: flex-start;

        width: 100%;
        padding: 0;
        font-size: 1.5rem;
        font-weight: normal;
        color: $white;
        text-align: left;
        text-align: center;
        text-transform: uppercase;
        background: transparent;
        background-color: rgba(white, .9);
        box-shadow: none;
        transform: translateY(-50%);
    }

    .featured-category-cta {
        display: inline-block;
        align-self: flex-start;
        width: fit-content;
        padding: .5em;
        text-align: right;
        background-color: rgba(white, .9);

        .fa {
            margin-left: .5rem;
        }
    }
    &:hover {
        .featured-category-inner {
            background: rgba($secondary, 1);
            @include transition(all .3s ease);
        }
    }
}

@include media-breakpoint-up(lg) {
    .featured-sale-new {

        .featured-category-inner {
            width: calc(100% - 3rem);
            height: calc(100% - 3rem);
        }

        .featured-category-headline {
            font-size: 4rem;
        }
    }
}
