// stylelint-disable

.featured-category {
    display: block;
    height: 100%;
    overflow: hidden;
    font-family: $font-family-heading;
    color: $white;
    text-align: center;

    @include img-cover();

    .featured-category-inner {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: auto;
        padding: .5rem 1rem;
        background: transparent;

        @include clearfix();
    }

    .featured-category-headline {
        display: block;
        align-self: flex-start;
        width: auto;
        padding: 1rem;
        margin: 1rem;
        font-size: 1.25rem;
        font-weight: normal;
        text-align: left;
        box-shadow: none;
        @include transition(all .3s ease);
        @include context-bg(rgba($primary, .8));
    }

    .featured-category-cta {
        display: block;
        height: auto;
        max-height: 0;

        border-top: 1px solid $gray-300;
        @include transition(all .3s);

        span {
            display: block;
            padding: 1rem;
        }

        .fa {
            margin-left: .5rem;
        }
    }

    &:hover {
        .featured-category-headline {
            background: rgba($primary, 1);
            @include transition(all .3s ease);
        }
    }

    @include media-breakpoint-up(sm){

    }

    @include media-breakpoint-up(md) {
        .featured-category-headline {
            padding: 1.5rem;
            font-size: 1.75rem;
        }

        &:hover {
            .featured-category-cta {
                max-height: 5rem;
            }
        }
    }

    @include media-breakpoint-up(lg) {

    }

}
