.notification-wrapper {
    position: fixed;
    top: 10rem;
    right: .5rem;
    z-index: $zindex-10 + 1;

    @include media-breakpoint-down(xs) {
        right: auto;
        width: 100%;
        padding: 0 ($grid-gutter-width / 2);
    }
}
