.popper {
	max-width: 276px;
    padding: 1px;
    text-align: left;
    text-align: start;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
	border-radius: .2rem;
	opacity: 1;
	visibility: visible;
	margin: 5px;
	z-index: $zIndex-10;

	&.popper-node {
		position: absolute;
	}

	.popper__arrow {
		width: 0;
		height: 0;
		margin: 0 2px;
		position: absolute;
		border: solid;
	}

	& .popper-title {
		padding: 8px 14px;
		margin: 0;
		font-size: 1rem;
		background-color: #f7f7f7;
		border-bottom: 1px solid #ebebeb;
		border-radius: .12857rem .12857rem 0 0;
		text-align: center;
	}

	& .popper-content {
		padding: 9px 14px;
		font-family: "Open Sans",Helvetica,Arial,sans-serif;
		font-style: normal;
		letter-spacing: normal;
		line-break: auto;
		line-height: 1.5;
		text-shadow: none;
		text-transform: none;
		word-break: normal;
		word-spacing: normal;
		font-size: .875rem;
		font-weight: 400;
		white-space: normal;
		text-decoration: none;
		word-wrap: break-word;
	}

	&.hide-popper {
		opacity: 0;
		visibility: hidden;
	}

	&[x-placement^="top"] {
		margin-bottom: 11px;
		.popper__arrow {
		  border-width: 10px 10px 0 10px;
		  border-color: #f7f7f7 transparent transparent transparent;
		  bottom: -9px;
		  left: calc(50% - 5px);
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 11px;
		.popper__arrow {
			border-width: 0 10px 10px 10px;
		  	border-color: transparent transparent #ccc transparent;
		  	top: -10px;
		  	left: calc(50% - 5px);

			&:after {
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent #f7f7f7 transparent;
				content: "";
				position: absolute;
				border-style: solid;
				left: -10px;
				bottom: -11px;
			}
		}
	}

	&[x-placement^="right"] {
		margin-left: 11px;
		.popper__arrow {
		  border-width: 10px 10px 10px 0;
		  border-color: transparent #f7f7f7 transparent transparent;
		  left: -5px;
		  top: calc(50% - 5px);
		  margin-left: -4px;
		  margin-right: 0;
		}
	}

	&[x-placement^="left"] {
		margin-right: 11px;
		.popper__arrow {
		  border-width: 10px 0 10px 10px;
		  border-color: transparent transparent transparent #f7f7f7;
		  right: -5px;
		  top: calc(50% - 5px);
		  margin-left: 0;
		  margin-right: -4px;
		}
	}
}