.sticky-element {
    display: inline-block; // Fix sticky-container height miscalculation and resulting shaking

    p:empty {
        margin-bottom: 0; // remove margin of empty paragraph for correct height detection
    }

    // Needed for elements below not to overlap sticky
    .sticky-element.is-sticky {
        z-index: $zindex-sticky !important; // stylelint-disable-line declaration-no-important
    }
}
