{% for entry in data if entry.label | length > 0 %}
<p>
    <b>{{ entry.label }}:</b>
    {% if entry.value is iterable %}
        <ul>
        {% for value in entry.value %}
            <li>{{ value | nl2br }}</li>
        {% endfor %}
        </ul>
    {% else %}
        {{ entry.value | nl2br }}
    {% endif %}
</p>
{% endfor %}