.qty-box {
    display: flex;
    height: 100%;
    width: fit-content;

    .qty-input {
        outline: none;
        height: 100%;
        min-height: 27px;
        width: 48px;
        padding: 0;
        text-align: center;
        transition: all .2s cubic-bezier(0,0,.26,1);
        border: 1px solid $gray-300;
        border-radius: $border-radius 0 0 $border-radius;
        
        &:focus {
            background: $gray-100;
        }
    }
    
    .qty-btn-container {
        width: 25px;
        position: relative;
        background: $gray-200;
        border: 1px solid $gray-300;
        border-left: none;
        border-radius: 0 $border-radius $border-radius 0;
        overflow: hidden;
        height: 100%;

        .qty-btn {
            width: 100%;
            height: calc(50% - .5px);
            min-height: 12px;
            text-align: center;
            transition: all .2s cubic-bezier(0,0,.26,1);
            border-radius: $border-radius;
            cursor: pointer;
            position: relative;

            &.disabled {
                cursor: not-allowed;
                opacity: .5;
            }

            &:not(.disabled):hover {
                background: darken($gray-300, 10%);
            }

            & > .qty-sign {
                color: $gray-600;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .qty-btn-seperator {
            height: 1px;
            background: $gray-300;
        }
    }
}