.qty-box {
    width: fit-content;
    margin-left: auto;

    .qty-input {
        width: $qty-box-width;
        padding: $qty-box-padding-y $qty-box-padding-x;
        border: 1px solid $qty-box-border;
        border-right: 0;
        outline: none;
        @include transition(all .2s cubic-bezier(0, 0, .26, 1));

        &:focus {
            background-color: $qty-box-bg;
        }
    }

}
.qty-btn-container {
    width: $qty-box-btn-width;
    @include border-radius(0 $border-radius $border-radius 0);

    .qty-btn {
        background-color: $qty-box-bg;
        border: 1px solid $qty-box-border;
        box-shadow: none;
        @include border-radius(0 $border-radius $border-radius 0);

        + .qty-btn {
            border-top: 0;
        }

        &.disabled {
            cursor: not-allowed;
        }

        &:not(.disabled):hover {
            background: darken($qty-box-bg, 10%);
        }
    }
}
