<script type="x/template" id="vue-change-email-form">
    <form @submit.prevent="submit()" class="clearfix">
        <div class="input-unit mt-3">
            <label :for="'new-mail' + _uid" class="disabled">{{ trans("Ceres::Template.myAccountNewEmail") }}</label>
            <input type="email" name="email" class="form-control" :id="'new-mail' + _uid" :value="newMail" disabled>
        </div>

        <div class="input-unit">
            <label :for="'password' + _uid">{{ trans("Ceres::Template.loginPassword") }}</label>
            <input type="password" name="password" autocomplete="current-password" class="form-control" :id="'password' + _uid" v-model="password">
        </div>

        <button type="submit" :disabled="isDisabled" class="btn btn-primary btn-appearance float-right btn-medium btn-xs-max-width">
            <span>{{ trans("Ceres::Template.myAccountChangeEmail") }}</span>
            <i class="fa fa-envelope" v-waiting-animation="isDisabled" aria-hidden="true"></i>
        </button>
    </form>
</script>