<script type="x/template" id="vue-country-select">
    <div>
        <div class="input-unit" data-validate="" data-model="countryId">
            <select  :value="selectedCountryId" class="custom-select" @change="countryChanged($event.target.value)">
                <option :value="country.id" :selected="country.id === selectedCountryId" v-for="country in countryList">
                    ${ country.currLangName }
                </option>
            </select>
            <label>{{ trans("Ceres::Template.headerCountry") }}</label>
        </div>

        <template v-if="isInOptionalFields('stateId')">
            <div
                class="input-unit"
                v-if="stateList && stateList.length > 0"
                v-validate="isInRequiredFields('stateId')"
                data-model="stateId">
                <select :value="selectedStateId" class="custom-select" @change="stateChanged($event.target.value)">
                    <option :selected="selectedStateId === null">{{ trans("Ceres::Template.addressPleaseSelect") }}</option>
                    <option :value="state.id" :selected="state.id === selectedStateId" v-for="state in stateList">
                        ${ state.name }
                    </option>
                </select>
                <label>
                    ${ transformTranslation("Ceres::Template.headerState", "stateId") }
                </label>
            </div>
        </template>
    </div>
</script>
