<script type="x/template" id="vue-guest-login">
    <div>
        <form :id="'guest-login-form-' +_uid" class="m-b-1">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-unit" data-validate="mail">
                        <input type="email" name="email" id="txt_email" v-model="email">
                        <label for="txt_email">{{ trans("Ceres::Template.accEmail") }}*</label>
                    </div>
                </div>

                <div class="col-xs-4 offset-xs-8">
                    <button @click.prevent="validate" :disabled="isDisabled" class="btn btn-primary btn-medium pull-xs-right">
                        <i v-waiting-animation="isDisabled" class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ trans("Ceres::Template.generalNext") }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>
