{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-reset-password-form">
    <div>
        <form id="reset-password-form-${_uid}" class="m-b-1">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-unit" data-validate="text">
                        <input type="password" name="password" id="txt_password_first" v-model="passwordFirst">
                        <label for="txt_password_first">Neues Passwort*</label>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="input-unit" data-validate="text">
                        <input type="password" name="password" id="txt_password_second" v-model="passwordSecond">
                        <label for="txt_password_second">Passwort wiederholen*</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>
