<script type="x/template" id="vue-salutation-select">
    <select  v-model="addressData.addressSalutation" class="custom-select">
        <option v-bind:value="$index" v-for="salutation in currentSalutation">
            ${ salutation }
        </option>
    </select>
</script>