{% set configItemName = config("PluginCallisto.item.name") %}

<script type="x/template" id="vue-basket-preview-item">
  <article class="cmp cmp-basket-preview-item" :class="{ 'wait': waiting }">
      <div class="basket-item-quantity">
          <quantity-input @quantity-change="updateQuantity" :value="basketItem.quantity"></quantity-input>
      </div>

      <div class="basket-item-image">
          <div class="square-container">
              <div class="square-inner center-xy main-image">
                  <img class="img-fluid" :src="basketItem.variation | itemImage" alt="${ basketItem.variation.itemDescription.name1 }">
              </div>
          </div>
      </div>

      <div class="basket-item-infos small">
          <a class="clearfix" :href="basketItem.variation | itemURL">
              <div class="item-name">
                ${ items[basketItem.variationId].itemDescription | itemName( {{configItemName}} ) } ${ items[basketItem.variationId].variationBase.variationName }
              </div>
          </a>
          <div class="item-unit-price">
              ${ getBasePrice(basketItem) } / {{ trans("PluginCallisto::Callisto.itemPerPeace") }}
          </div>
          <div class="item-total-price">
              ${ calcPrice(basketItem) }
          </div>

          <button type="button" id="deleteBtn-${ basketItem.variationId }" class="item-remove btn btn-labeled btn-link btn-sm" @click="deleteItem(basketItem, $event)">
              <span class="message">
                   {{ trans("PluginCallisto::Callisto.generalDelete") }}
              </span>
              <span class="btn-label">
                  <i class="fa fa-times"></i>
              </span>
          </button>
      </div>
  </article>
</script>
