<script type="x/template" id="vue-add-to-wish-list">
        <a class="text-muted small add-to-wish-list" :class="{active: isVariationInWishList}" @click.prevent="switchState()" data-toggle="tooltip" data-placement="top" title="">
            <i v-waiting-animation="isLoading" class="fa fa-heart text-appearance"></i>
            {{ trans("Ceres::Template.singleItemWishList") }}
        </a>
</script>
