<script type="x/template" id="vue-add-to-wish-list">
    <a class="btn btn-link btn-sm text-muted"
       @click.prevent="switchState()"
       data-toggle="tooltip"
       data-placement="top"
       title="">
        <i v-waiting-animation="isLoading" class="fa fa-heart default-float" :class="{'text-appearance text-danger': isVariationInWishList}"></i>
        {{ trans("Ceres::Template.singleItemWishList") }}
    </a>
</script>
