{% set itemEachTranslation = trans("Ceres::Template.itemEach") %}

<script type="x/template" id="vue-graduated-prices">
    <div class="m-y-1" v-if="graduatedPrices[0]">
        <b>{{ trans("Ceres::Template.graduatedPrices") }}:</b>

        <table class="graduated-prices-table text-muted">
            <tr v-for="price in graduatedPrices | orderBy 'position'">
                <td>ab ${ price.minimumOrderQuantity } {{ itemEachTranslation }}</td>
                <td>${ price.price | currency }</td>
            </tr>
        </table>

        <hr>

    </div>
</script>
