<script type="x/template" id="vue-graduated-prices">
    <div>
        <div class="m-y-1" v-if="graduatedPrices[0]">
            <b>{{ trans("Ceres::Template.graduatedPrices") }}:</b>
            
            <table class="graduated-prices-table text-muted">
                <tr v-for="(price, index) in graduatedPrices">
                    <td>{{ trans("Ceres::Template.generalFrom") }} ${ price.minimumOrderQuantity }</td>
                    <td>
                        ${ price.unitPrice.formatted }
                        <transition name="fade">
                            <i class="fa fa-lg fa-check-circle-o m-l-1" v-if="index === activeGraduationIndex" aria-hidden="true"></i>
                        </transition>
                    </td>
                </tr>
            </table>

            <hr>

        </div>
    </div>
</script>
