

<script type="x/template" id="vue-item-image-carousel">
    <div itemscope itemtype="http://schema.org/Thing">
        <div id="single-carousel" class="owl-carousel owl-theme owl-single-item" ref="single">
            <div v-for="image in singleImages">
                <a :href="image.url" data-lightbox="single-big-image-gallery">
                    <img class="owl-lazy" :data-src="image.url" :alt="getAltText(image)" :title="getItemName()" itemprop="image">
                </a>
            </div>
        </div>
        <div v-if="showThumbs" id="thumb-carousel" class="owl-thumbs owl-carousel owl-theme owl-single-item" ref="thumbs">
            <img
                @click="goTo(index)"
                class="owl-thumb border-appearance"
                v-bind:class="{ 'active': currentItem === index}"
                :src="imagePreview.url"
                :alt="getAltText(imagePreview)"
                :title="getItemName()"
                v-for="(imagePreview, index) in carouselImages">
        </div>
    </div>
</script>
