<script type="x/template" id="vue-item-data-table">
    <table class="table table-striped table-hover table-sm">
        <tbody>
            <template v-for="itemDataAccessor in itemInformation">
                <tr v-if="isCheckedAndNotEmptyNew(itemDataAccessor)">
                    <td>
                        ${ getTranslation(itemDataAccessor) }
                    </td>

                    <td>
                        ${ getFieldValue(itemDataAccessor) }
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</script>
