<script type="x/template" id="vue-item-image-carousel">
    <div itemscope itemtype="http://schema.org/Thing">
        <div id="single-carousel" class="owl-carousel owl-theme owl-single-item" ref="single">
            <div v-for="image in singleImages">
                <a :href="image.url" data-lightbox="single-big-image-gallery">
                    <img :alt="getAltText(image)" class="owl-lazy" :data-src="image.url" itemprop="image">
                </a>
            </div>
        </div>
        <div id="thumb-carousel" class="owl-thumbs owl-carousel owl-theme owl-single-item" ref="thumbs">
            <img
                :alt="getAltText(imagePreview)"
                @click="goTo(index)"
                class="owl-thumb"
                v-bind:class="{ 'active': currentItem === index }"
                :src="imagePreview.url"
                v-for="(imagePreview, index) in carouselImages"
            >
        </div>
    </div>
</script>
