{{ component( "Ceres::Item.Components.OrderPropertyListGroup" ) }}

<script type="x/template" id="vue-order-property-list">
    <div>
        <order-property-list-group v-for="propertyGroup in propertyGroups" :key="propertyGroup.id" :property-group="propertyGroup"></order-property-list-group>
    </div>
</script>
