<script type="x/template" id="vue-quantity-input">
    <div class="input-group vert" v-if="vertical">
        <span class="input-group-btn" v-tooltip="_max && _value === internalMax && internalMax != 0" data-toggle="tooltip" 
                    data-placement="left" :title="'{{ trans("Ceres::Template.orderQuantityMax") }}:' + _max">
            <button class="btn btn-secondary" :class="{'disabled': _max && _value === internalMax || waiting}" type="button" @click="countValueUp()">+</button>
        </span>

        <input type="text" class="form-control text-xs-center" size="4" maxlength="4" v-model="_value">

        <span class="input-group-btn" v-tooltip="_min && _value === _min && _min === internalMin" data-toggle="tooltip"
                    data-placement="left" :title="'{{ trans("Ceres::Template.orderQuantityMin") }}:' + _min">
            <button class="btn btn-secondary" :class="{'disabled': _min && _value === _min && _min === internalMin || _value <= 1 || waiting}" type="button" @click="countValueDown()">-</button>
        </span>
    </div>

    <div class="input-group" v-else>
        <span class="input-group-btn" v-tooltip="_min && _value === _min && _min === internalMin" data-toggle="tooltip"
                    data-placement="bottom" :title="'{{ trans("Ceres::Template.orderQuantityMin") }}:' + _min">
            <button class="btn btn-secondary" :class="{'disabled': _min && _value === _min && _min === internalMin || _value <= 1 || waiting}" type="button" @click="countValueDown()">-</button>
        </span>

        <input type="text" class="form-control text-xs-center" size="4" maxlength="4" v-model="_value">

        <span class="input-group-btn" v-tooltip="_max && _value === internalMax && internalMax != 0" data-toggle="tooltip" 
                    data-placement="bottom" :title="'{{ trans("Ceres::Template.orderQuantityMax") }}:' + _max">
            <button class="btn btn-secondary" :class="{'disabled': _max && _value === internalMax || waiting}" type="button" @click="countValueUp()">+</button>
        </span>
    </div>
</script>
