{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}

<script type="x/template" id="vue-single-item">
    <div>
        <slot name="default" :getDataField="getDataField" :getFilteredDataField="getFilteredDataField">
            <div class="single container-max page-content">
                <div class="row mt-5 position-relative">

                    <div class="col-12 col-md-7" id="item-container">
                        <slot name="image-carousel"></slot>
                    </div>

                    <div class="col-12 col-md-5">
                        <div v-stick-in-parent data-sticky-container="#item-container">
                            {% include "Ceres::Item.Components.SingleItem.SingleItem_Details" %}
                        </div>
                    </div>

                    <div class="col-12 col-md-7">
                        {% include "Ceres::Item.Components.SingleItem.SingleItem_InformationTable" %}
                    </div>

                </div>

                <slot name="item-list-container"></slot>
                <slot name="feedback-container"></slot>
            </div>
        </slot>
    </div>
</script>
