<script type="x/template" id="vue-tags">
    <div v-if="tags" class="pt-1 pb-1">
        <a v-for="tag in tags" :style="getStyles(tag)" @click="navigateToSearch(tag)" class="badge mr-1 p-2">
            <span>${ tag.names.name }</span>
        </a>
    </div>
</script>
