<script type="x/template" id="vue-variation-select">
    <div class="row">

        <div class="col-12 variation-select" v-for="attribute in attributes">
            <div class="input-unit" ref="attributesContaner" v-if="attribute.type === 'dropdown'">
                <select class="custom-select" @change="selectAttribute(attribute.attributeId, $event.target.value)">
                    <option :value="null" v-if="hasEmptyOption" :selected="selectedAttributes[attribute.attributeId] === null">{{ trans("Ceres::Template.singleItemPleaseSelect") }}</option>
                    <option
                        v-for="value in attribute.values"
                        :value="value.attributeValueId"
                        :selected="value.attributeValueId === selectedAttributes[attribute.attributeId]">
                        ${ value.name } ${ isAttributeSelectionValid(attribute.attributeId, value.attributeValueId) ? "" : "*" }
                    </option>
                </select>
                <label v-tooltip="isTextCut(attribute.name)" data-toggle="tooltip" data-placement="top" :title="attribute.name">${ attribute.name }</label>
            </div>

            <div v-else-if="attribute.type === 'box'">
                <span class="text-muted">${ attribute.name }:</span> <b>${ getAttributeValue(attribute.attributeId) }</b>
                <div class="v-s-boxes py-3 d-flex">
                    <div class="v-s-box mr-3 px-3 d-flex bg-white flex-center"
                        v-for="value in attribute.values"
                        @click="selectAttribute(attribute.attributeId, value.attributeValueId)"
                        :class="{ 'active': value.attributeValueId === selectedAttributes[attribute.attributeId], 'invalid': !isAttributeSelectionValid(attribute.attributeId, value.attributeValueId) }">
                        <span>${ value.name }</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 variation-select" v-if="units.length">
            <div class="input-unit">
                <select class="custom-select" @change="selectUnit($event.target.value)">
                    <option
                        v-for="(unit, unitId) in units"
                        :value="unitId"
                        :selected="parseInt(unitId) === selectedUnit">
                        ${ unit } ${ isUnitSelectionValid(unitId) ? "" : "*" }
                    </option>
                </select>
                <label>{{ trans("Ceres::Template.singleItemContent") }}</label>
            </div>
        </div>
       
    </div>
</script>
