<script type="x/template" id="vue-variation-select">
    <div class="row">

        <div class="col-12 variation-select" v-for="attribute in attributes">
            <div class="input-unit" ref="attributesContaner">
                <select class="custom-select" @change="selectAttribute(attribute.attributeId, $event.target.value)">
                    <option :value="null" v-if="hasEmptyOption" :selected="selectedAttributes[attribute.attributeId] === null">{{ trans("Ceres::Template.singleItemPleaseSelect") }}</option>
                    <option
                        v-for="value in attribute.values"
                        :value="value.attributeValueId"
                        :selected="value.attributeValueId === selectedAttributes[attribute.attributeId]">
                        <template v-if="isAttributeSelectionValid(attribute.attributeId, value.attributeValueId)">
                            ${ value.name }
                        </template>
                        <template v-else>
                            {{ trans("Ceres::Template.singleItemInvalidAttribute", { "name": "${ value.name }" }) }}
                        </template>
                    </option>
                </select>
                <label v-tooltip="isTextCut(attribute.name)" data-toggle="tooltip" data-placement="top" :title="attribute.name">${ attribute.name }</label>
            </div>
        </div>

        <div class="col-12 variation-select" v-if="Object.keys(units).length">
            <div class="input-unit">
                <select class="custom-select" @change="selectUnit($event.target.value)">
                    <option
                        v-for="(unit, unitId) in units"
                        :value="unitId"
                        :selected="parseInt(unitId) === selectedUnit">
                        <template v-if="isUnitSelectionValid(unitId)">
                            ${ unit }
                        </template>
                        <template v-else>
                            {{ trans("Ceres::Template.singleItemInvalidAttribute", { "name": "${ unit }" }) }}
                        </template>
                    </option>
                </select>
                <label>{{ trans("Ceres::Template.singleItemContent") }}</label>
            </div>
        </div>
       
    </div>
</script>
