<script type="x/template" id="vue-wish-list">
    <div class="col-xs-6">
        <a class="text-muted small wishList" :class="{active: isActive}" href="javascript:void(0)" @click="switchState()">
            <i class="fa fa-heart"></i>
            {{ trans("Ceres::Template.itemWishList") }}
        </a>
    </div>
</script>