{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{{ Twig.component( "Ceres::Item.Components.GraduatedPrices" ) }}

<div class="widget" style="height:20vh;">
    <div class="widget-inner">
        <graduated-prices template="#vue-graduated-prices"></graduated-prices>
    </div>
</div>