{# TODO use js or widget config #}
{% set itemData = config("Ceres.item.data") | split(', ') %}

<div class="widget widget-item-image widget-{{ appearance | default("primary") }}">
    <graduated-prices template="#vue-graduated-prices"></graduated-prices>

    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
        <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.unitPrice.value > 0 && currentVariation.prices.rrp.unitPrice.value > currentVariation.prices.default.unitPrice.value">
            <del class="text-muted small" v-text="currentVariation.prices.rrp.unitPrice.formatted | itemCrossPrice">
                {# TODO ADD placeholder #}
            </del>
        </div>
    {% endif %}

    <span class="price h1">
        <span
            ref="variationTotalPrice"
            :content="currentVariation.prices.default.price.value"
            v-text="variationTotalPrice | currency(currentVariation.prices.default.currency)">
            {# TODO ADD placeholder #}
        </span>
        <sup>*</sup>
        <span :content="currentVariation.prices.default.currency"></span>
    </span>

    <div class="base-price text-muted my-3" v-if="currentVariation.unit">
        <div>
            {{ trans("Ceres::Template.singleItemContent") }}
            <span v-text="currentVariation.unit.content | numberFormat">
                {# TODO ADD placeholder #}
            </span>
            <span v-text="currentVariation.unit.names.name">
                {# TODO ADD placeholder #}
            </span>
        </div>
        <div v-if="currentVariation.variation.mayShowUnitPrice">
            {{ trans("Ceres::Template.singleItemUnitPrice") }}
            <span class="base-price-value" v-text="variationGraduatedPrice.basePrice | specialOffer(currentVariation.prices, 'basePrice')">
                {# TODO ADD placeholder #}
            </span>
        </div>
    </div>
</div>
