@each $color, $value in map-merge($theme-colors, ("white": $white)) {
    .bg-#{$color} {
        @include context-bg($value);
    }
}

.bg-cover {
    background-size: cover !important; // stylelint-disable-line declaration-no-important
}
.bg-contain {
    background-size: contain !important; // stylelint-disable-line declaration-no-important
}
.bg-auto {
    background-size: auto !important; // stylelint-disable-line declaration-no-important
}
.bg-scroll {
    background-attachment: scroll !important; // stylelint-disable-line declaration-no-important
}
.bg-repeat {
    background-repeat: repeat !important; // stylelint-disable-line declaration-no-important
}

.breadcrumbs {
    .breadcrumb-item {
        span {
            color: $gray-700;
        }
    }
}

.color-gray-700 {
    color: $gray-700 !important;
}

.articlenumber,
.producertag {
    b, span {
        color: $gray-700;
    }
}
.cmp-contact {
    .widget {
        .input-unit,
        .widget-inner .widget-text-input .input-unit {
            label {
                color: $gray-700;
            }
        }
    }
}

.widget-newsletter {
    .widget-inner {
        form {
            .input-unit {
                label {
                    color: $gray-700;
                }
            }
        }
    }
}
.widget-newsletter-unsubscribe {
    .widget-inner {
        .input-unit {
            label {
                color: $gray-700;
            }
        }
    }
}
.login-pwd-reset label[for^="email"] {
    color: $gray-700;
}
  
.login-pwd-reset label[for^="password"] {
    color: $gray-700;
}