@each $color, $value in map-merge($theme-colors, ("white": $white)) {
    .bg-#{$color} {
        @include context-bg($value);
    }
}

.bg-cover {
    background-size: cover !important; // stylelint-disable-line declaration-no-important
}
.bg-contain {
    background-size: contain !important; // stylelint-disable-line declaration-no-important
}
.bg-auto {
    background-size: auto !important; // stylelint-disable-line declaration-no-important
}
.bg-scroll {
    background-attachment: scroll !important; // stylelint-disable-line declaration-no-important
}
.bg-repeat {
    background-repeat: repeat !important; // stylelint-disable-line declaration-no-important
}
