.input-group{

	.input-unit + .input-group-btn
	{
		padding-bottom: $grid-gutter-width/2;

		.btn
		{
			height: calc(2.8em + 1px);
		}
	}

	&.vert{
		.input-group-btn{
			display: block;
			width: 100%;

			.btn{
				width: 100%;
				margin: 0;
			}
		}

		//.form-control:not(:last-child),
		.input-group-addon:not(:last-child),
		.input-group-btn:not(:last-child) > .btn,
		.input-group-btn:not(:last-child) > .btn-group > .btn,
		.input-group-btn:not(:last-child) > .dropdown-toggle,
		.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
		.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
		  	@include border-bottom-radius(0);
		  	@include border-top-radius($border-radius);
		  	border-bottom: none;
		}
		.input-group-addon:not(:last-child) {
		  	border-bottom: 0;
		}
		.input-group .form-control:not(:first-child),
		.input-group-addon:not(:first-child),
		.input-group-btn:not(:first-child) > .btn,
		.input-group-btn:not(:first-child) > .btn-group > .btn,
		.input-group-btn:not(:first-child) > .dropdown-toggle,
		.input-group-btn:not(:last-child) > .btn:not(:first-child),
		.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
		  	@include border-bottom-radius($border-radius);
		  	@include border-top-radius(0);
		  	border-top: none;
		}
		.form-control + .input-group-addon:not(:first-child) {
		  	border-top: 0;
		}

		.form-control{
			display: block;
			float: none;
			border-radius: 0!important;
		}
	}
}

button:focus {
	outline:none;
}

// button combinations 
.btn-group.extended,
.input-group.extended{
    display: flex;

    .extended{
        flex: 1;

        .btn{
            width: 100%;
        }
    }

    .input-group-btn{
        width: auto;
    }
}

.btn {
	outline: 0 !important;
	word-break: break-word;

	& .btn-label {
		&.btn-trans {
			background: transparent;
		}
	}

	& > .fa {
		float: right;

		&.default-float {
			float: none;
		}
	}

	& > span + .fa {
		margin-left: 5px;
		margin-top: 1px;
	}

	&.btn-medium {
		min-width: 10rem;
	}

	&.btn-md {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}

	&.btn-medium-large {
		min-width: 12rem;
	}

	&.btn-large {
		min-width: 15rem;
	}

	&.btn-block {
		> .fa {
			line-height: inherit;
			margin-top: 0;
		}
	}
}

.btn-xs-max-width {
	@include media-breakpoint-down(xs) {
		width: 100% !important;
	}
}

.btn-labeled {
	padding-top: 0;
    padding-bottom: 0;
	
	@extend .small;

	transition: all 200ms;

	.btn-label {
		position: relative;
		right: -#{$btn-padding-x-sm};
		display: inline-block;
		padding: $btn-padding-y-sm $btn-padding-x-sm;
		background-color: rgba(0,0,0,0.15);
		border-top-right-radius: $border-radius-sm;
		border-bottom-right-radius: $border-radius-sm;
	}

	&.label-right{
		.btn-label {
			right: auto;
			left: -#{$btn-padding-x-sm};
		}
	}


	&.btn-link{
		padding-left: 0;
		padding-right: 0;

		.btn-label{
			background-color: rgba(0,0,0,0);
			padding: $btn-padding-y-sm 0;
		}
	}
}

.btn-icon
{
	padding: .6rem;
	.fa
	{
		text-align: center;
	}

	&.btn-sm
	{
		padding: .4rem;
	}

	&.btn-lg
	{
		padding: .95rem;
	}

	&.btn-circle
	{
		border-radius: 50%;
	}
}

.btn-default {
	@include button-variant($gray-lighter, $gray-lighter);
}

.btn-collapse {
    display: block;
    position: relative;
    z-index: 999;
    width: 100%;
    text-align: center;
	cursor: pointer;
	font-size: 85%;

    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 1.5em;
        border-bottom: 1px solid $gray-lighter;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }

    &:after{
        content: attr(data-show-more);
        font-weight: 700;
        color: $gray-light;
        display: inline-block;
        position: relative;
        background-color: white;
        padding: 0 .5em;
        top: -.8em;
	}

	i {
		color: $gray-light;
		position: absolute;
		left: 0;
		right: 0;
		top: 1.5em;
	}
	
	&.opened,
	&:not(.collapsed) {
		&:after {
			content: attr(data-show-less);
		}

		i {
			transform: rotate(180deg);
			top: 0;
			bottom: 1.5em;
		}
	}
}

// Responsive button text and icon visibility

@each $bp in map-keys($grid-breakpoints) {
    .btn-only-icon-#{$bp}-up {
        @include media-breakpoint-up($bp) {
        width: 2.2rem !important;
        padding-right: 8px;
        height: 2.2rem;

        & span {
            display: none !important;
        }
        }
    }
    .btn-only-icon-#{$bp}-down {
        @include media-breakpoint-down($bp) {
        & span {
            display: none !important;
        }
        i {
            margin: 0 !important;
            float: none !important;
        }
        }
    }
}