.modal-header {
    align-items: center;
}

@include media-breakpoint-down(xs) {
    html.facebook {
        .checkout .modal.show,
        .myaccount .modal.show {
            position: absolute !important;
            min-height: 100vh;
            transform: translateZ(0);
        }
        body.modal-open {
            position: relative !important;
            overflow: auto !important;
        }
    }
}
