.modal-header {
  align-items: center;
}

.modal-footer {
  >.fa {
    margin-top: 1px;
    margin-left: 5px;
  }
}

@include media-breakpoint-down(xs) {     
    html.facebook {
        .checkout .modal.show {
            position: absolute !important;
            transform: translateZ(0);
        }
        body.modal-open {
            position: relative !important;
            overflow: auto !important;
        }
    }
}
