.modal-header {
    align-items: center;
}

// stylelint-disable
@include media-breakpoint-down(xs) {
    html.facebook {
        .checkout .modal.show,
        .myaccount .modal.show {
            position: absolute !important;
            min-height: 100vh;
            transform: translateZ(0);
        }
        body.modal-open {
            position: relative !important;
            overflow: auto !important;
        }
    }
}

.modal-multi-row {
    .row {
        background-color: $gray-100;
        border: 1px solid $gray-300;
        margin: 0 0 1rem 0;
        padding-top: 1rem;
    }
}
