html {
    font-size: $font-size-root;
}

body {
    overflow-x: hidden;
}

.app {
    .wrapper-right {
        top: 0;
        bottom: 0;
        left: 100%;
        z-index: $zindex-wrapper;
        width: 0;

        @include transition(width 310ms 0ms, transform 300ms ease-in-out);
        transform: translateX(0);
    }

    // body state modifiers
    &.open-right {

        overflow: hidden;
        @include media-breakpoint-down(sm) {
            position: fixed;

            // disable top offset for fixed navigation on small devices
            margin-top: 0 !important; // stylelint-disable-line declaration-no-important
        }

        // dark overlay on body
        &::after {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $zindex-7;
            content: "";
            background-color: rgba(0, 0, 0, .5);
        }

        .wrapper-right {
            width: 100vw;
            transform: translateX(-100%);
            @include transition(width 0ms, transform 300ms 10ms ease-in-out);
            @include media-breakpoint-up(md) {
                width: $aside-columns-width;
            }
        }
    }

    &.open-hover {
        @include media-breakpoint-down(xs) {
            position: fixed;
        }

        .basket-preview-hover-wrapper {
            display: block;
            transform: translateX(0%);
        }
    }
}
