<script type="x/template" id="vue-payment-provider-select">
    <div class="cmp cmp-method-list list m-b-3" v-bind:class="{ 'error': this.checkoutValidation.paymentProvider.showError }">
        <ul class="method-list">
            <li v-for="paymentProvider in checkout.paymentDataList" class="method-list-item" data-id="${paymentProvider.id}">
                <input
                        type="radio"
                        id="paymentMethod${ _uid }${ paymentProvider.id }"
                        name="MethodOfPaymentID"
                        :value="paymentProvider.id"
                        @change="onPaymentProviderChange()"
                        v-model="checkout.methodOfPaymentId"
                >
                <label for="paymentMethod${ _uid }${ paymentProvider.id }">
                    <div class="icon">
                        <div class="square-container">
                            <div class="square-inner center-xy">
                              <img alt="${ paymentProvider.name }" :src="paymentProvider.icon">
                            </div>
                        </div>
                    </div><!--
                    --><div class="content">
                    ${ paymentProvider.name }
                        <small v-if="paymentProvider.sourceUrl" class="pull-xs-right">
                            <a href="${ paymentProvider.sourceUrl }" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> details</a>
                        </small>
                        <div>
                            <small>
                                ${ paymentProvider.description | truncate '150' }
                            </small>
                        </div>
                    </div>
                </label>
            </li><!--
            -->
        </ul>
    </div>
</script>
