<script type="x/template" id="vue-payment-provider-select">
    <div class="cmp cmp-method-list list mb-4" v-bind:class="{ 'error': this.showError }">
        <ul class="method-list component-loading" :class="{ 'isLoading': isBasketLoading || isCheckoutReadonly }">
            <li v-for="paymentProvider in methodOfPaymentList" class="method-list-item" :data-id="paymentProvider.id">
                <input
                        type="radio"
                        :id="'paymentMethod' + _uid + paymentProvider.id"
                        :name="'MethodOfPaymentID' + _uid"
                        :value="paymentProvider.id"
                        @change="onPaymentProviderChange(paymentProvider)"
                        :checked="methodOfPaymentId === paymentProvider.id"
                        :disabled="!paymentProvider.isSelectable || isCheckoutReadonly"
                >
                <label class="provider-select-label" :for="'paymentMethod' + _uid + paymentProvider.id"
                       :class="paddingClasses"
                       :style="paddingInlineStyles"
                       v-tooltip="isPaymentMethodExcluded(paymentProvider.id)"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-title="{{ trans("Ceres::Template.checkoutChangeShippingProfileHint") }}">
                    <div class="icon">
                        <div class="square-container">
                            <div class="square-inner center-xy">
                              <img :src="paymentProvider.icon" :alt="paymentProvider.name" :title="paymentProvider.name" >
                            </div>
                        </div>
                    </div><!--
                    --><div class="content">
                    ${ paymentProvider.name }
                        <small v-if="paymentProvider.sourceUrl" class="float-right">
                            <a :href="paymentProvider.sourceUrl" rel="noopener noreferrer" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> details</a>
                        </small>
                        <div>
                            <small>
                                ${ paymentProvider.description | truncate('150') }
                            </small>
                        </div>
                    </div>
                </label>
            </li><!--
            -->
        </ul>
    </div>
</script>
