<script type="x/template" id="vue-payment-provider-select">
    <div class="cmp cmp-method-list list m-b-3" v-bind:class="{ 'error': this.checkoutValidation.paymentProvider.showError }">
        <ul class="method-list">
            <li v-for="paymentProvider in checkout.paymentDataList" class="method-list-item" data-id="${paymentProvider.id}">
                <input
                        type="radio"
                        id="paymentMethod${ _uid }${ paymentProvider.id }"
                        name="MethodOfPaymentID"
                        :value="paymentProvider.id"
                        @change="onPaymentProviderChange()"
                        v-model="checkout.methodOfPaymentId"
                >
                <label for="paymentMethod${ _uid }${ paymentProvider.id }">
                    <div class="icon">
                        <div class="square-container">
                            <div class="square-inner center-xy">
                              <img alt="${ paymentProvider.name }" :src="paymentProvider.icon">
                            </div>
                        </div>
                    </div><!--
                    --><div class="content">
                    ${ paymentProvider.name }
                        <div>
                            <small>
                                ${ paymentProvider.fee | currency }
                            </small>
                            <small class="pull-xs-right">
                                {#externe quelle einbinden#}
                                <a href="#"><i class="fa fa-external-link" aria-hidden="true"></i> details</a>
                            </small>
                        </div>
                        <div>
                            {#class truncate-xxx must always be the last given class#}
                            <small class="truncate-150">
                                ${ paymentProvider.description } Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sd diam vo
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sd diam vo.
                            </small>
                        </div>
                    </div>
                </label>
            </li><!--
            -->
        </ul>
    </div>
</script>
*
