{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-place-order">
    <div>
        {% set buttonReplacement = LayoutContainer.show("Ceres::Checkout.PlaceOrder") %}
        {% if buttonReplacement|trim is not empty %}
            {{ buttonReplacement }}
        {% else %}
            <button class="btn btn-primary btn-block" @click="preparePayment()" :disabled="waiting || waitingForInput">
                <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ trans("Ceres::Template.orderBuyNow") }}
            </button>
        {% endif %}

        <div class="modal fade" v-el:modal data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body" v-el:modal-content>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</script>