{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component( "Ceres::MyAccount.Components.OrderHistory" ) }}

<div>
    <p>Dies ist ein TestWidget</p>

    <order-history></order-history>
</div>