<script type="x/template" id="vue-last-seen-item-list">
    <div v-if="items.length">
        <div class="col-xs-12">
            <slot name="heading"></slot>
        </div>
        <container-item-list :items="items" :items-per-page="itemsPerPage"></container-item-list>
    </div>
</script>