<script type="x/template" id="vue-last-seen-item-list">
    <div v-if="items.length">
        <slot name="heading"></slot>
        <div class="row clearfix">
            <container-item-list :items="items" :items-per-page="itemsPerPage"></container-item-list>
        </div>
    </div>
</script>