{{ component( "Ceres::ItemList.Components.CategoryItem") }}
{{ component( "Ceres::PageDesign.Components.Carousel" ) }}

<script type="x/template" id="vue-last-seen-item-list">
    <div class="row" v-show="items.length">
        <div class="col-12">
            <slot name="heading"></slot>
        </div>

        <div class="col-12">
            <carousel :items-per-page="itemsPerPage">
                <template slot="items" v-for="item in items">
                    <category-item
                        :key="item.id"
                        :item-data="item.data"
                        :decimal-count="{{ ceresConfig.item.storeSpecial }}"
                        :disable-carousel-on-mobile="items.length > itemsPerPage"
                        :padding-classes="paddingClasses"
                        :padding-inline-styles="paddingInlineStyles">
                        <template #before-prices>
                            <div v-html="getContainerContentById(item.id, 'beforePrices')"></div>
                        </template>
                        <template #after-prices>
                            <div v-html="getContainerContentById(item.id, 'afterPrices')"></div>
                        </template>
                    </category-item>
                </template>
            </carousel>
        </div>
    </div>
</script>
