<script type="x/template" id="vue-last-seen-item-list">
    <div class="row" v-if="items.length">
        <div class="col-12">
            <slot name="heading"></slot>
        </div>
        <div class="col-12">
            <container-item-list :items="items" :items-per-page="itemsPerPage"></container-item-list>
        </div>
    </div>
</script>