{% extends getPartial('page-design') %}

{% set itemSort             = request.get("itemSorting") | default( config('Ceres.sort.defaultSorting') ) | split('_') %}
{% set orderBy              = itemSort[0] %}
{% set orderByKey           = itemSort[1] | default('ASC') %}
{% set variationShowType    = config("Ceres.item.variation_show_type") %}
{% set categoryParams = {
'variationShowType' : config("Ceres.item.variation_show_type"),
'itemsPerPage'      : request.get("items_per_page") | default( config('Ceres.pagination.defaultItemsPerPage') ),
'orderBy'           : itemSort[0],
'orderByKey'        : itemSort[1] | default('ASC'),
'facetParams'       : request.get("f")
} %}

{% set page                 = request.get("page") | default(1) %}

{% set paginatedResult      = services.itemLoader.loadForTemplate('Ceres::Category.Item.CategoryItem', itemLoaderPresets.categoryList, {'categoryId':category.id, 'page':page, 'itemsPerPage':categoryParams.itemsPerPage, 'facets': facetParams}) %}

{% set itemList             = paginatedResult.documents %}
{% set paginationType       = config("Ceres.pagination.position") %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.ItemList") }}

    <resource name="filteredItemList" :data="{}"></resource>
    <resource name="filterParams" :data="{count: 0}"></resource>

    <div class="categoriegrid page-content container-max">
        <div class="row m-t-1">
            <div class="col-xs-12">
                <h1 class="h4">{{ category.details.first.name }}</h1>
            </div>
        </div>

        <div class="col-xs-12 col-lg-9">
            <item-filter-list :facets="{{ paginatedResult.facets | json_encode }}"></item-filter-list>
        </div>

        <div class="m-b-3">
            {% include "Ceres::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
        </div>
        <div class="row">
            <div class="col-xs-12">

                <ul class="product-list row grid" v-resource-if:filterParams="count == 0">
                    {% for item in itemList %}
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                        </li>
                    {% endfor %}
                </ul>

                <ul class="product-list row grid" v-resource-if:filterParams="count > 0">
                    <item-list template="#vue-item-list"></item-list>
                </ul>

            </div>
        </div>
    </div>
    <div class="list-controls m-b-3">
        <div class="col-xs-12">
            {% include "Ceres::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
        </div>
    </div>
{% endblock %}