.cmp-method-list {

    .method-list {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .method-list-item {
        display: inline-block;
        width: 100%;
        margin-top: -1px;
        margin-left: -1px;
        vertical-align: top;

        & > input:disabled ~ label,
        & > input:disabled ~ .label {
            cursor: not-allowed;
            opacity: .5;
        }

        input {
            display: none;
            @include transition(box-shadow 2s);
        }

        input:checked + label,
        input:checked + .label {
            box-shadow: inset 0 0 0 .1rem $primary;
        }

        label,
        .label {
            display: flex;
            align-items: center;
            width: 100%;
            height: 5rem;
            padding: .5em;
            margin-bottom: 0;
            overflow: hidden;
            cursor: pointer;
            background-color: $card-bg;
            border: 1px solid $gray-300;
            @include border-radius($border-radius);
        }

        &.has-error label,
        &.has-error .label {
            color: theme-color-level("danger", 6);
            background-color: theme-color-level("danger", -10);
            box-shadow: inset 0 0 0 .1rem theme-color-level("danger", 6);
        }

        .content,
        .icon {
            display: inline-block;
            vertical-align: middle;

            // fix image proportions for safari of the payment/shipping icons
            > img {
                object-fit: contain;
            }
        }

        .content {
            width: calc(100% - 3.5rem); // stylelint-disable-line function-blacklist
            padding-left: .5rem;
        }
    }
    &.list {
        .method-list-item:not(:last-child) {
            margin-bottom: 1em;
        }
        .content {
            position: relative;
            width: calc(100% - 4rem); // stylelint-disable-line function-blacklist
            padding-left: .5rem;
        }
        .icon {
            display: flex;
            width: 4rem;
            max-height: 100%;
            overflow: hidden;
            text-align: center;
        }
    }

    @include media-breakpoint-up(md) {
        .method-list {
            display: flex;
            flex-flow: row wrap;
        }
        .method-list-item {
            display: flex;
            flex-flow: row nowrap;
            width: 50%;
        }
        &.list {
            .method-list-item {
                width: 100%;
            }
        }
    }
}
