<article class="cmp cmp-order-item">

    <div class="item-image">
        <img src="http://placekitten.com/g/80/80">
    </div>

    <div class="item-details small">

        <div class="item-name">
            <h5>Order ID {{ order.id }}</h5>
        </div>

        <div class="row">
            <strong class="col-xs-6 col-sm-5">Auftragsdatum:</strong>
            <span class="col-xs-6 col-sm-7">{{ order.createdAt|date("d.m.Y") }}</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">Empfänger:</strong>
            <span class="col-xs-6 col-sm-7">frontend-studios</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">Status:</strong>
            <span class="col-xs-6 col-sm-7">[{{ order.statusId }}]</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">Versand:</strong>
            <span class="col-xs-6 col-sm-7">Noch nicht versendet</span>
        </div>
        <!-- include id -->
        <input type="checkbox" class="item-toggle toggle-description" id="itemid-${ _uid }" value="">

        <div class="item-description">
            <ul class="m-y-1">
                {% for orderItem in order.orderItems %}
                <li>{{ orderItem.orderItemName }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- include id -->
        <label class="expand-btn" for="itemid-${ _uid }"></label>
    </div>

</article>
