<div id="registration-modal-wrapper">
    <div class="modal fade" id="signup-extended" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Account erstellen</h3>
                </div>
                <div class="modal-body">
                    <registration modal-element="registration-modal-wrapper"></registration>
                </div>
            </div>
        </div>
    </div>
</div>