.categories-list{}

.page-infos{
	display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .product-count{
    	flex: 1;
    }
}


.item-confirm-special-case-close {
  float: right;
}

.item-confirm-special-case-blue {
  float: left;
  width: initial;
  position: absolute;
}

.modal-content-special-case {
  width: 93%;
}

.product-list{
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;

	display: flex;
	flex-flow: row wrap;

//	li{
//        @include make-col-ready(12);
//        @include make-col(12);
//	}
}

.lazy{
    display:none;
}

@include media-breakpoint-up(sm){
    .product-list{
        li{
            display: flex;
        }
    }

    .product-list.grid{

    	li{
            box-shadow: none;
            //@include make-col(6);
            display: flex;
    	}

    }
}

@include media-breakpoint-up(md){
    .product-list.grid{

        li{
            //@include make-col(4);
            display: flex;
        }
    }
}

@include media-breakpoint-up(lg){
      .product-list.grid{

            li{
                //@include make-col(3);
                display: flex;
            }
      }

}

.list-controls {
  position:relative;
  .selected-filters {
    display: inline-block;
    float: right;
    @include media-breakpoint-up(sm){
      margin-right: 3rem;
    }
    padding: .5em;
    .selected-filter {
      font-size: .8rem;
      padding: .5em;
      margin: 0 5px 5px 0;
      float: left;
      cursor: pointer;
      background:$gray-lighter2;
      display: inline-block;
      &:hover {
        background: $gray-lighter;
        color: $brand-danger;
      }
    }
  }
  .filter-toggle {
    display: inline-block;
    float: right;
    padding: .5em;
    &[aria-expanded="true"]{
      i::before {
        content: "\f00d";
        transition: all .1s ease;
      }
    }
  }
  #filterCollapse {
    position: absolute;
    z-index: 9999;
    width: 100%;
    .page-content {
      background: $white;
      padding: 2em !important;
      border:1px solid $gray-lighter2;

      .card {
        background-color: transparent;
        border:0;
        padding-right: 2em;
        h3 {
          text-transform: uppercase;
          font-size: 1.2rem;
          border-bottom: 1px solid $gray-light;
          padding-bottom: .5rem;
          font-weight: bold;
          color: $gray-dark;
        }
        .form-check {
          .form-check-input:checked + label {
            background: $gray-lighter2;
            color: $gray-darker;
            padding-left:1.75rem;
            &::before {
              font-family: 'FontAwesome';
              content: "\f046";
              opacity: 1;
            }
          }
          .form-check-label {
            padding:.5rem 0;
            padding-left: 0;
            color: $gray-dark;
            display:block;
            transition:all .1s ease;
            &:hover{
              background: $gray-lightest;
              color: $gray-dark;
              transition:all .1s ease;
              padding-left:.5rem;
            }
            &::before {
              font-family: 'FontAwesome';
              content: "\f046";
              opacity: 0;
              position: absolute;
              left:.5rem;
            }
          }
          .filter-badge {
            position: absolute;
            display: inline-block;
            font-size: .65rem;
            background: $gray-lighter2;
            padding: .1rem 0;
            color: $gray;
            right:.5rem;
            text-align: center;
            min-width: 3em;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}