.list-controls {
  position:relative;
  .list-controls-inner {
    background:darken($gray-lighter2, 2%);
    padding:.5em;
  }
  .list-sort,
  .list-itemsperpage {
    display: block;
    padding:.5em;
  }
  .selected-filters {
    display: inline-block;
    float: right;
    .selected-filter {
      font-size: .8rem;
      padding: 0;
      margin: 10px 0 5px 10px;
      float: left;
      cursor: pointer;
      display: inline-block;
      &:hover {
        color: $brand-danger;
      }
    }
  }
  .filter-toggle {

    &[aria-expanded="true"]{
      i {
        transform: rotate(-90deg);
        transition: all .2s ease;
      }
    }
  }
  #filterCollapse {
    position: absolute;
    z-index: 1050;
    width: 100%;
    margin-left: -15px;
    top:100%;
    .page-content {
      background: $white;
      padding: 2em !important;
      border:1px solid $gray-lighter2;
      margin: 0 7.5px;

      .card {
        background-color: transparent;
        border:0;
        padding-right: 0;
        h3 {
          text-transform: uppercase;
          font-size: 1.2rem;
          border-bottom: 1px solid $gray-light;
          padding-bottom: .5rem;
          font-weight: bold;
          color: $gray-dark;
        }
        .form-check {
          .form-check-input:checked + label {
            background: $gray-lighter2;
            color: $gray-darker;
            padding-left:1.75rem;
            &::before {
              font-family: 'FontAwesome';
              content: "\f046";
              opacity: 1;
            }
          }
          .form-check-label {
            padding:.5rem 0;
            padding-left: 0;
            color: $gray-dark;
            display:block;
            transition:all .1s ease;
            &:hover{
              background: $gray-lightest;
              color: $gray-dark;
              transition:all .1s ease;
              padding-left:.5rem;
            }
            &::before {
              font-family: 'FontAwesome';
              content: "\f046";
              opacity: 0;
              position: absolute;
              left:.5rem;
            }
          }
          .filter-badge {
            position: absolute;
            display: inline-block;
            font-size: .65rem;
            background: $gray-lighter2;
            padding: .1rem 0;
            color: $gray;
            right:.5rem;
            text-align: center;
            min-width: 3em;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm){
    .list-sort,
    .list-itemsperpage {
      display: inline-block;
    }
    .filter-toggle {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      right: .5em;
    }
  }
  @include media-breakpoint-up(md){

    #filterCollapse {
      .page-content {
        .card {
          padding-right: 2em;
        }
      }
    }
  }
}

.sidebar-categories {
  background:$white;
  font-family: $font-family-heading;
  height: 100%;
  .category-title {
    background: #efefef;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
  }
  ul {
    @include reset-list();
    li {
      &.first-level {display:none;}
      &.first-level.active {display:list-item;}
      a {
        display: block;
        color: $gray-dark;
        padding: .75rem 15px;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          color: $gray-darker;
          background: $gray-lightest;
        }
      }
      ul {display:none;}
      &.active {
        & > ul {
          display: block;
        }
        ul {
          li {
            a {
              padding-left:1.5rem;
            }
            ul li {
              a {
                padding-left: 3.5rem;
              }
              ul li a {
                padding-left: 5.5rem;
              }
            }

          }
        }
      }
      &.active {
        &>a {
          background: $gray-lighter2;
        }
      }
    }
  }
}