.categories-list{}

.category-description-parallax {
    color: #fff;
    text-shadow: 0 0 0.1em rgba(0,0,0,.75);
}

.page-infos{
	display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .product-count{
    	flex: 1;
    }
}


.item-confirm-special-case-close {
  float: right;
}

.item-confirm-special-case-blue {
  float: left;
  width: initial;
  position: absolute;
}

.product-list{
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;

	display: flex;
	flex-flow: row wrap;

//	li{
//        @include make-col-ready(12);
//        @include make-col(12);
//	}
}

.lazy{
    display:none;
}

@include media-breakpoint-up(sm){
    .product-list{
        li{
            display: flex;
        }
    }

    .product-list.grid{

    	li{
            box-shadow: none;
            //@include make-col(6);
            display: flex;
    	}

    }
}

@include media-breakpoint-up(md){
    .product-list.grid{

        li{
            //@include make-col(4);
            display: flex;
        }
    }
}

@include media-breakpoint-up(lg){
      .product-list.grid{

            li{
                //@include make-col(3);
                display: flex;
            }
      }

}

.item-list-frame.loading:not(.blur-effect) > ul {
  display: none
}

.parallax-img-container {
    height: auto;

    .parallax-text-wrapper {
        @include media-breakpoint-up(xl){
            margin-left: -15px;
            margin-right: -15px;
        }
    }
        
    .parallax-text-container {
        position: inherit;

        h1 {
            margin-bottom: 0;
        }
    }

    &[style^='background-image'] {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 300px;
        max-width: none;
        position: relative;

        .parallax-text-container {
            position: absolute;
            bottom: 0;

            h1 {
                color: $category-text-color;
                font-size: 300%;
                text-shadow: $category-text-shadow;
                bottom: 0;
                width: 100%;
                margin-bottom: .5rem;
            }
        }
    }

    @include media-breakpoint-up(sm){
        .parallax-text-container h1 {
            margin-top: 1rem;
        }
        &[style^='background-image'] {
            height: 350px;

            .parallax-text-container h1 {
                font-size: 400%;
                margin: 0 0 1rem;
            }
        }
    }

    @include media-breakpoint-up(md){
        &[style^='background-image'] {
            height: 400px;

            .parallax-text-container h1 {
                font-size: 500%;
                margin-bottom: 1.5rem;
            }
        }
    }
    @include media-breakpoint-up(lg){
        .parallax-text-container h1 {
            margin-left: 0;
        }
    }

}