.list-controls {
    position: relative;

    .list-controls-inner {
        background: darken($gray-200, 2%);
    }

    .list-sort,
    .list-itemsperpage {
        display: block;
        padding: .5em;
    }

    .selected-filters {
        display: inline-block;
        float: right;
        margin-top: 10px;

        .selected-filter {
            display: inline-block;
            float: left;
            padding: 5px 10px;
            margin: 0 0 0 10px;
            font-size: .8rem;
            color: $primary;
            cursor: pointer;
            background-color: darken($gray-200, 2%);

            &:hover {
                color: $danger;
            }

            &.reset-all {
                @include context-bg($primary);

                &:hover {
                    background-color: darken($primary, 15%);
                }
            }
        }
    }

    .filter-toggle {
        text-decoration: none;

        & i {
            @include transition(all .3s ease);
        }

        &[aria-expanded="true"] {
            i {
                transform: rotate(-90deg);
            }
        }
    }

    .filter-collapse {
        position: absolute;
        top: 100%;
        z-index: $zindex-3 - 5;
        width: 100%;
        padding-right: 15px;
        margin-left: -15px;

        .page-content {
            padding: 2em !important; // stylelint-disable-line declaration-no-important
            margin: 0 7.5px;
            background: $white;
            border: 1px solid $gray-200;
        }
    }

    @include media-breakpoint-up(sm) {
        .list-sort,
        .list-itemsperpage {
            display: inline-block;
        }

        .filter-toggle {
            position: absolute;
            top: 50%;
            right: .5em;
            transform: translateY(-50%);
        }
    }
    @include media-breakpoint-up(md) {
        .filter-collapse {
            .page-content {
                .card {
                    padding-right: 2em;
                }
            }
        }
    }
}

.sidebar-categories,
.widget-navigation-tree {
    font-family: $font-family-heading;
    background: $white;

    .category-title {
        padding: 1.2rem 1.75rem;
        background: #efefef;

        p:first-child {
            margin-bottom: 0;
        }
    }

    .nav-item {
        position: relative;
        cursor: pointer;

        .expand-nav {
            position: relative;
            z-index: 1;
            float: left;
            width: 1.75rem;
            padding: .75rem 0;
            text-align: center;
        }

        .nav-link {
            position: relative;
            width: 100%;
            padding: .75rem 1.75rem;
        }
    }

    // stylelint-disable
    ul {
        @include reset-list();

        li {
            &.first-level {
                display: none;
            }

            &.first-level.active,
            &.first-level.is-open {
                display: list-item;
            }

            a[href] {
                display: block;
                font-size: 1rem;
                color: $gray-700;

                &:hover {
                    color: $gray-900;
                    background: $gray-100;
                }
            }

            a:not([href]) {
                cursor: auto;
            }

            a {
                @include transition(all .1s ease);

                span.placeholder {
                    display: inline-block;
                    width: 10%;
                    color: transparent;
                    background: $gray-600;
                    @include border-radius(3px);
                    opacity: .1;
                    animation: mobile-nav-placeholder .8s infinite ease-in-out;
                }
            }

            ul {
                display: none;
            }

            &.is-open {
                > .expand-nav {
                    i {
                        transform: rotate(90deg);
                    }
                }

                & > ul {
                    display: block;
                }

                ul li {
                    a {
                        padding-left: 3rem !important;
                    }

                    .expand-nav {
                        margin-left: $nav-link-expandable-margin;
                    }

                    ul li {
                        a {
                            padding-left: 4.25rem !important;
                        }

                        .expand-nav {
                            margin-left: $nav-link-expandable-margin * 2;
                        }

                        ul li {
                            a {
                                padding-left: 5.5rem !important;
                            }

                            .expand-nav {
                                margin-left: $nav-link-expandable-margin * 3;
                            }

                            ul li {
                                a {
                                    padding-left: 6.75rem !important;
                                }

                                .expand-nav {
                                    margin-left: $nav-link-expandable-margin * 4;
                                }
                            }
                        }
                    }
                }
            }

            &.active {
                & > a {
                    background: $gray-200;
                }
            }
        }
    }

    // stylelint-enable
}

.filter-collapse,
.widget-filter-base {

    .form-check {
        padding-left: 0;
    }

    .form-check-input {
        &:checked + label {
            padding-left: 1.75rem;
            color: $gray-900;
            background: $gray-200;

            span::before {
                position: relative;
                margin-right: 5px;
                font-family: FontAwesome; // stylelint-disable-line font-family-no-missing-generic-family-keyword
                content: "\f046";
                opacity: 1;
            }
        }

        &:disabled + label {
            cursor: not-allowed;
        }
    }

    .form-check-label {
        display: block;
        padding: .5rem 0;
        color: $gray-700;
        @include transition(all .1s ease);

        &:hover {
            padding-left: 2.25rem;
            color: $gray-700;
            background: $gray-100;
        }

        span::before {
            position: absolute;
            font-family: FontAwesome; // stylelint-disable-line font-family-no-missing-generic-family-keyword
            content: "\f046";
            opacity: 0;
        }
    }
}

.filter-badge {
    min-width: 3em;
    padding: .1rem 0;
    font-size: .85rem;
    line-height: 18px;
    color: $gray-600;
    text-align: center;
    background: $gray-200;
}

.item-filter-price {
    display: flex;
    flex-direction: row;

    > .input-group {
        margin-right: $spacer;
    }
}
