html[data-framework="vue"] {
  header {
    display: contents;

    .container-max {
      display: inherit;

      .row {
        display: inherit;
      }

      .header-container {
        display: inherit;
      }

      .parent-preset-container {
        display: inherit;
      }
    }
  }
}