.top-bar {
    color: $top-bar-color;
    background-color: $top-bar-bg;

    a {
        color: $top-bar-color;
        text-decoration: none;
        outline: none;
    }

    &.fixed-top {
        position: fixed;
    }
}

.controls-list {
    i {
        font-size: 1rem;
    }

    a {
        display: inline-block;
        padding: .5rem .8rem;

        &[aria-expanded="true"] { // stylelint-disable-line selector-no-qualifying-type
            background: $gray-900;
        }

        &:hover {
            color: color-yiq($primary);
            background-color: $primary;
        }
    }

    @include media-breakpoint-only(xs) {
        a {
            padding: .5rem;
        }
        .anicon-search-xcross {
            width: 2.2rem;
        }
    }

    .list-inline-item {
        margin-right: 0;
        font-size: .8rem;
    }
}

.control-user {
    flex: 1 0 auto;

    .dropdown {

        .dropdown-toggle {
            @include transition(all .1s);

            @include media-breakpoint-up(sm) {
                &::after {
                    margin-left: 7px;
                }
            }
        }

        &.show {
            .dropdown-menu {
                max-height: 200px;
            }
        }

        .dropdown-menu {
            right: 0;
            z-index: 2000;
            display: block;
            min-width: 105px;
            max-height: 0;
            overflow: hidden;
            border: none;
            @include transition(all .3s);

            a {
                display: block;
                padding: 1rem .8rem;
                color: color-yiq($gray-900);
                background-color: $gray-900;
                border: 0;
                border-top: 1px solid $gray-300;
                &:hover {
                    color: color-yiq($primary);
                    background-color: $primary;
                }
            }
        }
    }
}

.list-group-item {
    .fa-user {
        margin-right: 5px;
    }

    .fa-sign-out {
        margin-right: 3px;
    }
}

.control-languages {
    .flag-icon {
        font-size: .8rem;
    }
}

.control-wish-list {
    .fa-heart {
        color: $red;
    }
}

.control-basket {
    .toggle-basket-preview {
        color: $top-bar-basket-color;
        background-color: $top-bar-basket-btn;

        .badge {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        &:hover {
            background-color: darken($top-bar-basket-btn, 10%);
        }
    }
}

// Searchbar
.cmp-search-box {
    background-color: $top-bar-bg;
}

.autocomplete-suggestions {
    position: absolute;
    top: 100%;
    z-index: $zindex-7;
    max-height: 310px;
    -webkit-overflow-scrolling: touch;
}

.autocomplete-suggestion {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background: $gray-300;
    }
    &.autocomplete-selected {
        background: $gray-300;
    }
}

.autocomplete-item-name {
    align-self: center;
    max-width: 0;
}

.autocomplete-image-container {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
}

.autocomplete-image {
    max-width: 100%;
    object-fit: contain;
}

.search-input {
    font-size: 1.3rem;
    line-height: 1;
    border: none;
    outline: none;
}

.search-submit {
    font-size: 1.3rem;
    line-height: 1;
    color: $primary;
    background-color: $gray-200;
    border: none;
    outline: none;
    @include transition(all .3s);

    &:hover {
        color: darken($primary, 20%);
    }
}

.search-permanent {
    @include media-breakpoint-up(md) {
        align-items: center;
        justify-content: space-between;

        .controls {
            a {
                padding: 1.2rem .8rem !important; // stylelint-disable-line declaration-no-important
            }
        }
    }
}

html.ie { // stylelint-disable-line selector-no-qualifying-type
    .always-visible-search { // stylelint-disable-line selector-no-qualifying-type
        min-height: 32px;
    }
}

// Currency & Country Select
.cmp-country-settings,
.cmp-currency-select {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $zindex-7;
    width: 100%;
    background-color: $gray-900;

    &.collapsing {
        overflow: hidden;
    }

    .shipping-settings {
        @include media-breakpoint-down(md) {
            margin-top: 1rem;
        }
    }

    ul {
        @include reset-list();
        max-height: 50vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    li {
        a {
            display: inline-block;
            padding: .4rem;
            &:hover {
                @include context-bg($primary);
            }
        }

        &.active { // stylelint-disable-line selector-no-qualifying-type
            a {
                @include context-bg($primary);
            }
        }

        &.is-disabled { // stylelint-disable-line selector-no-qualifying-type
            a {
                cursor: not-allowed;

                &:hover {
                    @include context-bg($gray-700);
                }
            }
        }
    }
}
