.search-permanent {

    @include media-breakpoint-up(md) {
        align-items: center;
        justify-content: space-between;

        .controls {
            a {
                padding: 1.2rem .8rem !important; // stylelint-disable-line declaration-no-important
            }
        }
    }
}

html.ie { // stylelint-disable-line selector-no-qualifying-type
    .always-visible-search { // stylelint-disable-line selector-no-qualifying-type
        min-height: 32px;
    }
}
