{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set title = widget.settings.title.mobile | json_encode %}
{% set subTitle = widget.settings.subTitle.mobile | json_encode %}
{% set showNameInputs = widget.settings.showNameInputs.mobile | json_encode %}

<div class="widget widget-{{ widget.settings.appearance.mobile | default('primary') }} widget-proportional">
    <div class="widget-inner">
        <newsletter-input :show-name-inputs="{{ showNameInputs }}" :title="{{ title }}" :sub-title="{{ subTitle }}"></newsletter-input>
    </div>
</div>