{% set itemName = config("PluginCallisto.item.name") %}
{% set itemData = config("PluginCallisto.item.data")|split(', ') %}

<script type="x/template" id="vue-category-list-item">
<article class="cmp cmp-product-thumb grid">
    <div class="thumb-inner">
        <a :href="setLinkToItem()" class="thumb-image">
            <div class="square-container">
                <div class="square-inner center-xy main-image">
                    <img class="img-fluid" :src="getImage()" alt="${ item.itemDescription.name1 }"/>
                </div>
            </div>
        </a>
        <div class="special-tags tl v">
            {% include "PluginCallisto::Category.Item.StoreSpecial" with item %}
        </div>

        <div class="thumb-content">
            <a :href="setLinkToItem()" class="thumb-title small">

                {% if itemName == '0' %}
                    ${ checkName(item.itemDescription.name1) }
                {% elseif itemName == '1' %}
                    ${ checkName(item.itemDescription.name2) }
                {% elseif itemName == '2' %}
                    ${ checkName(item.itemDescription.name3) }
                {% endif %}

            </a>
            <div class="thumb-meta">
                <div class="prices">
                    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
                        <del class="crossprice" v-if="item.variationRecommendedRetailPrice.price">
                            <monetary-format :price="item.variationRecommendedRetailPrice.price" :currency="item.variationRetailPrice.currency"></monetary-format>
                        </del>
                    {% endif %}

                    <div class="price">
                        <monetary-format :price="item.variationRetailPrice.price" :currency="item.variationRetailPrice.currency"></monetary-format>
                    </div>
                </div>
            </div>

            <div class="thumb-controls">
                <button class="btn btn-sm btn-outline-primary btn-block" @click="addToBasket">
                    Warenkorb
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <add-item-confirm :basket-item="item" base-url="{{ app.request.baseUrl }}" quantity="1"></add-item-confirm>
                </button>
            </div>
        </div>
    </div>
</article>
</script>
