{% set icon          = widget.settings.icon.mobile %}
{% set listEntries   = widget.settings.texts.mobile %}
{% set renderContent = false %}

{% for entry in listEntries if entry is not empty %}
    {% set renderContent = true %}
{% endfor %}

{% if renderContent %}
    <div class="widget widget-list">
        <div class="widget-inner">
            <ul class="list-container">
                {% for entry in listEntries %}
                    <li>
                        {% if icon != "none" %}
                            <i class="fa {{ icon }}" aria-hidden="true"></i>
                        {% endif %}

                        {{ entry }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
