{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

<div class="widget-live-shopping widget">
    <div class="row clearfix">
        <div class="col-xs-12">
            <live-shopping-item :live-shopping-id="{{ liveShoppingConfig.liveShoppingSelection | json_encode }}" :display-settings="{{ liveShoppingConfig | json_encode }}"></live-shopping-item>
        </div>
    </div>
</div>
