{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set customMargin = widget.settings.customMargin.mobile %}
{% set margin         = widget.settings.margin.mobile %}

<h1>{{ customMargin }}</h1>
<h1>{{ margin }}</h1>