{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set title = widget.settings.title.mobile | json_encode %}
{% set subTitle = widget.settings.subTitle.mobile | json_encode %}
{% set showNameInputs = widget.settings.showNameInputs.mobile | json_encode %}
{% set showPrivacyPolicyCheckbox = widget.settings.showPrivacyPolicyCheckbox.mobile | json_encode %}

<div class="widget">
    <div class="widget-inner">
        <newsletter-input :title="{{ title }}" :sub-title="{{ subTitle }}" :show-name-inputs="{{ showNameInputs }}" :show-privacy-policy-checkbox="{{ showPrivacyPolicyCheckbox }}"></newsletter-input>
    </div>
</div>