{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set inlineSpacings %}
    {{ WidgetHelper.getInlineSpacings( widget.settings.margin, "margin" ) }}
{% endset %}

{% set spacingClasses %}
    {{ WidgetHelper.getSpacingClasses( widget.settings.margin, "m" ) }}
{% endset %}

{% if isPreview %}<div class="widget-editable-min-height">{% endif %}
    <div {% if inlineSpacings | trim | length > 0 %} style="{{ inlineSpacings }}"{% endif %}{% if spacingClasses | trim | length > 0 %} class="{{ spacingClasses }}"{% endif %}></div>
{% if isPreview %}</div>{% endif %}








