{% set text         = widget.settings.text.mobile %}
{% set appearance   = widget.settings.appearance.mobile %}

<div class="widget widget-text widget-{{ appearance | default('primary') }}">
    <div class="widget-inner" data-builder-editable="text">
        {{ text | raw }}
    </div>
</div>
