{% set text = widget.settings.text.mobile %}

<div class="widget widget-text widget-{{ widget.settings.appearance.mobile | default('primary') }}">
    <div class="widget-inner">
        {% if text | trim is not empty %}
            {{ text | raw }}
        {% else %}

            {% if widget.settings.appearance.mobile == "none" %}
                <div class="placeholder placeholder-text">
                    {{ trans("Ceres::Widget.textPlaceholder") }}
                </div>
            {% else %}
                <div class="placeholder">
                </div>
            {% endif %}
            
        {% endif %}
    </div>
</div>
