{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set text = widget.settings.text.mobile %}

<div class="widget widget-title-bar widget-{{ widget.settings.appearance.mobile | default('primary') }}">
    <div class="widget-inner">
        {% if text | trim is not empty %}
            <h1>{{ text }}</h1>
        {% else %}
            <h1>{{ Twig.print('trans("Ceres::Template.headerCompanyName")') }}</h1>
        {% endif %}
    </div>
</div>
