{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set text = widget.settings.content.mobile %}

<div class="widget widget-title-bar widget-{{ widget.settings.appearance.mobile | default('primary') }}">
    <div class="widget-inner" {{ WidgetHelper.makeEditable("content", TOOLBAR_LAYOUT.INLINE, isPreview, "widget-title-bar") }}>
        {% if text | trim is empty %}
            <h1 class="align-center">{{ WidgetHelper.editableTwig(isPreview, Twig.trans("Ceres::Template.headerCompanyName")) }}</h1>
        {% else %}
            {{ WidgetHelper.editableTwig(isPreview, text) }}
        {% endif %}
    </div>
</div>
