<div class="row">

    <div data-builder-container class="col-xs-12 col-md-8">DROPZONE</div>

    <div class="col-xs-12 col-md-4">
        <div class="row">
            <div data-builder-container class="col-xs-6 col-md-12">DROPZONE</div>
        </div>

        <div class="row">
            <div data-builder-container class="col-xs-6 col-md-12">DROPZONE</div>
        </div>
    </div>



</div>