{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% set overrideHomepageContainer = "" %}
{% for content in container("Ceres::Homepage") if content.plugin != "Plenty" %}
    {% set overrideHomepageContainer = overrideHomepageContainer ~ content.result %}
{% endfor %}
{% if overrideHomepageContainer | trim is empty %}

    {% set lang = services.sessionStorage.getLang() %}

TEST


    <div class="home container-max">
        <div class="row">
            <div class="homepage-title m-b-1">
                <h1>{{ trans("Ceres::Template.headerCompanyName") }}</h1>
            </div>
        </div>
