{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<div class="home container-max">
    <div class="row">
        <div class="col">
            {{ LayoutContainer.show("Ceres::Homepage") }}
        </div>
    </div>
</div>
