{% extends getPartial('page-design') %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title category.details[0].metaTitle | default('') %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {% if ceresConfig.homepage.showShopBuilderContent and request.get('isContentBuilder') == 1 %}
        <div class="container-max">
            <div class="row">
                <div class="col">
                    {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
                        {{ content.result|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {% set shopBuilderTemplate = shop_builder_category_template(category.id) %}
        <div class="container-max">
            <div class="row">
                <div class="col">
                    {{ shopBuilderTemplate | raw }}
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
