{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block description    trans('Ceres::Template.homepageMetaDescription') %}
        {% block robots         ceresConfig.meta.robotsHome %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {% if ceresConfig.homepage.showShopBuilderContent or request.get('isContentBuilder') == 1 %}
        <div class="container-max">
            <div class="row">
                <div class="col">
                    {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
                        {{ content.result|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>

    {% else %}

        {% if showDefaultHomepage == "true" %}
            {% include 'Ceres::Homepage.MarketingHomepage.twig' %}
        {% else %}
            {% block ThemeHomepage %}
                {% include 'Ceres::Homepage.DefaultHomepage.twig' %}
            {% endblock %}
        {% endif %}

    {% endif %}

{% endblock %}