.loading {
    min-height: 200px;
}

.loading-animation {
    height: 120px;
}

.loading-animation > div {
    display: inline-block;
    width: 18px;
    height: 100%;
    margin: 0 .1rem;
    background-color: $primary;

    animation: sk-stretchdelay .8s infinite ease-in-out;
}

.loading-animation .rect2 {
    animation-delay: -.7s;
}

.loading-animation .rect3 {
    animation-delay: -.6s;
}

.loading-animation .rect4 {
    animation-delay: -.5s;
}

.loading-animation .rect5 {
    animation-delay: -.4s;
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(.2);
    }
    20% {
        transform: scaleY(.5);
    }
}

