.widget-guarantee-label {
    .guarantee-badge-toggle {
        cursor: pointer;
    }

    .guarantee-badge-image {
        max-width: 120px;
    }

    .guarantee-label-full-image {
        max-width: 300px;
        height: auto;
    }
}
