@import "~bootstrap/scss/functions";
@import "variables";
// ==========================================================================
// External Libs
// ==========================================================================
@import "~bootstrap/scss/bootstrap";

@import "~font-awesome/scss/font-awesome";
@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";

// FIX: Need to set font-display for better SEO performance
@font-face {
    font-family: 'FontAwesome';
    font-display: block;
    src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
    src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
    //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
    font-weight: normal;
    font-style: normal;
}

@import "~font-awesome/scss/core";
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader";

@import "~flag-icon-css/sass/flag-icon";

// ==========================================================================
// Custom styles
// ==========================================================================

// global
@import "mixins/breakpoints";
@import "mixins/general-mixins";
@import "mixins/proportional-boxes";
@import "common/typography";
@import "common/common";
@import "common/structure";
@import "common/modal";
@import "common/reboot";

@import "common/buttons";

// External plugins overrides
@import "plugins/bs4-progress";
@import "plugins/owl-carousel";

// Components
@import "components/accordion";
@import "components/alerts";
@import "components/anicon";
@import "components/component-base";

@import "components/live-shopping";
@import "components/notifications";
@import "components/popover";
@import "components/cookie-bar";
@import "components/tooltip";

// Forms
@import "forms/input-groups";
@import "forms/inputs";

// Page Design / Global components
@import "views/PageDesign/header";
@import "views/PageDesign/search-box";
@import "views/PageDesign/language-select";
@import "views/PageDesign/navigation";
@import "views/PageDesign/breadcrumb";
@import "views/PageDesign/footer";

// Templates
@import "views/Templates/AddressSelect/address-select";
@import "views/Templates/BasketItemList/basket-item";
@import "views/Templates/BasketItemList/basket-list-item";
@import "views/Templates/BasketPreview/basket-preview-hover";
@import "views/Templates/BasketPreview/basket-preview";
@import "views/Templates/BasketTotalSum/basket-total-sum";
@import "views/Templates/CategoryListItem/category-list-item";
@import "views/Templates/Customer/contact";
@import "views/Templates/Customer/login";
@import "views/Templates/Item/quantity-input";
@import "views/Templates/ItemListSort/pagination";
@import "views/Templates/WishList/wish-list";

// Pages
@import "views/Category/category-list";
@import "views/Category/category-list-controls";
@import "views/Item/single-item";
@import "views/ItemList/loading-animation";
@import "views/StaticPages/static-pages";

// Widgets
@import "widgets/widgets";

// Bootstrap Compatibility
@import "common/visibility";