<div class="footertop p-y-3 clearfix">
    <div class="container">
        <div class="row">
            <h3 class="text-xs-center">Zahlen Sie bequem per</h3>
            <div class="col-xs-12 text-xs-center">
                {#TODO: Wait for Payment-ShippingService from core #}
                <img src="{{ plugin_path("PluginCallisto") }}/images/de-pp-logo-100px.png" alt="PayPal"
                     title="PayPal" class="m-l-1">
            </div>
            <!--<div class="col-sm-4 col-xs-12 text-xs-center">
              <img src="dist/images/sofort-ueberweisung.png" width="100" alt="Sofort Überweisung">
            </div>
            <div class="col-sm-4 col-xs-12 text-xs-left">
              <p>Vorkasse per Überweisung</p>
            </div>-->
        </div>
        <hr>
        <div class="row">
            <h3 class="text-xs-center">Wir versenden mit</h3>
            <div class="col-xs-12 text-xs-center">
                <img src="{{ plugin_path("PluginCallisto") }}/images/dhl-logo.png" alt="DHL"
                     title="DHL" class="m-l-1">
            </div>
        </div>
    </div>
</div>

