.cmp-product-thumb{
    padding: .8rem;
    border-bottom:2px solid $gray-lighter2;
    width: 100%;

    overflow: visible;

    .thumb-inner{
        position: relative;
        //border: 1px solid $gray-lighter;

        display: flex;
        flex-flow: row nowrap;

        height: 100%;

        transition: all 400ms;
    }

    .thumb-image{
        position: relative;
        flex: 1 0 120px;
        order: 2;
        cursor: pointer;

        @include img-contain();

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            z-index: $zIndex-8;
            opacity: 0;
            background-color: rgba(0, 0, 0, .6);

            transition: opacity 300ms,
                        width 0ms 310ms,
                        height 0ms 310ms;
        }

        &::after{
            content: "DETAILS";
            color: white;
            font-weight: 700;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: $zIndex-9;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -50%);

            transition: opacity 300ms,
                        visibility 0ms 310ms,;
        }

        &:hover{

            &::before{
                width: 100%;
                height: 100%;
                opacity: 1;

                transition: width 0ms,
                            height 0ms,
                            opacity 300ms 10ms;
            }

            &::after{
                opacity: 1;
                visibility: visible;
                transition: visibility 0ms,
                            opacity 300ms 100ms;
            }
        }
    }

    //TODO create separate mixin
    .special-tags{
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;

        padding: 1rem;
        display: flex;

        &.tl{

        }

        &.tr{
            top: 0;
            right: 0;
            left: auto;
        }

        &.bl{
            top: auto;
            right: auto;
            bottom: 0;
            left: 0;
        }

        &.br{
            top: auto;
            right: 0;
            bottom: 0;
            left: auto;
        }

        &.v{
            flex-direction: column;

            .special-tag{
                margin-bottom: .5rem;
            }
        }

        &.h{
            .special-tag{
                display: inline-block;
                margin-right: 0;
            }
        }

        .special-tag{
            line-height: 1;
            width: 3em;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);

            &:last-child{
                margin: 0!important;
            }
        }
    }

    .square-container{
        border-bottom: 1px solid $gray-lighter;
    }

    .thumb-content{
        padding: 0 .8rem;
        height: 100%;
        order: 3;
        display: flex;
        flex-flow: column nowrap;
    }

    .thumb-title{
        position: relative;
        display: flex;
        order: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3em;
        font-weight: 700;

        &:after{
            content: "…";
            display: inline-block;
            height: 50%;
            position:absolute;
            right: .25em;
            bottom: 0;
            background-color: white;
        }
    }


    .thumb-meta{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;

        order:2;

        flex: 1 0 auto;
        flex-direction: column;
    }

    .prices{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: .5rem;
    }

    .extras{

    }


    .crossprice{
        //line-height: 1;
        font-size: .8em;
        font-weight: 700;
        color: $gray-light;
    }

    .price {
        color: $gray;
        line-height: 1.1;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .thumb-controls{
        margin-top: .5rem;
        order: 3;
        align-self: flex-end;
    }


    @include media-breakpoint-up(sm){
        padding: 0;
        background-color: transparent;
        border: 1px solid $gray-lighter2;

        .thumb-image{
            flex: 1 0 200px;
            max-width: 200px;
        }

        .thumb-content{
            padding: .8rem;
            width: 100%;
        }

        .thumb-title{
            max-height: none;
            margin-bottom: 0;
            font-weight: 400;

            &:after{
                content: none;
            }
        }

        &.grid{

            .thumb-meta{
                flex-direction: row;
            }

            .thumb-title{
                max-height: 3em;
                margin-bottom: .5rem;
                font-weight: 700;

                &:after{
                    content: "…";
                }
            }

            .thumb-inner{
                flex-direction: column;
            }

            .thumb-image{
                flex: 1 0 auto;
                max-width: none;
                width: 100%;
            }

            .thumb-controls{
                width: 100%;
            }
        }
    }
}
