@import url("http://gridstackjs.com/dist/gridstack.css");

.mkt-homepage
{
    position: relative;
}

.grid-stack-item
{
    position: absolute !important;
    width: calc(100% - 30px);
    transition: all 0.1s ease;
    
}

.grid-stack-item:hover
{
    outline: 3px solid #24B3E0;
}

.grid-stack-placeholder
{
    outline: 2px dashed #636671;
    background: #f3f3f3;
}

.ui-draggable-dragging
{
    transform: rotate(1.5deg);
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.4);
    background: #ffffff;
    z-index: 99999;
    opacity: 0.8;
    transition: all 0.1s ease;
    
}