@import url("http://gridstackjs.com/dist/gridstack.css");
@import url("http://gridstackjs.com/dist/gridstack-extra.css");


.mkt-homepage
{
    outline: 1px solid #ff0000;
    padding: 10px;
}

.grid-stack-item:not(.grid-stack-placeholder) {
    outline: 1px solid #00ff00;
}