@import url("http://gridstackjs.com/dist/gridstack.css");

body
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Opera */
}

.mkt-homepage
{
    position: relative;
}

.top-bar .context-menu
{
    z-index: 1061;
}

.grid-stack-item
{
    position: absolute;
    width: 100%;
    transition: all 0.1s ease;
    overflow: hidden;
}

.grid-stack-item:hover,
.grid-stack-item.active
{
    border: 4px solid #24B3E0;
}

.grid-stack-item-content
{
    height: 100%;
    cursor: move;
    overflow: hidden;
}

.grid-stack-item-content > *
{
    pointer-events: none;
}

.grid-stack-placeholder
{
    background: rgba(106,210,106,0.3);
    border: 3px dashed #24B3E0;
}

.ui-draggable-dragging
{
    transform: rotate(1.5deg);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    z-index: 99999;
    opacity: 0.9;
    transition: all 0.1s ease;
}

.context-menu
{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 4;
}

[data-builder-child-container] .context-menu
{
    top: calc(50%);
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    text-align: center;
    pointer-events: all;
}

.shopbuilder-icon.fa
{
    height: 36px;
    width: 36px;
    margin: 2px 2px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    background-color: #636671;
}

.shopbuilder-icon:hover
{
    background-color: #494C56;
}

.shopbuilder-icon.delete-icon
{
    background-color: #f11539;
}

.shopbuilder-icon.delete-icon:hover
{
    background-color: #c70c2b
}

.shopbuilder-icon.add-icon
{
    background-color: #6ad26a;
}

.shopbuilder-icon.add-icon:hover
{
    background-color: #43c643
}

[data-builder-child-container]
{
    height: 200px;
}


[data-builder-child-container].active:not(.set)::after,
[data-builder-child-container]:not(.set)::after
{
    content: "";
    position: absolute;
    background-color: #777777;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
}



[data-builder-child-container].active:not(.set)::after
{
    background: rgba(106,210,106,0.3);
}



.ui-resizable-autohide .active [data-builder-child-container]:not(.set),
.ui-resizable-autohide [data-builder-child-container]:not(.set)
{
    border: 2px solid #ffffff;
}

.active [data-builder-child-container]:not(.set),
[data-builder-child-container]:not(.set)
{
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

[data-builder-child-container] .add-icon
{
    position: absolute;
    z-index: 2;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    pointer-events: all;
}

[data-builder-child-container].active:not(.set)::before
{
    content: "Ziehen Sie ein Element in diesen Bereich";
    font-size: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 0px;
    right: 0px;
}

[data-builder-child-container].active .add-icon
{
    display: none;
}

.nested-widget
{
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
}