@import url("http://gridstackjs.com/dist/gridstack.css");

body
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Opera */
}

.mkt-homepage
{
    position: relative;
}

.grid-stack-item
{
    position: absolute !important;
    width: calc(100% - 30px);
    transition: all 0.1s ease;
}

.grid-stack-item:hover
{
    outline: 3px solid #24B3E0;
}

.grid-stack-placeholder
{
    background: rgba(106,210,106,0.3);
}

.ui-draggable-dragging
{
    transform: rotate(1.5deg);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    z-index: 99999;
    opacity: 0.9;
    transition: all 0.1s ease;
}

.shopbuilder_deleteIcon
{
    position: absolute;
    right: 2px;
    top: 2px;
    display: none;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    background-color: #f11539;
    
}

.shopbuilder_deleteIcon:hover
{
    background-color: #c70c2b
}

.contextMenuVisible .shopbuilder_deleteIcon
{
    display: block;
}