.cmp-order-item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid $gray-300;

    @include media-breakpoint-up(sm) {

        .item-name::after {
            content: none !important; // stylelint-disable-line declaration-no-important
        }

        .item-unit-price,
        .item-total-price {
            width: auto !important; // stylelint-disable-line declaration-no-important
            text-align: right;
        }
    }


    .toggle-description,
    .item-toggle {
        display: none;
    }

    .item-image {
        flex: 0 1 6em;

        @include img-contain();

        img {
            width: 100%;
            height: auto;
        }
    }

    .item-details {
        flex: 1;
        margin-top: 1em;

        & > div[class^="item-"] { // stylelint-disable-line selector-no-qualifying-type
            display: block;
            margin-bottom: .5rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .item-name {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 3em;
        margin-bottom: .5rem;
        overflow: hidden;
        font-weight: 700;
        text-overflow: ellipsis;

        &::after {
            position: absolute;
            right: .25em;
            bottom: 0;
            display: inline-block;
            height: 50%;
            content: "…";
        }
    }

    .item-quantity {
        position: relative;
        display: flex;
        flex: 1;
        flex-flow: column wrap;
        height: 6em;

        .item-unit-price {
            flex: 0;
            align-self: flex-end;
        }

        .item-total-price {
            flex: 0;
            font-size: 1.5em;
            font-weight: 700;
            text-align: right;
        }

        .input-group.vert {
            display: block;
            flex: 1;
            width: 5em;
            padding: 0 1em;
        }

        .btn {
            padding-top: .25rem;
            padding-bottom: .25rem;
        }

        .form-control {
            padding-right: .25rem;
            padding-left: .25rem;
            text-align: center;
        }
    }

    .varianten-content {
        padding-top: 0;
        @include transition(all .3s);
    }

    .varianten-content,
    .item-description {
        height: auto;
        max-height: 0;
        margin-bottom: 0;
        overflow: hidden;
        @include transition(max-height .3s);
    }

    .toggle-description:checked {
        & ~ .item-description {
            max-height: 70em; // 10 lines
        }

        & ~ .btn-collapse {
            &::after {
                content: attr(data-show-less);
            }
        }
    }

    .toggle-variations:checked {
        & ~ .varianten-content {
            max-height: 25em;
            padding-top: 1em; // 10 lines
        }
    }

    .item-remove {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 1;
        color: $gray-300;
        text-decoration: none;
        cursor: pointer;
        @include transition(all .2s);

        &.btn-link {
            > .message {
                margin-right: 5px;
            }

            > .btn-trans {
                right: 0;
            }
        }

        &:hover {
            color: $danger;
        }

        &.btn-danger:hover {
            color: $white;
        }

        &:focus {
            outline: none;
        }
    }

    @include media-breakpoint-up(sm) {
        flex-flow: row nowrap;

        .item-details {
            flex: 1;
            order: 2;
            margin-top: 0;
            margin-left: 1em;
        }

        .varianten {
            padding-right: 1em;
        }

        .item-quantity {
            position: static;
            flex-flow: row nowrap;
            justify-content: space-between;
            order: 3;

            .item-unit-price {
                flex: 0 1 auto;
                align-self: flex-start;
                order: 1;
                text-align: center;
            }

            .input-group.vert {
                left: 20%;
                display: table;
                flex: 0 1 auto;
                align-self: flex-start;
                order: 2;
            }

            .item-total-price {
                flex: 1 1 auto;
                align-self: flex-start;
                order: 3;
            }
        }

        .item-remove {
            bottom: 1em;
        }

    }

    @include media-breakpoint-up(md) {
        .item-quantity {
            .input-group.vert {
                left: 5%;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .item-quantity {
            .input-group.vert {
                left: 20%;
            }
        }
    }

    .rebate-hint {
        color: $gray-600;
    }
}

.confirmation-order-list {
    .item-name {
        max-height: none !important; // stylelint-disable-line declaration-no-important
    }
}

/* Compatibility for IE */
// stylelint-disable
html.ie .confirmation-order-list .cmp-order-item {
    display: flex;
    flex-basis: 84px;
    flex-direction: row;
    flex-wrap: nowrap;

    .item-image {
        width: 84px;
        height: auto;
    }

    .item-name {
        max-height: none;
    }

    .item-details {
        display: block;
        flex-grow: 2;
        margin-top: 0;

        .row {
            strong:first-of-type {
                width: auto;
                min-width: 90px;
            }

            span,
            strong:nth-of-type(2) {
                width: auto;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .item-details {
            flex: 1;
            order: 2;
        }
    }
}
