.order-return-history-item {
    display: flex;
    flex-direction: row;

    .order-return-history-image-container {
        height: 80px;
    }

    .col-md-8 {
        display: flex;
        align-items: center;
    }
}
