.order-history-list,
.order-return-history-list {
    .container-header {
        > div {
            display: inline-block;
            text-align: right;
        }
    }

    .container-middle {
        .item {
            img {
                height: 80px;
                width: 80px;
                object-fit: contain;
                vertical-align: middle;
            }
            &:first-child {
                border-top: 0 !important;
            }
            .item-description {
                text-align: left;
                vertical-align: middle;
            }
        }
        .order-item {
            .row div:first-child {
                border-top: 0 !important;
            }

            @include media-breakpoint-up(md) {
                border-bottom: 0 !important;
            }
        }
    }

    .container-clickable {
        cursor: pointer;

        &.collapsed {
            .fa-chevron-up {
                transform: scaleY(-1);
                top: 5px;
            }
        }
        .fa-chevron-up {
            position: absolute;
            left: 1.25rem;
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(sm) {
            text-align: right;

            .row div span:first-child {
                display: none;
            }
            .icons {
                margin-top: -5px;
                .fa {
                    font-size: 2rem;
                    vertical-align: middle;
                    margin-bottom: -10px;
                }
            }
        }

        @include media-breakpoint-down(xs) {
            .row div {
                span:first-child {
                    text-align: left;
                }
            }
            .fa-chevron-up {
                right: 1.15rem;
                top: 0;
                left: auto;
            }
        }
    }
}

.order-history-list {
    .container-middle {
        .products {
            @include media-breakpoint-down(sm) {
                border-right: 0 !important;
            }
            @include media-breakpoint-up(md) {
                border-bottom: 0 !important;
            }
        }
        @include media-breakpoint-down(xs) {
            .cmp-totals {
                dd,
                dt {
                    text-align: left;
                    display: block;
                }
            }
        }
    }
    .container-bottom {
        .button-spacer {
            margin-top: auto;
        }
        @include media-breakpoint-down(sm) {
            .button-container {
                margin-top: 0.5rem;
            }
        }

        .payment-change-box-item {
            .cannot-change-payment {
                width: 100%;
                margin-bottom: auto;
            }
        }

        .address-list {
            span, strong {
                display: block;
            }
        }
    }
}
