{% extends getPartial('page-design') %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title trans("Ceres::Template.returnCenter") %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

	{{ component( "Ceres::OrderReturn.Components.OrderReturn" ) }}

	<div class="page-content basket order-return container-max mb-5 mt-3">

		<div class="row mt-3">
            <div class="col-12">
                <h1 class="h2">{{ trans("Ceres::Template.return") }}</h1>
            </div>
        </div>

        <hr>

		<order-return template="#vue-order-return" :init-order-data="{{ orderData | json_encode }}"></order-return>

	</div>
{% endblock %}