{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>Auftrag Retoure Center | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
	<div class="page-content container-max m-b-3 m-t-1">

		DETLEF

	</div>
{% endblock %}