<script type="x/template" id="vue-item-list-sort">
<form name="sorting-form" action="${ currentURL() }" method="GET">

        <div class="col-xs-6">
          <div class="input-unit">
            <select name="itemSorting" id="itemSorting" onchange="this.form.submit();" class="custom-select">
                <option value="${ element.value }" selected="${ element.selected }" v-for="element in sortingList">
                    ${ element.name }
                </option>
            </select>
            <label for="itemSorting">Sortieren</label>
          </div>
        </div>

        <input type="hidden" name="page" value="1">
        <template v-if="showPagination() == false">
            <input type="hidden" name="items_per_page" value="${ defaultPagination }">
        </template>

      <div class="col-xs-6">
        <div class="input-unit">
          <label for="listItemsPerPage">Artikel pro Seite</label>
          <select class="custom-select" v-on:change="updateSelectedItemsPerPage" name="items_per_page" onchange="this.form.submit();" id="listItemsPerPage" v-model="itemsPerPageSelected">
            <option v-bind:value="element.value" value="${ element.value }" selected="${ element.selected }" v-for="element in itemPerPageList">
                ${ element.value }
            </option>
          </select>
        </div>
      </div>

</form>
</script>
