<script type="x/template" id="vue-order-return">

	{{ component( "Ceres::OrderReturn.Components.OrderReturnItem" ) }}

	<div>
		<order-return-item v-for="orderItem in orderData.order.orderItems"  :order-item="orderItem" template="#vue-order-return-item"></order-return-item>

		<button class="btn btn-primary return-button" :disabled="isDisabled || isLoading" @click="sendReturnItems()">{{ trans("Ceres::Template.myAccountReturnTrigger") }}</button>
    </div>
</script>
  