.single,
.page-singleitem {
    .list-item-carousel {
        .list-control-special {
            position: absolute;
            top: 40%;
            width: 5%;
            height: 5%;
        }
    }

    .single-carousel {
        background: $white;
    }

    .main-image {
        img {
            width: 100%;
        }
    }

    .title {
        line-height: 1.2;
    }

    .title-outer {
        h1 {
            margin-bottom: .5rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.1;
        }
    }

    .producer {
        display: inline-block;
        font-weight: 700;
        line-height: 1.1;
        text-decoration: none;
    }

    .single-description {
        font-size: .85rem;
    }

    .price {
        display: block;
        font-weight: $font-weight-bold;
        line-height: 1;
    }

    .input-number {
        text-align: center;
    }

    .vat {
        margin-top: 0;
        margin-bottom: .5em;
        line-height: 1.4;
        color: #020260;
    }

    .crosssellers {
        img {
            width: auto;
            max-width: 100%;
        }

        .special-tags {
            padding: .3rem;
        }
    }

    .nav-tabs {
        @include media-breakpoint-only(xs) {
            display: block;
        }

        .nav-item {
            float: none;
            cursor: pointer;

            & + .nav-item {
                margin-left: 0;
            }
        }

        .nav-link {
            border: 1px solid $nav-tabs-border-color;

            &.active,
            &:hover {
                color: $gray-900;
                background: $gray-200;
                border: 1px solid $nav-tabs-border-color;
            }
        }
    }

    .tab-content {
        img {
            max-width: 100%;
        }
    }

    .graduated-prices-table {
        td:first-child {
            padding-right: 1rem;
            font-style: italic;
        }

        & i {
            color: $success;
        }
    }

    .graduated-base-price {
        font-style: normal !important; // stylelint-disable-line declaration-no-important
    }

    .fade-enter-active,
    .fade-leave-active {
        @include transition(opacity .3s ease-out);
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }

    .order-property-input {
        @include transition(border-color .3s ease-out);

        &.active {
            border-color: $success;
        }
    }

    .order-property-selection-info-popper {
        .btn {
            margin: 5px;
        }
    }
}

.availability-1 {
    @include context-bg($success);
}

.availability-2 {
    @include context-bg($success);
}

.availability-3 {
    @include context-bg($warning);
}

.availability-4 {
    @include context-bg($warning);
}

.availability-5 {
    @include context-bg($danger);
}

.availability-6 {
    @include context-bg($danger);
}

.availability-7 {
    @include context-bg($danger);
}

.availability-8 {
    @include context-bg($danger);
}

.availability-9 {
    @include context-bg($gray-900);
}

.availability-10 {
    @include context-bg($gray-900);
}


.rating {
    .tag,
    .badge {
        padding-right: 0;
        overflow: hidden;
        cursor: pointer;

        .amount {
            padding: .2rem .6rem .2rem .4rem;
            margin-left: .2rem;
            background-color: #4d5154;
        }
    }
}

.rezension {
    display: inline-block;
}

.img-thumbnail {
    padding: .75rem .45rem .25rem 0;
    border: none;
    border-radius: 0; // stylelint-disable-line property-blacklist
}

@include media-breakpoint-only(md) {
    .single {
        .price {
            float: right;
        }
    }
}


@include media-breakpoint-up(md) {
    .single {
        .nav-tabs {
            .nav-item {
                float: left;

                & + .nav-item {
                    margin-left: -1px;
                }
            }

            .nav-link {
                border: 1px solid $nav-tabs-border-color;

                &.active,
                &:hover {
                    color: $gray-600;
                    background: $white;
                    border: 1px solid $nav-tabs-border-color;
                }

                &.active {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
}

.order-property-slider {
    overflow: hidden;

    .order-property-slider-inner {
        white-space: nowrap;
        @include transition(transform 300ms ease);

        > div {
            display: inline-block;
            width: 100%;
            visibility: hidden;

            &.active { // stylelint-disable-line selector-no-qualifying-type
                visibility: visible;
            }
        }

        .form-check {
            padding-left: 1.35rem;
        }
    }

    .order-property-slider-controls {
        display: flex;
        flex-direction: row;
    }

    .slider-nav {
        flex: 1;
        text-align: center;

        span {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 12px 5px 0;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid $gray-300;
            @include border-radius(50%);
            @include transition(all .3s ease);

            // stylelint-disable selector-no-qualifying-type
            &.active {
                background-color: $gray-300;

                &.error {
                    // background-color: lighten($danger, 25%);
                    background-color: mix($danger, $gray-300);
                    border-color: mix(lighten($danger, 25%), $gray-300);
                }
            }

            &.highlight {
                background-color: $primary;
                border-color: lighten($primary, 25%);
            }

            &.error {
                background-color: $danger;
                border-color: lighten($danger, 25%);
            }
            // stylelint-enable selector-no-qualifying-type
        }
    }

    .form-check input:checked + label {
        @extend .text-success;
    }
}

.add-to-basket-container {
    display: flex;

    .quantity-input-container {
        margin-right: 15px;
    }
}

.v-s-boxes {
    display: flex;
    flex-flow: row wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;

    .v-s-box {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        margin: .5rem;
        cursor: pointer;
        border: 1px solid $gray-300;
        @include border-radius($border-radius);

        &.active {
            color: $primary;
            border: 1px solid $primary;
        }

        &.invalid {
            position: relative;
            border-style: dashed;

            & > span,
            img {
                opacity: .5;
            }

            // stylelint-disable function-blacklist
            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background:
                    linear-gradient(
                        to top left,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0) calc(50% - .8px),
                        $gray-300 50%,
                        rgba(0, 0, 0, 0) calc(50% + .8px),
                        rgba(0, 0, 0, 0) 100%
                    );
            }
            // stylelint-enable function-blacklist
        }
    }

    &.images {
        .v-s-box:not(.empty-option) {
            width: 40px;
            height: 40px;

            > img {
                width: 100%;
                height: 100%;
                @include border-radius($border-radius);
                object-fit: contain;
            }
        }
    }
}

html.ie .v-s-boxes .v-s-box.invalid { // stylelint-disable-line selector-no-qualifying-type
    &::after {
        background: rgba(255, 255, 255, .7);
    }
}
