.widget
{
    margin-bottom: 2rem;

    .widget-inner
    {
        position: relative;

        .widget
        {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-down(sm)
{
    .widget
    {
        margin-bottom: 2rem;

        &.widget-grid:not(.widget-two-col)
        {
            margin-bottom: 0;
        }

        &:not(.widget-two-col) .widget-inner:not(.widget-stacked)
        {
            .widget:not(.widget-grid)
            {
                margin-bottom: 2rem;
            }
        }
    }

    .widget-grid .widget-inner.col-12.widget-stacked-mobile
    {
        padding-bottom: 1rem;
    }
}

@include media-breakpoint-down(xs)
{
    .widget
    {
        margin-bottom: 1rem;

        &:not(.widget-two-col) .widget-inner:not(.widget-stacked)
        {
            .widget:not(.widget-grid)
            {
                margin-bottom: 1rem;
            }
        }
    }
}

#page-header-parent {

    > .widget {
        max-width: 1200px;
        min-width: 100%;
        background-color: $gray-lightest;
        left: 15px;
        right: 15px;

        &:not(.widget-grid) {
            max-width: 1170px;
            min-width: inherit;
        }
    }
}

.header-fw {
    position: relative;
    width: 100vw;
    left: calc(-1 * (100vw - 100%) / 2) !important;
}

.widget-fw {
    position: relative;
    width: 100vw;
    left: calc(-1 * (100vw - 100%) / 2) !important;
    right: 0 !important;
    margin-left: 0;
    margin-right: 0;
    max-width: none !important;

    &.header-fw {
        .container-max {
            max-width: none;
        }
    }

    &.top-bar {
        .container-max {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &.widget-grid {
        width: calc(100vw + 30px) !important;
        margin-left: -15px;
    }
}
.widget .widget-fw {
    position: unset;
    width: unset;
    left: unset !important;
    right: unset !important;
    margin-left: unset;
    margin-right: unset;
    max-width: unset !important;

    &.widget-grid {
        width: unset !important;
        margin-left: unset;
    }
}

header .widget
{
    margin-bottom: 0;
}

.widget-proportional
{
    position: relative;
    padding-bottom: percentage(1/3);
    overflow: hidden;
    
    .widget-inner
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@each $breakpoint in map-keys($grid-breakpoints)
{
    $infix: breakpoint-infix($breakpoint);
    $next: breakpoint-next($breakpoint);

    @include media-breakpoint-up($breakpoint)
    {
        @each $i in 1, 2, 3, 4
        {
            @each $j in 1, 2, 3, 4
            {
                .widget-prop#{$infix}-#{$i}-#{$j} .widget-proportional
                {
                    padding-bottom: percentage($j / $i);
                }

                .widget-proportional.widget-prop#{$infix}-#{$i}-#{$j}
                {
                    padding-bottom: percentage($j / $i) !important;
                }

            }
        }

    }
    @include media-breakpoint-only($breakpoint)
    {
        .widget-prop#{$infix}-auto > div > .widget-proportional
        {
            padding-bottom: 0;
            min-height: 100%;
        }
    }
}

@include media-breakpoint-only(md)
{
    .widget-grid .widget-inner.col-md-12.widget-stacked-tablet
    {
        padding-bottom: 2rem;
    }
}

@include media-breakpoint-up(lg)
{
    .widget-grid .widget-inner.col-lg-12.widget-stacked
    {
        padding-bottom: 2rem;
    }
}

@include media-breakpoint-up(md)
{
    .widget-grid
    {
        > .widget-inner.widget-prop-md-auto
        {
            &.col-md-3 > div > .widget-proportional
            {
                padding-bottom: calc(100% + 15px);
            }
        }
    }
}

.widget-editable-min-height {
    min-height: 40px;
    padding-bottom: 0.1px;
}

/*
 * INLINE EDITOR CLASSES
 */
@each $color, $value in $shop-builder-colors
{
    .color-#{$color}
    {
        color: $value !important;
    }

    .bg-#{$color}
    {
        @include context-bg($value);
    }
}

.align-center
{
    text-align: center;
}

.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-justify
{
    text-align: justify;
}
