.widget {
    margin-bottom: 2rem;

    .widget-inner {
        position: relative;

        .widget {
            margin-bottom: 0;
        }
    }

    .widget-fw {
        position: relative;
        right: unset !important; // stylelint-disable-line declaration-no-important
        left: unset !important; // stylelint-disable-line declaration-no-important
        width: unset !important; // stylelint-disable-line declaration-no-important
        max-width: unset !important; // stylelint-disable-line declaration-no-important

        &.widget-grid {
            width: unset !important; // stylelint-disable-line declaration-no-important
        }
    }
}

@include media-breakpoint-down(sm) {
    .widget {
        margin-bottom: 2rem;

        &.widget-grid:not(.widget-two-col) {
            margin-bottom: 0;
        }

        &:not(.widget-two-col) .widget-inner:not(.widget-stacked) {
            .widget:not(.widget-grid) {
                margin-bottom: 2rem;
            }
        }
    }

    .widget-grid .widget-inner.col-12.widget-stacked-mobile {
        padding-bottom: 1rem;
    }
}

@include media-breakpoint-down(xs) {
    .widget {
        margin-bottom: 1rem;

        &:not(.widget-two-col) .widget-inner:not(.widget-stacked) {
            .widget:not(.widget-grid) {
                margin-bottom: 1rem;
            }
        }
    }
}

.header-container {
    > .widget {
        right: 15px;
        left: 15px;
        min-width: 100%;
        max-width: 1200px;
        background-color: $gray-100;

        &:not(.widget-grid) {
            min-width: inherit;
            max-width: 1170px;
        }
    }

    .widget-code.is-safe-mode {
        max-height: 120px;
    }
}

.header-fw {
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2) !important; // stylelint-disable-line function-blacklist, declaration-no-important
    width: 100vw;
}

.widget-fw {
    position: relative;
    right: 0 !important; // stylelint-disable-line declaration-no-important
    left: calc(-1 * (100vw - 100%) / 2) !important; // stylelint-disable-line function-blacklist, declaration-no-important
    width: 100vw !important; // stylelint-disable-line declaration-no-important
    max-width: none !important; // stylelint-disable-line declaration-no-important
    margin-right: 0;
    margin-left: 0;

    &.header-fw {
        .container-max {
            max-width: none;
        }
    }

    &.top-bar {
        .container-max {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &.widget-grid {
        width: calc(100vw + 30px) !important; // stylelint-disable-line function-blacklist, declaration-no-important
        margin-right: -15px;
        margin-left: -15px;
    }

    .container-max {
        .container-max {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

header .widget {
    margin-bottom: 0;
}

.widget-proportional {
    position: relative;
    padding-bottom: percentage(1 / 3);
    overflow: hidden;

    .widget-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint);
    $next: breakpoint-next($breakpoint);

    @include media-breakpoint-up($breakpoint) {
        @each $i in 1, 2, 3 {
            @each $j in 1, 2, 3 {
                .widget-prop#{$infix}-#{$i}-#{$j} .widget-proportional {
                    padding-bottom: percentage($j / $i);
                }
                .widget-proportional.widget-prop#{$infix}-#{$i}-#{$j} {
                    height: auto !important; // stylelint-disable-line declaration-no-important
                    min-height: auto !important; // stylelint-disable-line declaration-no-important
                    padding-bottom: percentage($j / $i) !important; // stylelint-disable-line declaration-no-important
                }
            }
        }
    }

    @include media-breakpoint-only($breakpoint) {
        .widget-prop#{$infix}-auto > div > .widget-proportional {
            min-height: 100%;
            padding-bottom: 0;
        }
    }
}

@include media-breakpoint-only(md) {
    .widget-grid .widget-inner.col-md-12.widget-stacked-tablet {
        padding-bottom: 2rem;
    }
}

@include media-breakpoint-up(lg) {
    .widget-grid .widget-inner.col-lg-12.widget-stacked {
        padding-bottom: 2rem;
    }
}

@include media-breakpoint-up(md) {
    .widget-grid {
        > .widget-inner.widget-prop-md-auto {
            &.col-md-3 > div > .widget-proportional { // stylelint-disable-line selector-max-class
                padding-bottom: calc(100% + 15px); // stylelint-disable-line function-blacklist
            }
        }
    }
}

.widget-editable-min-height {
    min-height: 40px;
    padding-bottom: .1px;
}

/*
 * INLINE EDITOR CLASSES
 */
@each $color, $value in map-merge($shop-builder-colors, ("dark": $gray-900, "light": $gray-100)) {
    .color-#{$color} {
        @extend .text-#{$color};
    }

    .bg-#{$color} {
        @include context-bg($value);
    }
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.text-shadow {
    text-shadow: 0 0 .1em rgba(0, 0, 0, .75);
}

.widget-alignment-center {
    .widget-alignment {
        display: flex;
        justify-content: center;
    }
}
.widget-alignment-right {
    .widget-alignment {
        display: flex;
        justify-content: flex-end;
    }
}
