@each $color, $value in $shop-builder-colors
{
    .widget-#{$color}
    {
        @include text-emphasis-variant(".text-appearance", $value);

        .bg-appearance
        {
            background-color: $value !important;
            color: color-yiq($value) !important;

            a
            {
                color: color-yiq($value) !important;
            }
        }

        a.bg-appearance:hover,
        button.bg-appearance:hover
        {
            background-color: darken($value, 10%) !important;
            color: color-yiq(darken($value, 10%)) !important;
        }

        .btn-appearance
        {
            @include button-variant($value, $value);
        }

        .btn-outline-appearance
        {
            @include button-outline-variant($value);
        }

        a.text-appearance,
        .btn-appearance
        {
            text-decoration-color: $value;

            @include hover-focus {
                text-decoration-color: darken($value, 7.5);
            }
        }

        a:hover {
            i.text-appearance {
                color: darken($value, 7.5) !important;
            }
        }

        .border-appearance.active,
        .border-appearance:hover
        {
            border-color: $value !important;
        }

        .pagination .page-item
        {
            .page-link
            {
                color: $value;
                @include hover-focus {
                    color: darken($value, 15%);
                }
            }

            &.active .page-link
            {
                border-color: $value;
                @include context-bg($value);
            }
        }

        .custom-control-appearance
        {
            .custom-control-input:checked ~ .custom-control-label::before
            {
                border-color: $value;
                background-color: $value;
            }
        }
    }
}
