.widget-placeholder {
    text-align: center;
    background-color: $gray-300;

    // needed if placeholder uses .prop-x-x-x classes
    &.proportional-placeholder {
        > div {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            transform: translateY(-50%);
        }
    }

    > div {
        padding: 1rem;

        > .title {
            font-weight: $font-weight-bold;
        }

        > .description {
            margin-bottom: 0;
            font-size: .9rem;
            font-style: italic;
        }
    }
}

