.widget-placeholder
{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-color: $gray-lighter;

    > div
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: $spacer;
        width: 100%;
    }

    .title
    {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .description
    {
        font-style: italic;
    }
}
