<script type="x/template" id="vue-notifications">
  <div>
    <div v-for="notification in notifications" class="alert alert-dynamic alert-dismissible fade alert-${ notification.context }" role="alert">
        <button type="button" class="close" aria-label="Close" @click="notification.close()">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>${ notification.code }</strong>
        ${ notification.message }
        <p class="small" v-for="trace in notification.stackTrace">${ trace.message }</p>
    </div>
  </div>
</script>
