{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>404 | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    {# TODO #}

{% endblock %}