{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>404 | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    {# TODO #}

{% endblock %}