{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="description" content="{{ config("Ceres.meta.description_item_not_found") }}">
    <title>404 | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    {# TODO #}

{% endblock %}