{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title          trans("Ceres::Template.legalDisclosure") %}
        {% block description    trans('Ceres::Template.legalDisclosureMetaDescription') %}
        {% block robots         ceresConfig.meta.robotsLegalDisclosure %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {% set legalDisclosure = services.legalInformation.getLegalDisclosure() %}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-12">
                {% autoescape false %}
                    <h1>{{ trans("Ceres::Template.legalDisclosure") }}</h1>
                {% endautoescape %}

                <hr class="my-5">

                {% if legalDisclosure.htmlText %}
                    {{ legalDisclosure.htmlText | raw }}
                {% else %}
                    <p class="static-page-plain-text">{{ legalDisclosure.plainText }}</p>
                {% endif %}

                {{ LayoutContainer.show("Ceres::StaticPages.LegalDisclosure") }}
            </div>
        </div>
    </div>

{% endblock %}
