{% extends getPartial('page-design') %}

{% block PageBody %}

    {% set privacyPolicy = services.legalInformation.getPrivacyPolicy() %}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-xs-12">
                {% autoescape false %}
                    <h1>{{ trans("PluginCeres::Template.generalPrivacyPolicy") }}</h1>
                {% endautoescape %}

                <hr class="my-3">

                {% if privacyPolicy.htmlText %}
                    {{ privacyPolicy.htmlText | raw }}
                {% else %}
                    <p class="static-page-plain-text">{{ privacyPolicy.plainText }}</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
