{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title          trans("Ceres::Template.termsAndConditions") %}
        {% block description    trans('Ceres::Template.termsAndConditionsMetaDescription') %}
        {% block robots         ceresConfig.meta.robotsTermsAndConditions %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {% set termsAndConditions = services.legalInformation.getTermsAndConditions() %}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-12">
                {% autoescape false %}
                    <h1>{{ trans("Ceres::Template.termsAndConditions") }}</h1>
                {% endautoescape %}

                <hr class="my-5">

                {% if termsAndConditions.htmlText %}
                    {{ termsAndConditions.htmlText | raw }}
                {% else %}
                    <p class="static-page-plain-text">{{ termsAndConditions.plainText }}</p>
                {% endif %}

                {{ LayoutContainer.show("Ceres::StaticPages.TermsAndConditions") }}
            </div>
        </div>
    </div>

{% endblock %}
