<script type="x/template" id="vue-address-header">
    <div v-if="address">
        <template v-if="isAddressFieldEnabled('name1')">
            <div class="font-bold address-name1" v-if="address.name1 && address.name1.length > 0">
                ${ address.name1 }
            </div>
        </template>

        <template v-if="isAddressFieldEnabled('contactPerson')">
            <div class="address-contact">${ address | optionType(12) }</div>
        </template>

        <template v-if="isAddressFieldEnabled('title') || isAddressFieldEnabled('name2') || isAddressFieldEnabled('name3')">
            <div class="font-bold address-title" v-if="!address.name1 || address.name1.length == 0">
                <template v-if="isAddressFieldEnabled('title')">${ address | optionType(11) }</template> <template v-if="isAddressFieldEnabled('name2')">${ address.name2 }</template> <template v-if="isAddressFieldEnabled('name3')">${ address.name3 }</template>
            </div>
        </template>

        <div class="address-name4" v-if="isAddressFieldEnabled('name4')">${ address.name4 }</div>

        <div v-if="isAddressFieldEnabled('address1') || isAddressFieldEnabled('address2')">
            <template class="address-address1" v-if="isAddressFieldEnabled('address1')">${ address.address1 }</template>&nbsp;<template class="address-address2" v-if="isAddressFieldEnabled('address2')">${ address.address2 }</template>
        </div>

        <div v-if="isAddressFieldEnabled('address3')">
            <template class="address-address3" v-if="address.address1 === 'PACKSTATION' || address.address1 === 'POSTFILIALE'">
                {{ trans("Ceres::Template.addressPostNummer") }}
                ${ address | optionType(6) }
            </template> 
            ${ address.address3 }
        </div>
  
        <div class="address-address4" v-if="isAddressFieldEnabled('address4')">
            ${ address.address4 }
        </div>

        <div v-if="isAddressFieldEnabled('postalCode') || isAddressFieldEnabled('town')">
            <template class="address-postal-code" v-if="isAddressFieldEnabled('postalCode')">${ address.postalCode }</template> <template class="address-town" v-if="isAddressFieldEnabled('town')">${ address.town }</template>
        </div>

        <div class="address-country" v-if="isAddressFieldEnabled('country')">${ getCountryName(address.countryId) }</div>

        <div class="address-mail" v-if="isAddressFieldEnabled('email')">${ address | optionType(5) }</div>
    </div>
</script>
