{{ component( "Ceres::Customer.Components.AddressInputGroup.AddressInputGroup" ) }}

<script type="x/template" id="vue-create-update-address">
    <form id="my-form" >
        <div class="row">

            <address-input-group template="#vue-address-input-group" :address-data="addressData"></address-input-group>

            <div class="col-sm-5 offset-sm-7">
                <button type="button" class="btn btn-primary btn-block" @click="validate" :disabled="waiting">{{ trans("Ceres::Template.generalSave") }}</button>
            </div>
        </div>
    </form>
</script>