// stylelint-disable
.homepage-title {
    position: relative;
    display: flex;
    padding: 1rem 1.5rem;
    background: $primary;
    border-bottom: 0;

    & > h1 {
        padding: 0 0 .5rem;
        margin: .5rem auto;
        font-size: 2.5rem;
        color: $white;
        letter-spacing: 1.25px;
        border-bottom: 2px solid $white;
    }
}

.home {

    .product-list {
        .col-12 {
            margin: 0 15px;
        }
    }
}

// from component-hero.scss
.cmp-hero{

	.hero-category{
		position: relative;
		display: block;
		color: $gray-dark;

		.hero-image {
			position: absolute;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			&.contain {
				background-size: contain;
			}
		}

		.hero-category-inner{
			position: absolute;
			width: 100%;
		}

		.hero-category-headline{
			font-weight: 700;
		}

		.hero-category-cta{
			display: inline-block;
			
			.fa{
				margin-left: .5rem;
			}
		}
	}

	.hero-main{
		margin-bottom: 1rem;

		.carousel-inner>.carousel-item>a>img, 
		.carousel-inner>.carousel-item>img{
			width: 100%;
		}

		.carousel-indicators{
			position: absolute;
		    right: 0;
		    top: 0;
		    left: auto;
		    bottom: auto;
		    margin-bottom: 0;
		    padding: .5rem 1rem;
		    margin-left: auto;
		    width: auto;
		    background-color: rgba(0,0,0,0.03);
		    text-align: right;
		}
		
		.hero-category{
			
			.img-fluid{
				width: 100%;
			}

			.hero-category-inner{
				bottom: 0;
				left: 0;
				background-color: rgba(white, .8);

			    @include clearfix();
			}

			.hero-category-headline{
				display: inline-block;
				padding: 1rem;
				font-size: 1rem;
			    float: left;
				margin-bottom: 0;
			}

			.hero-category-cta{
				padding: 1rem;
				border-left: 1px solid $gray-lighter;
				float: right;
			}
		}
	}

	.hero-xtras{

		.hero-category{
			margin-bottom: 1rem;
			min-height: 13rem;

			//stylings for the background image 
			@include img-cover();
		}

		.hero-category-inner{
			top: 0;
			left: 0;
			height: 100%;

			display: flex;
		    flex-flow: column;
		    justify-content: flex-end;

		    padding: 1.5rem;
		}

		.hero-category-headline{
			background-color: rgba(white, .9);
		    padding: .5em;
		    text-align: right;
		    display: inline-block;
		    width: fit-content;
		    align-self: flex-end;
		    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
		}

		.hero-category-cta{
			background-color: rgba(white, .9);
		    padding: .5em;
		    text-align: right;
		    width: fit-content;
		    align-self: flex-end;
		}
	}

	@include media-breakpoint-up(md){
		.hero-main{
			.hero-category{
				margin-bottom: 0;
			}

			.hero-category-headline{
				padding: 1.5rem;
				font-size: $h4-font-size;
			}

			.hero-category-cta{
				padding: 1rem;
			}
		}

		.hero-xtras{
			display: flex;
			flex-flow: row nowrap;	
		}

		.hero-category{
			flex: 1 1 auto;

			min-height: 15rem;
		}

		.hero-category:nth-last-child(n+2):nth-last-child(-n+2):first-child{
			border-right: .5rem solid white;
		}

		.hero-category:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ .hero-category { 
			border-left: .5rem solid white;
		}
	}

	@include media-breakpoint-up(lg){
		display: flex;
		flex-flow: row nowrap;

		.hero-main{
			flex: 1 0 66%;
		}

		.hero-xtras{
			flex-flow: column nowrap;	
			flex: 1 0 24%;
		}

		.hero-category{
			min-height: 0;
		}

		.hero-category:nth-last-child(n+2):nth-last-child(-n+2):first-child{
			border-right: none;
		}
		
		.hero-category:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ .hero-category { 
			border-left: none;
		}
	}
}

.cmp-hero {
    // margin: 0 -15px;
    .hero-main {
        .carousel {
            .carousel-inner {
                .carousel-item {

                    .carousel-caption {
                        bottom: 0;
                        padding-bottom: 10px;

                        h3,
                        h2,
                        h1 {
                            display: inline-block;
                            padding: .5rem 1rem;
                            margin: 0;
                            font-family: $font-family-heading;
                            font-size: 1.25rem;
                            color: $white;
                            text-shadow: none;
                            background: rgba($primary, .8);
                            @include transition(all .3s ease);
                        }

                        h3 {
                            font-size: 1rem;
                            text-transform: uppercase;
                        }
                    }

                    .hero-category:hover {
                        h3,
                        h2,
                        h1 {
                            background: rgba($primary, 1);
                            @include transition(all .3s ease);
                        }
                    }

                }
            }

            .carousel-indicators {
                right: auto;
                left: 50%;
                background: transparent;
                transform: translateX(-50%);

                li {
                    border-color: $primary;

                    &.active {
                        background: $primary;
                    }
                }
            }

            .carousel-control {
                background-image: none;

                span {
                    top: 50%;
                    font-size: 30px;
                    text-shadow: none;
                    transform: translateY(-50%);
                }

                span::before {
                    font-family: "FontAwesome";
                    color: $primary;
                    content: "\f053";
                }

                .icon-next::before {
                    content: "\f054";
                }
            }
        }
    }

    .hero-xtras {
        .hero-category {
            .hero-category-inner {
                padding: .5rem 1rem;

                .hero-category-headline {
                    display: block;
                    align-self: flex-start;
                    width: auto;
                    padding: 1rem;
                    margin: 1rem;
                    font-family: $font-family-heading;
                    font-size: 1.25rem;
                    font-weight: normal;
                    color: $white;
                    text-align: left;
                    background: rgba($primary, .8);
                    box-shadow: none;
                    @include transition(all .3s ease);
                }
            }

            &:hover {
                .hero-category-headline {
                    background: rgba($primary, 1);
                    @include transition(all .3s ease);
                }
            }
        }
    }
}

.featured-categories {
    .col-md-8 .prop-inner,
    .col-md-4 .prop-inner {
        width: calc(100% - 15px);
        padding: 15px 0;
    }

    .featured-image {
        height: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.contain {
            background-size: contain;
        }
    }
}

.sale-new {
    .col-6 {
        .prop-inner {
            left: 15px;
            width: calc(100% - 15px);
            padding: 15px 0;
        }

        &:last-child {
            .prop-inner {
                left: 0;
            }
        }
    }
}

.section-header {
    position: relative;
    padding: 1rem 1.5rem;
    font-family: $font-family-heading;
    background: $primary;
    border-bottom: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: .2rem 0 0;
        margin: 0;
        font-size: 1.75rem;
        color: $white;
        text-transform: uppercase;
    }

    a.section-link-all {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        color: $white;
        transform: translateY(-50%);

        &:hover {
            color: $gray-900;
        }
    }
}

@include media-breakpoint-up(sm) {
    .home {
        .product-list {
            margin: 0;

            .col-12 {
                margin: 0;
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .home {
        .product-list {
            margin: 0;
        }
    }


    .featured-categories {
        .col-md-8 .prop-inner {
            padding: 15px;
            padding-right: 7.5px;
        }

        .col-md-4 .prop-inner {
            padding: 15px 0 15px 7.5px;
        }
    }
    .sale-new {
        .col-6 {
            .prop-inner {
                left: 0;
                width: 100%;
                padding: 15px 7.5px 15px 15px;
            }

            &:last-child {
                .prop-inner {
                    left: 0;
                    padding: 15px 15px 15px 7.5px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .home {
        .product-list {
            margin: 0;
        }
    }
    .cmp-hero {
        margin: 0;

        .hero-main {

            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .carousel-caption {
                            bottom: 20px;
                            padding-bottom: 20px;

                            h3,
                            h2,
                            h1 {
                                font-size: 3rem;
                            }

                            h3 {
                                font-size: 2rem;
                            }
                        }
                    }
                }

                .carousel-indicators {
                    top: auto;
                    bottom: 0;

                    li {
                        border-color: $primary;

                        &.active {
                            background: $primary;
                        }
                    }
                }

                .carousel-control {
                    span {
                        top: auto;
                        bottom: 10%;
                        font-size: 60px;

                        &::before {
                            color: $primary;
                        }
                    }
                }
            }
        }

        .hero-xtras {
            .hero-category {
                .hero-category-inner {
                    padding: 0;

                    .hero-category-headline {
                        width: 100%;
                        margin: 0;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .home {
        .product-list {
            margin: 0 -15px;
        }
    }
}
