// stylelint-disable
// from component-hero.scss
.section-header {
    position: relative;
    padding: 1rem 1.5rem;
    font-family: $font-family-heading;
    background: $primary;
    border-bottom: 0;

    h2 {
        padding: .2rem 0 0;
        margin: 0;
        font-size: 1.75rem;
        color: $white;
        text-transform: uppercase;
    }
}
