.widget-background {

    > .container-max {
        position: relative;
        padding-right: 0;
        padding-left: 0;
    }

    &.widget-fw {
        > .container-max {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &.align-items-end {
        .container-max {
            align-items: flex-end;
        }
    }

    .widget-background {
        .container-max {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .parallax-img-container-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100% !important; // stylelint-disable-line declaration-no-important
        background-repeat: no-repeat;
        background-position: center !important; // stylelint-disable-line declaration-no-important
    }

    .huge-font {
        .widget-text,
        .widget-code {
            h1 { font-size: 2em; }
            h2 { font-size: 1.8em; }
            h3 { font-size: 1.5em; }
            h4 { font-size: 1.25em; }
            * { font-size: 1em; }

            font-size: $font-size-base;

            @include media-breakpoint-up(sm) {
                font-size: 28px;
            }
            @include media-breakpoint-up(md) {
                font-size: 35px;
            }
        }
    }
}

.widget-grid {
    .widget-background {
        > .container-max {
            padding-right: 0 !important; // stylelint-disable-line declaration-no-important
            padding-left: 0 !important; // stylelint-disable-line declaration-no-important
        }
    }
}
