.widget-background {
    &.widget {
        width: auto;
    }

    &.align-items-end {
        .container-max {
            align-items: flex-end;
        }
    }

    .parallax-img-container-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100% !important;
    }

    .huge-font {
        font-size: $font-size-base;

        @include media-breakpoint-up(sm) {
            font-size: 28px;
        }
        @include media-breakpoint-up(md) {
            font-size: 35px;
        }

        .widget-text,
        .widget-code {
            h1 { font-size: 2em };
            h2 { font-size: 1.8em };
            h3 { font-size: 1.5em };
            h4 { font-size: 1.25em };
            * { font-size: 1em };
        }
    }
}
