.widget-background {
    &.widget {
        width: auto;
    }
    .parallax-img-container-inner {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100% !important;
    }
    .container-max {
        z-index: 1;
        align-items: flex-end;
        font-size: 35px;
    }
}