.widget.accordion {
    .card {
        &:first-of-type {
            border-bottom: $card-border-width solid $card-border-color;
        }
        &:nth-of-type(2) {
            border-top: 0;
        }

        button {
            text-align: left;
            padding: $card-spacer-x;
            border-top-width: 0;

            h5 {
                font-weight: bold;
                position: relative;

                > .fa {
                    position: absolute;
                    right: 0;
                    top: -4px;
                    font-size: 1.5rem;
                }
            }
        }        
        button:hover,
        button:focus { 
            color: black;
        }

        div .card-body {
            margin-top: 1px;

            p {
                margin: 0;
                line-height: $headings-line-height;
            }
        }
    }

    &.widget-primary
    {
        button:hover,
        button:focus {
            text-decoration-color: $primary;
        }
        h5 {
            color: $primary;
        }
    }

    &.widget-secondary
    {
        button:hover,
        button:focus {
            text-decoration-color: $secondary;
        }
        h5 {
            color: $secondary;
        }
    }

    &.widget-success
    {
        button:hover,
        button:focus {
            text-decoration-color: $success;
        }
        h5 {
            color: $success;
        }
    }

    &.widget-info
    {
        button:hover,
        button:focus {
            text-decoration-color: $info;
        }
        h5 {
            color: $info;
        }
    }

    &.widget-warning
    {
        button:hover,
        button:focus {
            text-decoration-color: $warning;
        }
        h5 {
            color: $warning;
        }
    }

    &.widget-danger
    {
        button:hover,
        button:focus {
            text-decoration-color: $danger;
        }
        h5 {
            color: $danger;
        }
    }
}

