.widget-accordion {
    .card {
        border-bottom: 0;

        &:last-child {
            border-bottom: $card-border-width solid $card-border-color;
        }

        button {
            padding: $card-spacer-x;
            text-align: left;
            border-top-width: 0;

            h5 {
                position: relative;
                font-weight: $font-weight-bold;
            }

            .fa {
                position: absolute;
                top: -4px;
                right: 0;
                font-size: 1.5rem;
                transition-timing-function: ease;
                transition-duration: .35s;
                transform: scaleY(-1);
                transform-origin: 50% 60%;
            }

            &.collapsed .fa { // stylelint-disable-line selector-no-qualifying-type
                transform: scaleY(1);
            }
        }

        button:hover,
        button:focus {
            color: $black;
        }

    }

    .card-body {
        margin-top: 1px;

        p {
            margin: 0;
            line-height: $headings-line-height;
        }
    }
}

