.widget-image-box {
    @include media-breakpoint-only(xs) {
        min-height: 10rem;
        padding-bottom: 0;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%);

        &.img-cover { // stylelint-disable selector-no-qualifying-type
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    > .widget-inner {
        display: flex;
        padding: 1.5rem;

        .widget-caption {
            word-break: break-word;
            @include transition(300ms all ease);

            h2,
            .h2 {
                margin: 0;
                font-size: 1.75rem;
            }
        }
    }

    &.widget-image-box-fullwidth {
        > .widget-inner {
            .widget-caption {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 1rem;

                > div {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    &.widget-image-box-inline-caption {
        > .widget-inner {
            align-items: flex-end;

            .widget-caption {
                padding: 0 1.5rem;
            }
        }
    }

    &.widget-image-box-block-caption {
        > .widget-inner {
            padding: 0;

            .widget-caption {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                max-height: 100%;
                padding: 1rem;
            }
        }
    }

    &.widget-image-box-no-caption {
        > .widget-inner {
            .widget-caption {
                display: none;
            }
        }
    }

    &.widget-retain-aspect-ratio {
        position: relative;

        img {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            object-fit: initial;
        }

        .widget-inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }


    &.widget-primary {
        .widget-caption {
            @include widget-bg-variant(rgba($primary, .8));
        }

        a[href].widget-inner:hover .widget-caption {
            @include widget-bg-variant(rgba($primary, .9));
        }
    }

    &.widget-secondary {
        .widget-caption {
            @include widget-bg-variant(rgba($secondary, .8));
        }

        a[href].widget-inner:hover .widget-caption {
            @include widget-bg-variant(rgba($secondary, .9));
        }
    }

    &.widget-success {
        .widget-caption {
            @include widget-bg-variant(rgba($success, .8));
        }

        a[href].widget-inner:hover .widget-caption {
            @include widget-bg-variant(rgba($success, .9));
        }
    }

    &.widget-info {
        .widget-caption {
            @include widget-bg-variant(rgba($info, .8));
        }

        a[href].widget-inner:hover .widget-caption {
            @include widget-bg-variant(rgba($info, .9));
        }
    }

    &.widget-warning {
        .widget-caption {
            @include widget-bg-variant(rgba($warning, .8));
        }

        a[href].widget-inner:hover .widget-caption {
            @include widget-bg-variant(rgba($warning, .9));
        }
    }

    &.widget-danger {
        .widget-caption {
            @include widget-bg-variant(rgba($danger, .8));
        }

        a[href].widget-inner:hover .widget-caption {
            @include widget-bg-variant(rgba($danger, .9));
        }
    }
}

.widget-grid .widget-image-box-fullwidth .widget-inner .widget-caption h2 { // stylelint-disable-line selector-max-compound-selectors
    font-size: 2rem;
}

.widget-image-box-caption {
    h1,
    h2,
    h3,
    p {
        margin: 0;
    }

    h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    h2 {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1.75rem;
    }

    h3 {
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1.5rem;
    }

    p {
        padding-top: .2rem;
        padding-bottom: .2rem;
    }

    &.fullwidth {
        h1,
        h2,
        h3 {
            text-transform: uppercase;
        }

        h1 {
            @include media-breakpoint-up(sm) {
                font-size: 4rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 6rem;
            }
        }

        h2 {
            @include media-breakpoint-up(sm) {
                font-size: 2.5rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 4rem;
            }
        }

        h3 {
            @include media-breakpoint-up(sm) {
                font-size: 1.5rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 2.5rem;
            }
        }
    }
}
