.widget-item-list
{
    .widget-inner
    {
        padding-left: 0;
        padding-right: 0;
    }

    .widget-caption
    {
        padding: 0.25rem 1.5rem;
        display: flex;
        align-items: center;

        > div
        {
            flex: 1;
        }

    }

    &.widget-primary .widget-caption
    {
        @include widget-bg-variant($primary);
    }

    &.widget-secondary .widget-caption
    {
        @include widget-bg-variant($secondary);
    }

    &.widget-success .widget-caption
    {
        @include widget-bg-variant($success);
    }

    &.widget-info .widget-caption
    {
        @include widget-bg-variant($info);
    }

    &.widget-warning .widget-caption
    {
        @include widget-bg-variant($warning);
    }

    &.widget-danger .widget-caption
    {
        @include widget-bg-variant($danger);
    }
}

.widget-item-list-caption
{
    h1,
    h2,
    h3,
    p
    {
        margin: 0;
        text-transform: uppercase;
    }

    h1
    {
        font-size: 2rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
    }

    h2
    {
        font-size: 1.75rem;
        padding-top: .6rem;
        padding-bottom: .4rem;
    }

    h3
    {
        font-size: 1.5rem;
        padding-top: .4rem;
        padding-bottom: .1rem;

    }
}