.widget-legal-information {
  a {
    display: inline-block;
    margin-right: 10px;
    color: $black;
  }

  a.btn-primary {
    color: $white !important;

    &:hover,
    &:focus {
      color: $white !important;
    }
  }
}
