.widget-legal-information {
    a {
        display: inline-block;
        margin-right: 10px;
        color: $black;
    }

    #cancellation-button{
        color: $white;

        &:hover {
            color: $white;
        }
    }

}
