.widget-list
{
    .widget-inner
    {
        .list-container,
        .list-centered {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        a {
            color: $footer-color;
        }
    }
}
