.widget-list
{
    .widget-inner
    {
        padding: 1rem 15px;

        .list-container {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            list-style: none;
        }
    }
}
