.widget-live-shopping {
    @include media-breakpoint-down(xs) {
        .thumb-image {
            float: none;
            width: 100%;

            .prop-1-1 {
                padding-bottom: 50%;
            }
        }
    }
}
