.widget-text
{
    .widget-inner
    {
        // padding: 1rem 1.5rem;

        .placeholder {
            height: 75px;

            &.placeholder-text {
                border: 3px dashed #dadae3;
                border-radius: 3px;
                line-height: 75px;
                vertical-align: middle;
                text-align: center;
                color: #dadae3;
                font-size: 20px;
                font-style: italic;
            }
        }
    }

    &.widget-primary
    {
        @include widget-bg-variant($brand-primary);
    }

    &.widget-secondary
    {
        @include widget-bg-variant($brand-secondary);
    }

    &.widget-success
    {
        @include widget-bg-variant($brand-success);
    }

    &.widget-info
    {
        @include widget-bg-variant($brand-info);
    }

    &.widget-warning
    {
        @include widget-bg-variant($brand-warning);
    }

    &.widget-danger
    {
        @include widget-bg-variant($brand-danger);
    }

    &.widget-inverse
    {
        @include widget-bg-variant($brand-inverse);
    }
}