.widget-text {
    &.widget {
        margin-bottom: 0;
    }

    .widget-inner {
        padding: 1rem 1.5rem;
    }

    // images from data-fields
    img {
        max-width: 100%;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}
