// transitions for item lists
.list-transition-enter-active,
.list-transition-leave-active {
    animation-name: item-leaving;
    animation-duration: .175s;
    animation-fill-mode: forwards;
}

.list-transition-enter-active {
    animation-direction: reverse;
}

@keyframes item-leaving {
    from { max-height: 1000px; }
    to { max-height: 0; }
}


// Arrange counter and price side by side
@include media-breakpoint-up(sm) {
    .main .basket .basket-item-container .basket-item-container-right {
        display: flex;

        .qty-box-container {
            margin-right: 15px;
        }
    }
}
// Arrange counter and price side by side
@include media-breakpoint-only(sm) {
    .main .checkout .basket-item-container .basket-item-container-right {
        display: flex;

        .qty-box-container {
            margin-right: 15px;
        }
    }
}

.top-bar .controls-list > li .basket-preview-hover {
    .basket-item {
        a {
            padding: 0;
            color: $primary;

            &:hover {
                color: darken($top-bar-basket-btn, 10%);
                background-color: transparent;
            }
        }
    }

    .fa:not(.qty-sign) {
        font-size: 1.2rem;
        line-height: 1;
    }
}

.basket-list-item {
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
        border-bottom: 1px solid $gray-300;
    }

    .image-container {
        flex-shrink: 0;
        width: 75px;
        margin-right: 10px;

        @include media-breakpoint-down(xs) {
            width: 50px;
        }
    }

    .meta-container {
        width: 100%;
        min-width: 0;

        html.ie & { // stylelint-disable-line selector-no-qualifying-type
            display: block;
            float: left;
            width: 65%;

            @include media-breakpoint-down(lg) {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .meta-container-wrapper {
        width: 100%;
        min-width: 0;

        @include media-breakpoint-only(sm) {
            .checkout &,
            .basket & {
                display: flex;

                .qty-box-container {
                    margin-right: 15px;
                }
            }
        }
    }

    .meta-container-wrapper-inner {
        display: flex;

        html.ie & { // stylelint-disable-line selector-no-qualifying-type
            display: block;
        }
    }

    .colon::after {
        // TODO: maybe move to more general class
        content: ":";
    }
}

.basket-item-container-right {

    .qty-box-container {
        height: 41px;
    }

    html.ie & { // stylelint-disable-line selector-no-qualifying-type
        display: block;
        width: 35%;
        margin-left: auto;

        @include media-breakpoint-down(lg) {
            display: flex;
            width: 100%;
        }
    }
}
