
.top-bar .controls-list > li .basket-preview-hover {
    .basket-item {
        a {
            padding: 0;
            color: $primary;

            &:hover {
                color: darken($top-bar-basket-btn, 10%);
                background-color: transparent;
            }
        }
    }

    .fa:not(.qty-sign) {
        font-size: 1.2rem;
        line-height: 1;
    }
}

.basket-list-item {
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $gray-300;
    }

    .image-container {
        flex-shrink: 0;
        width: 75px;
        margin-right: 10px;

        @include media-breakpoint-down(xs) {
            width: 50px;
            margin: 0 10px;
        }
    }

    .meta-container,
    .meta-container-wrapper {
        width: 100%;
        min-width: 0;

        @include media-breakpoint-only(sm) {
            .checkout &,
            .basket & {
                display: flex;

                .qty-box-container {
                    margin-right: 15px;
                }
            }
        }
    }

    .meta-container-wrapper-inner {
        display: flex;

        html.ie & { // stylelint-disable-line selector-no-qualifying-type
            display: block;
        }
    }

    .colon::after {
        // TODO: maybe move to more general class
        content: ":";
    }
}

.basket-item-container-right {

    .qty-box-container {
        margin: 0 0 0 10px;

        @include media-breakpoint-down(sm) {
            margin: 0 0 5px 27px;
        }

        .qty-box {
            height: 41px;
            margin: 0 0 5px auto;

            .qty-input {
                margin-left: auto;
            }
        }
    }
    .item-remove-container {
        font-size: 1.2em;
        line-height: 1.2em;
        text-align: right;

        > .item-remove-button {
            padding: 0;
            color: $danger;
            cursor: pointer;
            background: none;
            border: none;

            &.disabled {
                cursor: not-allowed;
            }
        }
    }
}

/* Compatibility for IE */
html.ie .basket-list-item { // stylelint-disable-line

    .meta-container {
        display: block;
        float: left;
        width: 65%;
    }
    .basket-item-container-right {
        display: block;
        width: 35%;

        // Align childs right
        .qty-box-container .qty-box {
            margin: 0 0 5px;

            .qty-input {
                margin-left: auto;
            }
        }
    }

    // For Basket-Preview and Basket
    @include media-breakpoint-down(sm) {
        .meta-container {
            width: 100%;
            margin-bottom: 10px;
        }

        // Initialise width
        .basket-item-container-right {
            display: flex;
            width: 100%;
            // Arrange to the right
            .qty-box-container {
                margin-left: auto;
            }
        }
    }
}

// For Checkout
html.ie .checkout .basket-list-item {
    @include media-breakpoint-down(lg) {
        .meta-container {
            width: 100%;
            margin-bottom: 10px;
        }

        // Initialise width
        .basket-item-container-right {
            display: flex;
            width: 100%;
            // Arrange to the right
            .qty-box-container {
                margin-left: auto;
            }
        }
    }
}
