<script type="x/template" id="vue-item-filter">
    <div class="collapse" id="filterCollapse">
        <div class="container-max page-content">

            <div class="card-columns">

                <div class="card">
                    <h3>${facet.names[0].name}</h3>
                    <div class="form-check" v-for="value in facet.values">
                        <input id="option-${ value.id }" class="form-check-input hidden-xs-up" type="checkbox" :value="value.id.toString()" v-model="facetParams" @change="updateFacet" :disabled="isLoading">
                        <label for="option-${ value.id }" class="form-check-label">
                            ${ value.names[0].name }
                        </label>
                        <div class="filter-badge">${ value.total }</div>
                    </div>
                </div>


                <div class="card">
                    <h3>Dimmbar</h3>
                    <div class="form-check">
                        <input id="option-3" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-3" class="form-check-label">
                            nicht dimmbar
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-4" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-4" class="form-check-label">
                            dimmbar
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                </div>
                <div class="card">
                    <h3>Lichtfarbe</h3>
                    <div class="form-check">
                        <input id="option-5" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-5" class="form-check-label">
                            tageslichtweiß
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-6" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-6" class="form-check-label">
                            neutralweiß
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-7" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-7" class="form-check-label">
                            warmweiß
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-8" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-8" class="form-check-label">
                            farbig
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-9" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-9" class="form-check-label">
                            variabel
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                </div>
                <div class="card">
                    <h3>Material</h3>
                    <div class="form-check">
                        <input id="option-10" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-10" class="form-check-label">
                            Draht
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-11" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-11" class="form-check-label">
                            Metall
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-12" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-12" class="form-check-label">
                            Glas
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-13" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-13" class="form-check-label">
                            Kunststoff
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-14" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-14" class="form-check-label">
                            Textil
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                </div>
                <div class="card">
                    <h3>Farbe</h3>
                    <div class="form-check">
                        <input id="option-15" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-15" class="form-check-label">
                            silber
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-16" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-16" class="form-check-label">
                            grau
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-17" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-17" class="form-check-label">
                            schwarz
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-18" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-18" class="form-check-label">
                            weiß
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-19" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-19" class="form-check-label">
                            grün
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                </div>
                <div class="card">
                    <h3>Fassung</h3>
                    <div class="form-check">
                        <input id="option-20" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-20" class="form-check-label">
                            E27
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-21" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-21" class="form-check-label">
                            LED integriert
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-22" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-22" class="form-check-label">
                            G4
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-23" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-23" class="form-check-label">
                            T1
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-24" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-24" class="form-check-label">
                            GU10
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                </div>
                <div class="card">
                    <h3>Besonderheit</h3>
                    <div class="form-check">
                        <input id="option-25" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-25" class="form-check-label">
                            Set
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                    <div class="form-check">
                        <input id="option-26" class="form-check-input hidden-xs-up" type="checkbox" value="">
                        <label for="option-26" class="form-check-label">
                            Wifi
                        </label>
                        <div class="filter-badge">36</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 text-xs-right">
                    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                        <i class="fa fa-check" aria-hidden="true"></i> Anwenden
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>