<script type="x/template" id="vue-item-filter-tag-list">
    <div class="selected-filters clearfix">
        <span :class="'selected-filter filter-' + tag.id" v-for="tag in tagList" @click="removeTag(tag)">
            <i class="fa fa-times" aria-hidden="true"></i> ${ tag.name }
        </span>

        <span class="selected-filter reset-all" v-if="tagList.length >= 2" @click="resetAllTags()">
            {{ trans("Ceres::Template.itemFilterReset") }}
        </span>
    </div>
</script>
