<script type="x/template" id="vue-item-filter-list">
    <div v-if="facets && facets.length > 0">
        {{ component( "Ceres::ItemList.Components.Filter.ItemFilter") }}
        {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}

        <div class="row">
            <div class="col-xs-12">
                <div class="text-xs-right">

                    <a class="filter-toggle" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                        <i class="fa fa-sliders" aria-hidden="true"></i> Filter
                    </a>

                    <item-filter-tag-list :category-id="categoryId" :facets="facets"></item-filter-tag-list>
                </div>
            </div>
        </div>


        <div class="collapse" id="filterCollapse">
            <div class="container-max page-content">
                <div class="card-columns">
                    <item-filter v-for="facet in facets" :facet="facet" :category-id="categoryId"></item-filter>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-xs-right">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                            <i class="fa fa-check" aria-hidden="true"></i> Anwenden
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>