<script type="x/template" id="vue-item-filter-price">
	<div>
		<div class="row">
			<div style="display: table;" class="col-lg-5">
				<div class="input-group-addon">EUR</div>
				<input type="text" class="form-control" placeholder="Min">
			</div>

			<div style="display: table;" class="col-lg-5">
				<div class="input-group-addon">EUR</div>
				<input type="text" class="form-control" placeholder="Max">
			</div>
		</div>	

		<div class="row">
			<div class="col-lg-10">
				<button type="button" class="btn btn-primary btn-block m-t-1">
				 	<i class="fa fa-refresh" aria-hidden="true"></i>
					Übernehmen
				</button>
			</div>
		</div>
	</div>
</script>