<script type="x/template" id="vue-item-filter-price">
	<div>
		<div class="row">
			<div class="col-lg-5 p-r-0 d-table">
				<div class="input-group-addon">EUR</div>
				<input type="number" class="form-control" placeholder="Min" v-model="minPrice">
			</div>

			<div class="col-lg-5 p-r-0 d-table">
				<div class="input-group-addon">EUR</div>
				<input type="number" class="form-control" placeholder="Max" v-model="maxPrice">
			</div>

			<div class="col-lg-2">
				<button type="button" class="btn btn-primary" :disabled="isDisabled">
				 	<i class="fa fa-check" aria-hidden="true"></i>
				</button>
			</div>
		</div>	
	</div>
</script>