<script type="x/template" id="vue-item-filter-tag-list">
    <div class="selected-filters clearfix">
        <span :class="'text-appearance selected-filter filter-' + tag.id + ' ' + marginClasses" :style="marginInlineStyles" v-for="tag in tagList" @click="removeTag(tag)">
            <i class="fa fa-times" aria-hidden="true"></i> ${ tag.name }
        </span>

        <span :class="'bg-appearance selected-filter reset-all' + ' '+ marginClasses" :style="marginInlineStyles" v-if="tagList.length >= 2" @click="resetAllTags()">
            {{ trans("Ceres::Template.itemFilterReset") }}
        </span>
    </div>
</script>
