<script type="x/template" id="vue-basket-shipping-country">
    <div>
        Lieferland:
        <select name="shippingCountry" v-model="select" v-on:change="updateShippingCountry">
            <option v-bind:value="element" selected="${ element.selected }" v-for="element in shippingCountries">
                ${ element.name }
            </option>
        </select>
    </div>
</script>
