


.sale {
    text-align: center;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    display: block;
    background-color: red;
}

@include media-breakpoint-up(sm){        

}

@include media-breakpoint-up(md){        
    
}

@include media-breakpoint-up(lg){

}