<script type="x/template" id="vue-mobile-breadcrumbs">

    <li @click="navigateToHome" class="breadcrumb-item">
        <i class="fa fa-home" aria-hidden="true"></i>
    </li>

    <li v-for="breadcrumb in breadcrumbs | orderBy 'level'" class="breadcrumb-item" v-render-category="breadcrumb">
        <label v-if="breadcrumb.details">${ breadcrumb.details[0].name }</label>
        <label v-else>${ breadcrumb.name1 }</label>
    </li> 

</script>
