<script type="x/template" id="vue-mobile-navigation">
    <div class="mobile-navigation">

        <div v-show="isNavigationInitialized">
            <ul class="breadcrumb">
                <li class="btn-close" @click="closeNavigation()"></li>

                <li class="breadcrumb-item" @click="slideTo(navigationTree, true)">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </li>

                <li  class="breadcrumb-item" v-for="breadcrumb in breadcrumbs" @click="slideTo(breadcrumb.layer, true)">
                    ${ breadcrumb.name }
                </li>
            </ul>
            <ul v-menu id="menu-1" class="mainmenu">
                <li class="ddown" v-if="parentCategories" @click="slideTo(parentCategories, true)">
                    <span class="nav-direction btn-up">
                        <i class="fa fa-lg fa-level-up" aria-hidden="true"></i>
                    </span>
                </li>

                <li class="ddown" v-for="category in dataContainer1">
                    <a :href="category.url" v-if="category.showChildren || category.details[0]">${ category.details[0].name }</a>
                    <span class="nav-direction" v-if="category.childCount" @click="slideTo2(category)">
                        <i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
                    </span>
                </li>
                <template v-if="dataContainer1[0]">
                    <li class="ddown" v-for="number in dataContainer1[0].siblingCount - dataContainer1.length">
                        <p>TODO add animation per entry</p>
                    </li>
                </template>
            </ul>

            <ul v-menu id="menu-2" class="mainmenu">
                <li class="ddown" v-if="parentCategories" @click="slideTo(parentCategories, true)">
                    <span class="nav-direction btn-up">
                        <i class="fa fa-lg fa-level-up" aria-hidden="true"></i>
                    </span>
                </li>

                <li  class="ddown" v-for="category in dataContainer2">
                    <a :href="category.url" v-if="category.showChildren || category.details[0]">${ category.details[0].name }</a>
                    <span class="nav-direction" v-if="category.childCount" @click="slideTo2(category)">
                        <i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
                    </span>
                </li>
                <template v-if="dataContainer2[0]">
                    <li class="ddown" v-for="number in dataContainer2[0].siblingCount - dataContainer2.length">
                        <p>TODO add animation per entry</p>
                    </li>
                </template>
            </ul>
        </div>

        <template v-if="!isNavigationInitialized">
            <ul class="breadcrumb">
                <li class="btn-close" @click="closeNavigation()"></li>

                <li class="breadcrumb-item">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </li>
            </ul>

            <div class="loading">
                {% include "Ceres::ItemList.Partials.LoadingAnimation" with { 'loadingAnimationType': config("Ceres.item.loading_animation_type") } %}
            </div>
        </template>
    </div>
</script>