<script type="x/template" id="vue-mobile-navigation">
    <div class="mobile-navigation" style="z-index:9999999">

        <ul class="breadcrumb">
            <li class="btn-close" @click="closeNavigation()"></li>

            <li class="breadcrumb-item" @click="navigateTo(categoryTree, true)">
                <i class="fa fa-home" aria-hidden="true"></i>
            </li>

            <li  class="breadcrumb-item" v-for="breadcrumb in breadcrumbs" @click="navigateTo(breadcrumb.layer, true)">
                ${ breadcrumb.name }
            </li>
        </ul>

        <ul v-menu id="menu-1" class="mainmenu menu-active">
            <li class="ddown" v-for="cat in dataContainer1">
                <a href="#">${ cat.details[0].name }</a>

                <span class="nav-direction" v-if="cat.children" @click="navigateTo(cat.children)">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </span>
            </li>
        </ul>

        <ul v-menu id="menu-2" class="mainmenu">
            <li class="ddown" v-for="cat in dataContainer2">
                <a href="#">${ cat.details[0].name }</a>
                
                <span class="nav-direction" v-if="cat.children" @click="navigateTo(cat.children)">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </span>
            </li>
        </ul>

    </div>
</script>