<script type="x/template" id="vue-mobile-navigation">
    <div class="mobile-navigation">

        <ul class="breadcrumb">
            <li class="btn-close" @click="closeNavigation()"></li>

            <li class="breadcrumb-item" @click="slideTo(navigationTree, true)">
                <i class="fa fa-home" aria-hidden="true"></i>
            </li>

            <li  class="breadcrumb-item" v-for="breadcrumb in breadcrumbs" @click="slideTo(breadcrumb.layer, true)">
                ${ breadcrumb.name }
            </li>
        </ul>


        <ul v-menu id="menu-1" class="mainmenu menu-active">
            <li class="ddown" v-if="parentCategories" @click="slideTo(parentCategories, true)">
                <span class="nav-direction btn-up">
                    <i class="fa fa-lg fa-level-up" aria-hidden="true"></i>
                </span>
            </li>

            <li class="ddown" v-for="category in dataContainer1" v-show="!category.hideCategory">
                <a :href="category.url" v-render-category="{ id: category.id, type: category.type, isMobileNavigation: true }" @click.prevent="navigateTo(category)" v-if="category.showChildren || category.details[0]">${ category.details[0].name }</a>

                <span class="nav-direction" v-if="category.children && category.showChildren" @click="slideTo(category.children)">
                    <i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
                </span>
            </li>
        </ul>

        <ul v-menu id="menu-2" class="mainmenu">
            <li class="ddown" v-if="parentCategories" @click="slideTo(parentCategories, true)">
                <span class="nav-direction btn-up">
                    <i class="fa fa-lg fa-level-up" aria-hidden="true"></i>
                </span>
            </li>

            <li class="ddown" v-for="category in dataContainer2" v-show="!category.hideCategory">
                <a :href="category.url" v-render-category="{ id: category.id, type: category.type, isMobileNavigation: true }" @click.prevent="navigateTo(category)" v-if="category.showChildren || category.details[0]">${ category.details[0].name }</a>
                
                <span class="nav-direction" v-if="category.children && category.showChildren" @click="slideTo(category.children)">
                    <i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
                </span>
            </li>
        </ul>

    </div>
</script>