{% set logData = config("Ceres.log.data")|split(', ') %}

<script type="x/template" id="vue-notifications">
    <div class="notification-wrapper">
        <div v-for="notification in notifications" :class="'alert alert-dismissible fade in alert-' + notification.context" role="alert">
            <button type="button" class="close" aria-label="Close" @click="notification.close()">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if "show_error_code" in logData or "all" in logData %}
                <strong>${ notification.code }</strong>
            {% endif %}
            <div v-html="notification.message"></div>
            <p class="small" v-for="trace in notification.stackTrace">${ trace.message }</p>
        </div>
    </div>
</script>
