<script type="x/template" id="vue-popper">
	<div>
		<div class="popper-handle" ref="handle">
			<slot name="handle">
				{# Element to trigger popper #}

				{# Default element if no element is set #}
					<button class="btn btn-icon btn-secondary btn-sm">
						<i class="fa fa-info"></i>
					</button>
				{# / #}
			</slot>
		</div>

		<div ref="node" class="popover bs-popover-auto" :class="classNames">
			<h3 class="popover-header">
				<slot name="title">
					{# Title to display in the popper #}
				</slot>
			</h3>
			<div class="popover-body" :class="bodyClass" :style="bodyStyle">
				<slot name="content">
					{# Content to display in the popper #}
				</slot>
			</div>
			<div class="arrow" ref="arrow"></div>
		</div>
	</div>
</script>
