<script type="x/template" id="vue-shipping-country-select">
    <div>
        <ul>
            <div v-for="shippingCountry in shippingCountryList">
                <li :class="{'active': currentShippingCountryId == shippingCountry.id}">
                    <a data-toggle="collapse" href="#countrySettings" v-shipping-country="shippingCountry.id"
                       @click="currentShippingCountryId = shippingCountry.id">
                        {#<i :class="flag-icon flag-icon-${ shippingCountry.isoCode2 }"></i>#}
                        <i class="flag-icon" v-bind:class="shippingCountry.countryFlagClass"></i>
                        ${shippingCountry.currLangName}
                    </a>
                </li>
            </div>
        </ul>
    </div>
</script>
