{{ component("Ceres::MyAccount.Components.OrderReturnHistoryItem") }}

<script type="x/template" id="vue-order-return-history">
	<div class="form-group">
		<div class="row m-b-1">
            <div class="col-xs-12 col-md-12 col-lg-12">
				<!-- RETURN PAGINATION -->
                <div class="clearfix history-pagination" v-if="returnsList.totalsCount > itemsPerPage">
                    <div class="pull-xs-left counter">
                        {{ trans("Ceres::Template.orderShow", {"countStart": "${ returnsList.firstOnPage }", "countEnd": "${ returnsList.lastOnPage }", "orderMaxCount": "${ returnsList.totalsCount }" }) }}
                    </div>

					{% include "Ceres::PageDesign.Partials.PaginationTemplate" with { 'page': 'returnsList.page', 'pageMax': 'returnsList.lastPageNumber', 'setPage': 'setPage' } %}

                </div>
                <!-- ./RETURN PAGINATION -->

				<hr>

				<div :class="{ 'loading': waiting }">
					{% include "Ceres::ItemList.Partials.LoadingAnimation" %}
				</div>

				<div v-if="!waiting" class="order-list">
					<order-return-history-item v-for="returnOrder in returnsList.entries" :returnOrder="returnOrder" :key="returnOrder.order.id"></order-return-history-item>
				</div>
			</div>
		</div>
	</div>
</script>