{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}

<script type="x/template" id="vue-order-documents">
    <div>
        {% if "order-document" in enabledRoutes or "all" in enabledRoutes %}
            <div class="h3">{{ trans("Ceres::Template.myAccountOrderReceipts") }}</div>
            <div v-for="receipt of documents">
                <a class="btn btn-warning btn-block mb-1" :href="'/order-document/' + receipt.id" target="_blank">
                    ${ getTypeName(receipt.type) }
                </a>
            </div>
        {% endif %}
    </div>
</script>
