{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}

<script type="x/template" id="vue-order-documents">
    <div>
        {% if "order-document" in enabledRoutes or "all" in enabledRoutes %}
            <div v-for="document of activeDocuments">
                <template v-if="type == 'order'">
                    <div class="buttons d-block d-sm-none mt-2">
                        <a class="btn btn-block" :class="'btn-' + appearance" :href="'/order-document/' + document.id" target="_blank">
                            <span>${ getTypeName(document.type) }</span>
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </a>
                    </div>
                </template>
                <template v-else>
                    <div v-if="document.type == 'return_note'">
                        <div class="icons d-none d-sm-block">
                            <a :class="'text-' + appearance" :href="'/order-document/' + document.id" target="_blank" @click.stop v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans('Ceres::Template.returnHistory') }}">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="buttons d-block d-sm-none mt-2">
                            <a class="btn btn-block" :class="'btn-' + appearance" :href="'/order-document/' + document.id" target="_blank" @click.stop>
                                <span>{{ trans("Ceres::Template.returnHistoryReceipt") }}</span>
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </template>
            </div>
        {% endif %}
    </div>
</script>
