{{ component( "Ceres::MyAccount.Components.OrderHistory" ) }}
{{ component( "Ceres::MyAccount.Components.OrderReturnHistory" ) }}

<script type="x/template" id="vue-test-comp">
    <div>TES MICH HART ${testData}</div>
</script>