<div class="cmp cmp-totals">
	<h3>Summe</h3>
	<div>
		<dl>
			<dt> <strong>Warenwert</strong>
				(Brutto)
			</dt><!--
		 --><dd>
				  ${ itemTotalSum }
			</dd>
			<dt>
				<strong>Versandkosten</strong>
				(Brutto)
			</dt><!--
		 --><dd>
				${ shippingTotalSum }
			</dd>
			<hr>
			<dt>
				<strong>Gesamtsumme</strong>
				(Brutto)
			</dt><!--
		 --><dd>
				<strong>${ basketTotalSum }</strong>
			</dd>
		</dl>
	</div>
</div>
