{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.generalContact") }} | {{ config("Ceres.header.company_name") }}</title>

    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}

{% block PageBody %}

    {{ component( "Ceres::Customer.Components.Contact.ContactForm" ) }}

    <div class="page-content container-max">
        <contact-form template="#vue-contact-form" shop-mail="{{ config('Ceres.contact.shop_mail') }}"></contact-form>
    </div>

{% endblock %}