{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.generalContact") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    {{ component( "Ceres::Customer.Components.ContactForm" ) }}

    <div class="page-content container-max">
        <contact-form template="#vue-contact-form"></contact-form>
    </div>

{% endblock %}