{% extends getPartial('page-design') %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title trans("Ceres::Template.resetPwResetPassword") %}
    {% endembed %}
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::Customer.Components.ResetPasswordForm") }}

    <div class="container-max reset-pwd mb-5 mt-3">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-3">

                <reset-password-form template="#vue-reset-password-form"
                                     :contact-id="{{ contactId }}"
                                     hash="{{ hash }}">

                        <h1 class="h2 mb-4">{{ trans("Ceres::Template.resetPwResetPassword") }}</h1>
                </reset-password-form>

            </div>
        </div>
    </div>
{% endblock %}