.widget-attributes-properties-characteristics-filter
{
    padding: 2rem;
    background-color: $white;

    .form-check-wrapper {
        padding: 0.25rem 0;
    }

    .form-check {
        margin-bottom: 0;

        .filter-badge {
            right: 0 !important;
        }
    }
}

.widget-toolbar .widget-attributes-properties-characteristics-filter {
    padding: 0;
}
