.widget-filter-base {
    padding: 2rem 0;
    background-color: $white;

    .form-check {
        margin-bottom: 0;
    }

    .form-check-label {
        cursor: pointer;
    }

    .title, .card .form-check-label {
        padding-left: 1.75rem;
    }
}

.widget-toolbar .widget-filter-base {
    padding: 0 0 2rem 0;

    .form-check-input:checked + label {
        margin-left: 1.75rem;
        padding-left: 1.75rem;
    }
    .form-check-input:hover + label {
        margin-left: 1.75rem;
        padding-left: 1.75rem;
    }
}
