.widget-filter-base {
    .form-check-label {
        cursor: pointer;
    }

    .title,
    .card .form-check-label,
    .item-filter-price {
        padding: .75rem 1.75rem;
    }
}

.widget-toolbar {
    .title,
    .card .form-check-label,
    .item-filter-price {
        padding: .75rem;
    }

    .form-check-input:checked + label,
    .form-check-input:hover + label {
        padding-left: .75rem !important; // stylelint-disable-line declaration-no-important
    }
}
