.widget-filter-base
{
    padding: 2rem;
    background-color: $white;

    .form-check-wrapper {
        padding: 0.25rem 0;
        cursor: pointer;
    }

    .form-check {
        margin-bottom: 0;
    }
}

.widget-toolbar .widget-filter-base {
    padding: 0;
}
