.widget-item-dynamic-filter
{
    padding: 2rem;
    background-color: $white;

    .card {
        background-color: transparent;
        border: 0;
        padding-right: 0;

        .form-check {
            padding-left: 0;

            .form-check-input {
                &:checked + label {
                    background: $gray-lighter2;
                    color: $gray-darker;
                    padding-left: 1.75rem;
                    &::before {
                        font-family: "FontAwesome";
                        content: "\f046";
                        opacity: 1;
                    }
                }

                &:disabled + label {
                    cursor: not-allowed;
                }
            }

            .form-check-label {
                padding: 0.5rem 0;
                color: $gray-dark;
                display: block;
                transition: all 0.1s ease;
                &:hover {
                    background: $gray-lightest;
                    color: $gray-dark;
                    transition: all 0.1s ease;
                    padding-left: 0.5rem;
                }
                &::before {
                    font-family: "FontAwesome";
                    content: "\f046";
                    opacity: 0;
                    position: absolute;
                    left: 0.5rem;
                }
            }
            .filter-badge {
                position: absolute;
                display: inline-block;
                font-size: 0.85rem;
                background: $gray-lighter2;
                padding: 0.1rem 0;
                color: $gray;
                right: 0.5rem;
                text-align: center;
                min-width: 3em;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
