.widget-item-grid {
    &.item-vat-hidden {
        .vat {
            display: none;
        }
    } 
    &.item-bg-gray {
        .cmp-product-thumb {
            .thumb-image {
                background-color: $gray-100;
            }
        }
    }

    > .widget-inner > li {
        padding-bottom: $grid-gutter-width;
    }

    @include media-breakpoint-only(xs) {
        .col-6 {
            .thumb-image {
                width: 100%;
            }
            .thumb-content {
                width: 100%;
                margin-left: 0;
            }
            .prices {
                flex-flow: column;
            }
        }
    }

    .cmp-product-thumb {
        margin-bottom: 0 !important; // stylelint-disable-line declaration-no-important
    }
}
