.widget-item-dynamic-filter
{
    padding: 2rem;
    background-color: $white;

    .form-check {
        margin-bottom: 0;

        .filter-badge {
            right: 0 !important;
        }
    }
}

.widget-toolbar .widget-item-dynamic-filter {
    padding: 0;
}
