.widget-item-grid {
    > .widget-inner > li {
        padding-bottom: $grid-gutter-width;
    }

    @include media-breakpoint-only(xs) {
        .col-6 {
            .thumb-image {
                width: 100%;
            }
            .thumb-content {
                width: 100%;
                margin-left: 0;
            }
            .prices {
                flex-flow: column;
            }
        }
    }
}
