.widget-grid .col-md-3,
.widget-grid .col-md-4,
.widget-grid .widget-grid {
    .widget-filter-price {
        .item-filter-price {
            display: block;
            text-align: right;
        }

        .input-group {
            margin-bottom: 1rem;
        }
    }
}

.widget-none {
    .widget-filter-price {
        .btn-appearance {
            color: $gray-700;
            background-color: $gray-200;
            border-color: $gray-400;
        }
    }
}
