.widget-two-col .col-lg-3,
.widget-two-col .col-lg-4,
.widget-two-col .col-lg-5,
.widget-three-col,
.widget-four-col {
    .widget-filter-price {
        .row {
            display: block;

            .input-group {
                max-width: 100%;
            }
        }
    }
}
