.widget-selected-filter
{
  &.widget-alignment-center
  {
    div.selected-filters
    {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.widget-alignment-right
  {
    div.selected-filters
    {
      width: fit-content;
      margin-left: auto;
    }
  }
}
