.widget-step-by-step-navigation {
    .nav-item {
        background-color: white;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        min-height: 75px;
        cursor: pointer;
    }
    
    .nav-text {
        background-color: $gray-lighter2;
        flex: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &.widget-none {
        span {
            color: black;
        }
    }

    span {
        align-self: center;
    }
}