.widget-toolbar {
    .widget {
        margin-bottom: 0;
    }
    
    .list-controls-inner {
        padding: 1rem;

        div.widget ~ div.widget {
            margin-left: 1em;
        }
    }

    .filter-collapse {
        > div {
            background: $white;
            border: 1px solid $gray-lighter2;
            padding: 2rem;
        }
    }
}
