.widget-toolbar {
    .widget {
        margin-bottom: 0;
    }
    
    .list-controls-inner {
        padding: 1rem;
    }

    #filterCollapse {
        > div {
            background: #fff;
            border: 1px solid #f4f4f4;
            padding: 1rem;
        }
    }
}
