.totop {
    display: block;
    height: 4rem;
    background-color: $gray-dark;
    color: white;
    text-align: center;
    padding: .5rem .5rem;
    text-decoration:none!important;

    transition: all 200ms;
    
    &:hover {
        background-color: $gray-light;
    }
}

.footertop{
	display: block;
	background-color: $gray-lighter;
 }


.footer{
	display: block;
	background-color: $gray-darker;

	.footerLink{
		text-align: center;
		margin-bottom: 1rem;

		h5{
			color: white;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		ul{
			li{
				color:$gray-lighter;
				font-size: $font-size-sm;
				line-height: 22px;
				
				a{
					color: $gray-lighter;
					&:hover{
						color: $gray;
					}
				}
			}
		}

		p {
			color:$gray-lighter;
			font-size: $font-size-sm;
			line-height: 22px;
			margin-bottom: 0;
			
			a{
				color: $gray-lighter;
				
				&:hover{
					color: $gray;
				}
			}
			
			i {
				width:15px;
			}
		}
	}


	.newsletter{
		h4, p{
			color: white;
			margin-bottom: .5rem;
		}

		p{
			@extend .small;
		}
	}

}

.copyright{	
	p{
		color: $gray-lighter;
		margin-bottom: 0;
		font-size: $font-size-sm;
		
		a {
			color:$gray-lighter;
			&:hover {
			color: $gray;
			}
		}	
	}
}


.footerLink {
	.shariff {
	.orientation-vertical {
		text-align: center;
	}
		ul {
			.shariff-button {
				a {
					background-color: $gray-lighter;
					color:$gray-darker;
					padding:0 .2rem;

					&:hover {					
						color:white;
						transition: opacity 0.5s ease;
					}
				}
			}
			.twitter {
				a {
					&:hover {
						background-color: #55acee;			
					}
				}
			}
			.facebook {
				a {
					&:hover {
						background-color: #3b5998;
					}
				}
			}
			.googleplus {
				a {
					&:hover {
						background-color: #d34836;
					}
				}
			}
			.pinterest {
				a {
					&:hover {
						background-color: #bd081c;
					}
				}
			}
		}
	}
}

.payment_line {
	div {
		filter: grayscale(.9);
		
		&:hover {
			transition: opacity 0.5s ease;
			filter: grayscale(0);
		}		
	}
}

	.btn_mail {
	    background-color: $gray;
	    color: white;
	    //border: none;
	    //line-height: 1.3;

		i {
	    	padding: 0 1rem;
		}

		&:hover {
			background-color: $gray-light;
		    //border:none;
		}
	}

	// .newsletter {
	// 	.form-control {
	// 		font-size: .8rem;
	// 		padding: .65rem;
	// 	}
	// }


	@include media-breakpoint-up(sm){
		.footerLink{
			text-align: left;
			margin-bottom: 0;
		}

		.shariff {
			.orientation-horizontal {
				li {
					margin-right: 1.8%;
					margin-bottom: 1.8%;
				    width: 80px;
				    flex: none;

					.fa {
					    width: 25px;
					    line-height: 30px;
					    text-align: center;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(md){

	}

	@include media-breakpoint-up(lg){

	}


	// @include media-breakpoint-down(sm){	
	// 	.shariff {
	// 		.orientation-horizontal {
	// 			li {
	// 				width: 55px;
	// 			}
	// 		}
	// 	}

	// 	.payment_line .img-fluid {
	// 	    margin: 0 auto;
	// 	}	
	// }

	// @include media-breakpoint-down(md){
	// 	.shariff {
	// 		width: 340px;
	// 	    overflow: auto;
	// 	    margin-top: 10px;
	// 	    display: inline-block;
	// 	}	
	// }
	
	
	
// @include media-breakpoint-only(xs) { 
// 	.shariff {
// 		width: 245px;
// 	}
// }
