//header scss
.sticky {
	.top-bar {
		position: fixed;
		width:100%;
		transition: all 0.4s ease;
		background:$gray;	
	}
	.header {
		position:relative;
		.navbar {
			position: fixed;
		    max-width: 1170px;
		    width: 100%;
		    top: 2rem;
		    z-index: 1020;
		    background:$gray-lighter2;
		    transition: all 0.4s ease;
		    .navbar-brand {
		    	img {
		    		max-width: 70%;
		    		transition: all 0.4s ease;
		    	}
		    }
		    #mainNavbarCollapse {
		    	.navbar-nav {
		    		.nav-item {
		    			.nav-link {
		    				padding:.75rem 1rem;
		    				transition: all 0.4s ease;
		    			}
		    		}
		    	}
		    }
		}
		.breadcrump {
			display: none;
		}
	}
}


.top-bar{

	$topbar-height : 2rem;

	color:$gray-lighter;
	position: relative;
	z-index: 2000;
	height: $topbar-height;
	background-color: $gray-dark;

	.shariff {
		.theme-minimal {
			.shariff-button {
				a {
					color: $gray-lighter;
				}
			}
		}
	}

	.list-inline-item:not(:last-child){
		margin-right: .6rem;
	}

	.list-inline{
		margin-bottom: 0;

		.list-inline-item{
			color: $gray-lighter;

			&>span>a,
			&>a{
				line-height: 2rem!important;
				font-size: .8rem;
				display: inline-block;
				color: $gray-lighter;
			}

			.flag-icon{
				margin-right: .4rem;
			}
		}
	}

	ul.pull-xs-right{

		li:last-child{
			a{
				background-color: $brand-primary;
				padding: 0 .6rem;
				color:white;
				i{
					font-size: $font-size-sm;
					margin-right: .5rem;
					color:white;
				}
			}
		}
	}

	.searchBox,
	.search-box{
		a.dropdown-toggle {
			&:hover {
				text-decoration: none;
			}
		}
		.dropdown-menu{
			width: 320px;
		    padding: 0;
		    border: none;
			position: absolute;
		}
	}

	.country-settings{
		min-width: 200px;
		max-width: 320px;
		padding: 0;
		border: none;
		position:absolute;

		.disabled {
			background-color: $gray-lighter;
		    cursor: auto;

			strong {
				color: $gray-dark;
			}
		}

		a {
			&:hover {
				background-color: darken($brand-primary, 20%);
				color: $gray-lighter;
			    border: 1px solid darken($brand-primary, 20%);
				text-decoration: none;
			}
		}
	}

	#shippingCountryList {
		text-decoration: none;
	}
}

#toggleBasketPreview:hover {
	background-color: darken($brand-primary, 20%);
}

//navigation scss
.navbar {

	border-radius: 0;
	padding:0;
	z-index: $zindex-navbar;
	border-bottom: 1px solid $gray-lighter;

	.dropdown:hover .dropdown-menu {
		display: block !important;
		margin-top:0;
	}
}

.navbar-brand {

	float: none;
	padding: .5rem 1rem;
  display: inline-block;

  img {
    max-height: 3.5rem;
  }
}

.navbar-nav {

	.nav-item{
		margin: 0!important;

		&.open {
			position: relative;
		}

		a {
			padding:.5rem;
		}

		&.active,
		&:hover {
			.nav-link {
				background-color: $brand-primary;
				color:white;
			}
		}

		.nav-link {
			padding: 1rem;
		}
	}

}

.navbar-toggler {
	position: absolute;
	top: 1.5rem;
	right: 1em;
}

// Mobile only
@include media-breakpoint-between(xs, md) {
	.navbar {

		.navbar-nav{

			.dropdown-menu{
				position:relative;
				float: none;

				background-color: $gray-lighter;
				border: none;
			}

		}
	}
}


@include media-breakpoint-up(sm){
	.top-bar {
		.list-inline-item{
			&:nth-child(2), &:nth-child(3) {
				position:relative;
			}
		}
		.shariff {
			width:100%;
			margin:0;
			height:2rem;

			.orientation-horizontal {
				li {
					width:40px;
					margin:0;
				}
			}
		}
	}
}

@include media-breakpoint-up(md){

}


@include media-breakpoint-up(lg){
	.navbar-brand {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.navbar-nav{
		&>.nav-item{
			&>.nav-link{
				padding-top: 2em;
				padding-bottom: 2em;
			}
		}
	}

}
