{% set showAddItemConfirm = config('PluginCallisto.basket.add_item_to_basket_confirm') %}

<script type="x/template" id="vue-add-to-basket">
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 m-y-1">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary" @click="quantityMinus">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
            </span>
            <input type="text" class="form-control input-number" v-model="quantity" number value="1">
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary" @click="quantityPlus">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 m-y-1">
        <button href="#" class="btn btn-block btn-primary" @click="addToBasket(quantity)">
            In den Warenkorb
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            
            {% if showAddItemConfirm == "true" %}
                <add-item-confirm :basket-item="basketItem" :base-url="baseUrl" :quantity="quantity"></add-item-confirm>
            {% endif %}
        </button>
    </div>
</script>
