{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.CountrySelect" ) }}

<script type="x/template" id="vue-address-input-group">
    <div class="row">
        <template v-if="value.showPickupStation && selectedCountry.isoCode2 === 'DE' && addressType === '2'">
            {% include "Ceres::Customer.Components.AddressInputGroup.Locale.DHLPackingStationAddressInputGroupDE" %}
        </template>
        <template v-else-if="localeToShow == 'DE' && addressType === '1'">
            {% include "Ceres::Customer.Components.AddressInputGroup.Locale.BillingAddressInputGroupDE" %}
        </template>
        <template v-else-if="localeToShow == 'GB' && addressType === '1'">
            {% include "Ceres::Customer.Components.AddressInputGroup.Locale.BillingAddressInputGroupGB" %}
        </template>
        <template v-else-if="localeToShow == 'DE' && addressType === '2'">
            {% include "Ceres::Customer.Components.AddressInputGroup.Locale.DeliveryAddressInputGroupDE" %}
        </template>
        <template v-else-if="localeToShow == 'GB' && addressType === '2'">
            {% include "Ceres::Customer.Components.AddressInputGroup.Locale.DeliveryAddressInputGroupGB" %}
        </template>
        
        <div class="col-12 col-sm-4">
            <country-select
                template="#vue-country-select"
                :selected-country-id="value.countryId"
                :selected-state-id="value.stateId"
                @country-changed="onSelectedCountryChanged($event)"
                @state-changed="emitInputEvent('stateId', $event)"
                :address-type="addressType"
                :optional-address-fields="optionalAddressFields"
                :required-address-fields="requiredAddressFields">
            </country-select>
        </div>
    </div>
</script>