{% extends originalTemplate %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% if category is not defined %}
            {# Use page title from multiligualism if no category is linked to be used as order confirmation #}
            {% block title trans("Ceres::Template.orderConfirmation") %}
        {% endif %}
    {% endembed %}
{% endblock %}

{% block PageBody %}
    {% set hasShopBuilderContent = false %}
    {% if category is defined %}
        {% set shopBuilderTemplate = shop_builder_category_template(category.id, "softlogin") %}
        {% if shopBuilderTemplate | trim is not empty %}
            {% set hasShopBuilderContent = true %}
            <div class="container-max mt-5 verify-order">
                <div class="row mb-5">
                    <div class="col">
                        {{ shopBuilderTemplate | raw }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if not hasShopBuilderContent %}
        {# No category defined to be used as order confirmation #}
        {% set overrideConfirmationSoftlogin = LayoutContainer.show("Ceres::OrderConfirmationSoftLogin.Override") %}
        {% if overrideConfirmationSoftlogin | trim is empty %}
            <div class="container-max mt-5 verify-order">
                <div class="row mb-5">
                    <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
                        <div>
                            {% if orderInputType == 'postcode' %}
                                {% set description = trans("Ceres::Template.softLoginDescriptionPostcode") %}
                                {% set label = trans("Ceres::Template.softLoginInputLabelPostcode") %}
                            {% else %}
                                {% set description = trans('Ceres::Template.softLoginDescriptionName') %}
                                {% set label = trans('Ceres::Template.softLoginInputLabelName') %}
                            {% endif %}
                            {% set title =  trans("Ceres::Template.softLoginTitle") %}
                            {% set buttonSubmitLabel = trans('Ceres::Template.softLoginSubmitLabel') %}

                            {% set contextData = {
                                'backlinkUrl': backlinkUrl,
                                'orderAccessKey': orderAccessKey,
                                'orderConfirmationToken': orderConfirmationToken,
                                'orderId': orderId,
                                'orderInputType': orderInputType
                            } %}

                            {% set texts = {
                                'title': title,
                                'description': description,
                                'label': label,
                                'buttonSubmitLabel': buttonSubmitLabel
                            } %}
                            {{ confirmation_softlogin(contextData, texts) | raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {{ overrideConfirmationSoftlogin }}
        {% endif %}
    {% endif %}
{% endblock %}
