{{ component( "Ceres::Item.Components.QuantityInput" ) }}

<script type="x/template" id="vue-add-to-basket-lg">

	<div class="add-to-basket-lg-container hidden-md-down" v-if="!showQuantity">
		<i class="fa fa-cart-plus fa-lg mobile-icon-right" v-if="!hasChildren && !salable" @click="addToBasket()"></i>
		<i class="fa fa-arrow-right fa-lg mobile-icon-right" v-if="hasChildren || salable" @click="directToItem()"></i>
	</div>

</script>
