{% set itemsData = config("PluginCallisto.basket.item_data")|split(', ') %}
{% set showItemVariation = config("PluginCallisto.basket.variations") %}
{% set configItemName = config("PluginCallisto.item.name") %}

<script type="x/template" id="vue-basket-list-item">

    <div v-if="size == 'large'">
        {% include "PluginCallisto::Templates.BasketList.BasketListItem_large" %}
    </div>

    <div v-if="size == 'small'">
        {% include "PluginCallisto::Templates.BasketList.BasketListItem_small" %}
    </div>

</script>
