{% set itemsData = config("Ceres.basket.item_data")|split(', ') %}
{% set showItemVariation = config("Ceres.basket.variations") %}

<script type="x/template" id="vue-basket-list-item">
    <div>
        <div v-if="size == 'large'">
            {% include "Ceres::Basket.Components.BasketListItem_large" %}
        </div>

        <div v-if="size == 'small'">
            {% include "Ceres::Basket.Components.BasketListItem_small" %}
        </div>
    </div>
</script>
