{{ component( "Ceres::Basket.Components.BasketListItem" ) }}

<script type="x/template" id="vue-basket-list">
    <div>
        <div>
            <div v-if="!basketItems.length > 0">
                <div class="h5">{{ trans("Ceres::Template.basketNoItems") }}</div>
            </div>
            <transition-group name="wish-list-item-transition" tag="div">
                <basket-list-item
                    v-for="basketItem in basketItems"
                    :key="basketItem.id"
                    :basket-item="basketItem"
                    :is-preview="isPreview"
                    :basket-details-data="basketDetailsData">
                </basket-list-item>
            </transition-group>
        </div>

        <div v-if="!isBasketInitiallyLoaded" class="basket-loading-frame loading">
            {% include "Ceres::ItemList.Partials.LoadingAnimation" %}
        </div>
    </div>
</script>
