<script type="x/template" id="vue-basket-shipping-country-select">
    <select class="form-control" @change="setShippingCountry($event.target.value)">
        <option v-for="shippingCountry in localization.shippingCountries"
                :value="shippingCountry.id"
                :class="{'is-disabled': isDisabled}"
                :disabled="isDisabled"
                v-tooltip="isDisabled"
                :selected="localization.shippingCountryId == shippingCountry.id">
            ${shippingCountry.currLangName}
        </option>
    </select>
</script>
