<script type="x/template" id="vue-coupon">
    <div class="cmp cmp-coupon">

        <div v-show="basket.couponCode">
            <p>${ basket.couponCode }</p>
            <button class="btn btn-primary" type="button" @click="removeCode()">Remove Code</button>
        </div>

        <div class="input-group">
            <input type="text" class="form-control" v-model="couponCode" placeholder="{{ trans("PluginCeres::Template.generalEnterCoupon") }}">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" @click="redeemCode()">{{ trans("PluginCeres::Template.generalRedeem") }}</button>
            </span>
        </div>
    </div>
</script>
