<script type="x/template" id="vue-coupon">
    <div class="cmp cmp-coupon">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{ trans("PluginCeres::Template.generalEnterCoupon") }}">
            	<span class="input-group-btn">
            		<button class="btn btn-primary" type="button">{{ trans("PluginCeres::Template.generalRedeem") }}</button>
            	</span>
        </div>
    </div>
</script>
