{% extends getPartial('page-design') %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title trans("Ceres::Template.wishList") %}
    {% endembed %}
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::WishList.Components.WishList" ) }}

    <div class="page-content wishlist container-max mb-5">
        <div class="row mt-3">
            <div class="col-12">
                <h1 class="h2">{{ trans("Ceres::Template.wishList") }}</h1>
            </div>
        </div>

        <hr>

         <wish-list></wish-list>
    </div>
{% endblock %}
