{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>Wish List</title>
{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::WishList.Components.WishList" ) }}
    <!-- {{ wishList | json_encode() }} -->
     <wish-list template="#vue-wish-list" :wish-list-ids="{{ wishList | json_encode() }}"></wish-list>
{% endblock %}
