{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>Wish List</title>
{% endblock %}

{% block PageBody %}

    <!-- {{ wishList | json_encode() }} -->

    <!-- <wish-list template="#vue-wish-list" :wish-list=""></wish-list> -->
{% endblock %}
