<script type="x/template" id="vue-category-breadcrumbs">
    <nav style="display: none;" class="container-max small hidden-sm-down" data-component="breadcrumbs" data-renderer="vue">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ homepageURL }}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="breadcrumb-item" :class="{'active': index == breadcrumbs.length - 1}" v-for="(breadcrumb, index) in breadcrumbs"><!--
                --><span v-if="index == breadcrumbs.length - 1 && breadcrumb.details != undefined">${ breadcrumb.details[0].name }</span><!--
                --><span v-if="index == breadcrumbs.length - 1 && breadcrumb.details == undefined && $store.state.item.variation.documents">${ $store.state.item.variation.documents[0].data | itemName }</span><!--
                --><a :href="breadcrumb.url" v-if="index != breadcrumbs.length - 1" v-render-category="{ id: breadcrumb.id, type: breadcrumb.type }">${ breadcrumb.details[0].name }</a><!--
            --></li>
        </ul>
    </nav>
</script>
