<script type="x/template" id="vue-category-nav-bar-header">

    <li :class="{'ddown': category.children}" v-for="category in categories">
        <a @click="renderItems(category)">${ category.details[0].name }</a>

        <ul data-level="1" v-if="category.children">

            <li v-for="child in category.children">
                <a href="javascript:void(0)" @click="renderItems(child)">${ child.details[0].name }</a>
            </li>

        </ul>
    </li>

</script>