<script type="x/template" id="vue-step-by-step-navigation">
    <div>
        <slot v-if="!isInitialyLoaded"></slot>
        <div class="row">
            <div class="mb-3" :class="'col-' + columnDivider" v-for="category in categoryChildren">
                <a :href="category.url" :title="category.details[0].metaTitle || category.details[0].name">
                    <div class="nav-item border d-flex" :class="{ 'no-img': imageSource == 'none' }">
                        <div v-if="category.details[0][imageSource]" class="prop-xs-1-1">
                            <img v-if="imageSource !== 'none'" :src="'/documents/' + category.details[0][imageSource]" :alt="category.details[0].metaTitle || category.details[0].name">
                        </div>
                        <div class="nav-text d-flex align-center p-2"><span class="text-appearance m-x-auto">${ category.details[0].name }</span></div>
                    </div>
                </a>  
            </div>

            <div class="mb-3 m-x-auto" v-if="categoryChildren.length && categoryChildren.length < childrenCount">
                <button type="button" class="btn btn-appearance px-4 py-3" @click="loadChunk()" :class="{ 'disabled': isWaiting }">
                    <span>{{ trans("Ceres::Template.stepByStepNavigationShowMore") }}</span>
                    <i v-waiting-animation="isWaiting" class="fa fa-plus-circle fa-fw my-1" waiting-class="fa fa-repeat fa-fw my-1 fa-spin"></i>
                </button>
            </div>

        </div>
    </div>
</script>
