<script type="x/template" id="vue-step-by-step-navigation">
    <div class="row">
        <div class="mb-3" :class="'col-' + columnDivider" v-for="category in categoryChildren">
            <a :href="category.url" :title="category.details[0].metaTitle || category.details[0].name">
                <div class="nav-item border d-flex" :class="{ 'no-img': imageSource == 'none' }">
                    <!-- ${ category.details[0] } -->
                    <div v-if="category.details[0][imageSource]" class="prop-xs-1-1">
                        <img v-if="imageSource !== 'none'" :src="'/documents/' + category.details[0][imageSource]" :alt="category.details[0].metaTitle || category.details[0].name">
                    </div>
                    <div class="nav-text d-flex align-center p-2"><span class="text-appearance m-x-auto">${ category.details[0].name }</span></div>
                </div>
            </a>  
        </div>

        <div class="mb-3 col-12"  @click="loadChunk()" v-if="categoryChildren.length && categoryChildren.length < childrenCount">
            <div class="nav-item border d-flex p-2 load-more">
                
                <!-- ${ childrenCount }
                ${ categoryChildren.length } -->
                <i class="fa fa-repeat fa-2x fa-fw m-x-auto my-1" :class="{ 'fa-spin': isWaiting }"></i>
                <span v-if="isWaiting">{{ trans("Ceres::Template.stepByStepNavigationLoading") }}</span>
                <span v-else>{{ trans("Ceres::Template.stepByStepNavigationShowMore") }}</span>
            </div>
        </div>
    </div>
</script>
