{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<header id="page-header" class="preset-header d-print-none">
    <div class="container-max">
        <div class="row flex-row-reverse position-relative">
            <div id="page-header-parent" class="col-12 header-container" data-header-offset>

                {% include "Ceres::PageDesign.Partials.Header.PresetHeader.PresetTopBar" %}

                {% include "Ceres::PageDesign.Partials.Header.Navigation" %}

                {% cacheslot breadcrumbs %}
                     breadcrumbs are related to every single page so they need to be wrapped in a cache slot
                    {% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
                        {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
                    {% endif %}
                {% endcacheslo t %}
            </div>
        </div>
    </div>
</header>


