{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}


<div class="sticky-top">

    {% include "Ceres::PageDesign.Partials.Header.Navigation" %}
</div>
{% cacheslot breadcrumbs %}
    breadcrumbs are related to every single page so they need to be wrapped in a cache slot
    {% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
        {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
    {% endif %}
{% endcacheslot %}
