.checkout{

	.basket-items-list .item{
		padding-left: 0;
		padding-right: 0;
	}

	.login-register-title {
		font-size: 1em;
		text-transform: uppercase;
		text-align: center;
	}

	.cmp-address-list,
	.form-check-label {
		transition: all .3s ease;
	}

	.error {
		background: $brand-danger;
		color: $white;
		border-radius: .1rem;
		transition: all .3s ease;

		&.form-check-label {
			padding: .5em 1.75rem;
			a {
				color: $white;
				&:hover {
					color: $gray-lighter2;
				}
			}
		}
	}

	@include media-breakpoint-up(sm){

	}

	@include media-breakpoint-up(md){

	}

	@include media-breakpoint-up(lg){

	}

}