{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-live-shopping">
    <div class="live-shopping">
        <slot name="heading"></slot>

        <div class="h3" style="padding: .8rem; margin: 0;">
            <a style="text-align: center" class="thumb-title" :href="itemData | itemURL">
                ${ itemData | itemName }
            </a>
        </div>

        <div class="live-shopping-countdown">
            <hr style="margin-bottom: .5rem; margin-top: 0">
            <div class="live-shopping-countdown-heading">{{ trans("Ceres::Template.liveShoppingOfferEndsIn") }}</div>

            <div class="live-shopping-countdown-thread-container">
                <div v-if="duration.days > 0" class="live-shopping-countdown-thread">
                    <div class="test">${ duration.days }</div>
                    <div class="small">Tage</div>
                </div>
                <div class="live-shopping-countdown-thread">
                    <div class="test">${ duration.hours }</div>
                    <div class="small">Stunden</div>
                </div>
                <div class="live-shopping-countdown-thread">
                    <div class="test">${ duration.minutes }</div>
                    <div class="small">Minuten</div>
                </div>
                <div class="live-shopping-countdown-thread">
                    <div class="test">${ duration.seconds }</div>
                    <div class="small">Sekunden</div>
                </div>
            </div>

            <div class="live-shopping-progress">
                <div class="bs4-progress">
                    <div :class="'progress-' + Math.round(timePercentage / 10) * 10" class="bs4-progress-bar" role="progressbar" :style="'width:' + timePercentage + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="live-shopping-progress">
                 <div class="live-shopping-progress-heading">
                    <span>{{ trans("Ceres::Template.liveShoppingRemainingStock", {"quantityRemaining": "${ liveShoppingData.quantityMax - liveShoppingData.quantitySold }", "quantityMax": "${ liveShoppingData.quantityMax }"}) }}</span>
                </div>

                <div class="bs4-progress">
                    <div :class="'progress-' + Math.round(quantitySoldPercentage / 10) * 10" class="bs4-progress-bar" role="progressbar" :style="'width:' + quantitySoldPercentage + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="live-shopping-prices bg-danger">
            <div class="live-shopping-prices-inner">
                <div>{{ trans("Ceres::Template.liveShoppingRebate", {"rebate": "${ itemPriceRebatePercentage }" }) }}</div>
                <div class="live-shopping-prices-container">
                    <div class="live-shopping-price">
                        <strong>${ itemData.prices.specialOffer.price.formatted } *</strong>
                    </div>
                    <del>${ itemData.prices.default.price.formatted }</del>
                </div>
            </div>

            <div class="live-shopping-prices-additional-info">
                <slot name="additional-price-info"></slot>
            </div>
        </div>
    </div>
</script>