{{ component( "Ceres::LiveShopping.Components.LiveShoppingDetails" ) }}

<script type="x/template" id="vue-live-shopping">
    <div>
        <live-shopping-details v-if="!!currentOffer" :live-shopping-data="currentOffer" :display-settings="displaySettings"></live-shopping-details>
    </div>
</script>