<script type="x/template" id="vue-live-shopping-timer">
    <div>
        <span>${ days } T :</span>
        <span>${ hours } S :</span>
        <span>${ minutes } M :</span>
        <span>${ seconds } S</span>
    </div>
</script>