@mixin widget-bg-variant($color, $body-color: #fff)
{
    color: $body-color;
    background-color: $color;
}

@mixin widget-bg-pseudo($color, $body-color: #fff)
{
    position: relative;
    color: $body-color;

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% - 30px);
        top: 0;
        left: 15px;
        background-color: $color;
    }
}