@include media-breakpoint-up(md) {
    .wrapper-main {
        & > nav.container-max {
            display: block;
            width: 100%;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
            background: $breadcrumb-bg;
        }
        .breadcrumbs {
            background: $breadcrumb-bg;
        }
        .breadcrumb {
            padding: .5rem 15px !important;
            margin: 0 auto;
            background: transparent;
        }
    }
}
