@include media-breakpoint-up(md){
	.wrapper-main {
		& > nav.container-max {
			padding-left:0;
			padding-right:0;
		    display: block;
		    width: 100%;
		    max-width: 100%;
		    background:$breadcrumb-bg;
		}
		.breadcrumbs {
			background: $breadcrumb-bg;
		}
		.breadcrumb{
		    margin: 0 auto;
		    background: transparent;
		    padding: .5rem 15px !important;
		}
	}
}
