.back-to-top-center {
    position: fixed;
    right: 0;
    bottom: -17px;
    left: 0;
    z-index: 1000;
    display: none;
    width: 94px;
    height: 50px;
    background: $white;
    opacity: .5;
    @include transition(opacity .3s);

    &:hover {
        opacity: 1;
    }
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 100;
    display: none;
    width: 40px;
    height: 42px;
    opacity: .5;
    @include transition(opacity .3s);

    &:hover {
        opacity: 1;
    }
}

.footer {
    background-color: $footer-bg;

    a {
        color: $footer-color;
    }

    .plenty-brand {
        height: 30px;
    }

    .footer-features {
        background-color: $footer-features-bg;
    }

    .footer-services {
        flex-flow: column nowrap;

        div {
            display: inline-flex;
            flex-flow: row wrap;
        }
        img {
            max-height: 4rem;
        }

        @include media-breakpoint-up(sm) {
            flex-flow: row nowrap;
        }
    }
}
