//navigation scss
.wrapper-main {
    .main {
        @media print {
            margin-top: 0;
        }
    }

    > header {
        background-color: $navbar-background-color;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .5);
        backface-visibility: hidden;

        @include media-breakpoint-down(md) {
            .container-max {
                padding: 0;
            }
        }

        @include media-breakpoint-up(md) {
            box-shadow: none;
        }
    }
}

// If header is sticky, it takes priority over other sticky page elements
header#page-header {
    z-index: 1030;
}

.ie11 .default-header {
    position: fixed;
    top:0;
    width: 100%;
}