/* settings */
// mobile
$menu-bg-sm: $primary;
$menu-breadcrumb-bg: $gray-900;
$menu-breadcrumb-color: color-yiq($menu-breadcrumb-bg);
$menu-color-sm: color-yiq($primary);
$menu-font-s-sm: 1.2em;
// desktop
$menu-color-lg: $primary;
$menu-font-s-lg: 1rem;
$menu-li-bg-hover: $primary;
$menu-li-color-hover: color-yiq($primary);
$menu-li-padding-x: 1rem;
$menu-li-padding-y: 1.3rem;
// bigmenu
$menu-big-menu-bg: darken($primary, 10%);
$menu-big-menu-li-bg: transparent; //color-yiq($primary, $gray-700, transparent);
$menu-big-menu-li-bg-hover: $primary;
$menu-big-menu-li-color: color-yiq($primary);
// megamenu
$megamenu-bg: $white;
$megamenu-color-top-btn: $primary;
$megamenu-color-bottom-btn: $black;
$megamenu-btn-hover: darken($top-bar-basket-btn, 20%);
$megamenu-btn-more: $gray-600;

.navbar {
    background-color: $navbar-background-color;

    > .container-max {
        > .row {
            flex-wrap: nowrap;
            align-items: center;
        }
    }

    ul {
        list-style: none;
    }
}

.navbar-brand {
    img {
        max-height: 3rem;
    }
}

.navbar-toggler {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
}

// When mobile navigation is open
body.menu-is-visible {
    position: fixed;
    overflow-y: hidden;
}

.normalmenu {
    a {
        color: inherit;
    }

    ul.mainmenu {
        > li {
            position: relative;
        }
    }

    ul.collapsed {
        position: absolute;
        // z-index: 1;
        display: block;
        min-width: 100%;
        max-height: 80vh;
        overflow: hidden;
        overflow-y: auto;
        word-wrap: break-word;
        visibility: hidden;
        background: $menu-color-lg;
        opacity: 0;
        // transition: all .1s ease;

        > li {
            min-width: 150px;
        }
    }

    .nav-dropdown-inner {
        > li {
            &:hover {
                background: $menu-big-menu-bg;
            }

            a {
                padding: 1rem;
            }
        }
    }
}

.megamenu {
    ul.mainmenu {
        > li {

            &:hover,
            &.hover {
                > ul {
                    display: block;
                }
            }
        }
    }

    .nav-dropdown-inner {
        padding-bottom: 1em;

        li {
            // 0.1px for rendering fix
            padding: .1px 1.5em;
            line-height: 170%;
            text-align: left;
        }
        a {
            color: $megamenu-color-bottom-btn;
        }
        &:hover a {
            color: $megamenu-color-top-btn;
        }
        .bt-more {
            a {
                color: $megamenu-btn-more;
                text-transform: lowercase;
            }
        }
    }

    ul.collapse {
        position: absolute;
        left: 0;
        display: none;
        min-width: 100%;
        min-height: 7em;
        max-height: 86vh;
        padding: 1em 0;
        overflow-x: auto;
        overflow-y: hidden;
        column-count: 5;
        column-fill: balance;
        column-gap: .5em;
        column-rule: 1px solid #dcdbd7;
        word-wrap: break-word;
        background-color: $megamenu-bg;
    }

    .level1 {
        a {
            font-weight: 700;
            color: $megamenu-color-top-btn !important; // stylelint-disable-line declaration-no-important
        }
        &:hover a {
            color: $megamenu-btn-hover !important; // stylelint-disable-line declaration-no-important
        }
    }
    .level3 {
        padding-left: 2.5em !important; // stylelint-disable-line declaration-no-important
    }
}

// normalmenu & megamenu
.main-navbar-collapsable {
    flex: 1 1 auto;
    align-self: stretch;
    font-size: $menu-font-s-lg;

    ul {
        padding: 0;
    }

    li {
        display: block;
    }

    a {
        display: inline-block;
        width: 100%;
    }

    ul.mainmenu {
        flex-flow: wrap;
        justify-content: flex-end;
        height: 100%;
        color: $menu-color-lg;

        > li {
            &:hover,
            &.hover {
                color: $menu-li-color-hover;
                background-color: $menu-li-bg-hover;

                > ul {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .ddown {
        > a {
            padding: $menu-li-padding-y $menu-li-padding-x;

            &::after {
                padding-left: .5em;
                font-family: FontAwesome;
                font-size: inherit;
                content: "\f0d7";
            }
        }
    }

    .nav-dropdown-inner {
        > li {
            cursor: pointer;
        }
    }
}

.mobile-navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    overflow-y: auto;
    font-size: $menu-font-s-sm;
    color: $menu-color-sm;
    background: $menu-bg-sm;
    opacity: .6;
    transition: all .3s ease;

    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;

    &.open {
        opacity: 1;
        transform: translateX(0);
    }

    .nav-direction {
        flex: 1 0 20%;
        padding: 1rem;
        text-align: center;
    }

    .sk-fading-circle .sk-circle::before,
    .loading-animation > div {
        background-color: $menu-color-sm;
    }

    ul.breadcrumb {
        display: block;
        max-width: initial;
        padding: 0 calc(15px + .5em) 0 15px;
        font-size: .8em;
        color: $menu-breadcrumb-color;
        background: $menu-breadcrumb-bg;

        li {
            display: inline-block;
            padding: .8rem 0 .75rem;
            // cursor: pointer;

            &:last-child {
                pointer-events: none;
            }

            &.btn-close {
                float: right;
                padding-top: .6em;
                &::before {
                    font-family: "FontAwesome";
                    font-size: 1.2em;
                    content: "\f00d";
                }
            }
            &:not(:first-of-type) a::before {
                padding: 0 .3rem;
                font-family: FontAwesome;
                font-size: 1rem;
                content: "\f0da";
            }
            &:first-of-type a::before { display: none !important; }
        }
    }

    ul.mainmenu {
        position: absolute;
        display: none;
        width: 100%;
        height: 90%;
        padding: 0;
        margin: 0;

        &.menu-active {
            display: block !important;
        }

        .btn-up {
            flex: none !important;
            transform: rotateY(180deg);
        }

        li {
            display: flex;
            flex-wrap: wrap;
            float: left;
            width: 100%;
            // cursor: pointer;

            a {
                display: inline-block;
                flex: 1 0 80%;
                padding: 1rem;
                color: inherit;

                &:hover {
                    color: inherit;
                }
            }

            ul {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                padding: 0;
                margin: 0;
                background: $menu-bg-sm;
            }
            &.ddown {
                .nav-direction {
                    i {
                        transition: transform 300ms ease-out;
                        transform: rotateX(0deg);
                    }
                }
                .nav-direction[aria-expanded="true"] {
                    i {
                        transform: rotateX(180deg);
                    }
                }
            }
        }
    }

    .nav-placeholder {
        display: block;
        width: 200px;
        height: 25px;
        margin: 1rem;
        background: $black;
        border-radius: 3px;
        opacity: .1;
        -webkit-animation: mobile-nav-placeholder .8s infinite ease-in-out;
        animation: mobile-nav-placeholder .8s infinite ease-in-out;
    }
}

// Mobile Navigation only
@-webkit-keyframes mobile-nav-placeholder {
    0% { opacity: .1; }
    50% { opacity: .15; }
    100% { opacity: .1; }
}

@keyframes mobile-nav-placeholder {
    0% { opacity: .1; }
    50% { opacity: .15; }
    100% { opacity: .1; }
}

.mainmenu-[class^="animate-"],
.mainmenu[class*=" animate-"] {
    display: block !important;
}

.animate-outToRight .ddown {
    -webkit-animation: outtoright .2s both cubic-bezier(.7, 0, .3, 1);
    animation: outToRight .2s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
.animate-outToLeft .ddown {
    -webkit-animation: outtoleft .2s both cubic-bezier(.7, 0, .3, 1);
    animation: outToLeft .2s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.animate-inFromLeft .ddown {
    -webkit-animation: infromleft .2s both cubic-bezier(.7, 0, .3, 1);
    animation: inFromLeft .2s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animate-inFromRight .ddown {
    -webkit-animation: infromright .2s both cubic-bezier(.7, 0, .3, 1);
    animation: inFromRight .2s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

// IE compatibility
html.ie {
    .main-navbar-collapsable {
        width: 100%;
    }
    .mobile-navigation ul.mainmenu li {
        a {
            flex: 1 0 75%;
        }
        .nav-direction {
            flex: 1 0 10%;
        }
    }
    .navbar-brand img[src*="svg"] {
        width: 100%;
        height: 100%;
    }
}