.cmp-search-box {
    background-color: $top-bar-bg;
}

.autocomplete-suggestions {
    position: absolute;
    top: 100%;
    z-index: $zindex-7;
    max-height: 310px;
    -webkit-overflow-scrolling: touch;
}

.autocomplete-suggestion {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background: $gray-300;
    }
    &.autocomplete-selected {
        background: $gray-300;
    }
}

.autocomplete-item-name {
    align-self: center;
    max-width: 0;
}

.autocomplete-image-container {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
}

.autocomplete-image {
    max-width: 100%;
    object-fit: contain;
}

.search-input {
    font-size: 1.3rem;
    line-height: 1;
    border: none;
    outline: none;
}

.search-submit {
    font-size: 1.3rem;
    line-height: 1;
    color: $primary;
    background-color: $gray-200;
    border: none;
    outline: none;
    @include transition(all .3s);

    &:hover {
        color: darken($primary, 20%);
    }
}
