// Searchbar in widget
.top-bar {
    .cmp-search-box {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        .search-box-inner {
            margin: 5px 0;
            @include media-breakpoint-down(md) {
                margin: 5px;
            }
        }
    }
}

// Searchbar in standard-header
div:not(.top-bar) {
    > .page-header {
        > div {
            > .cmp-search-box {
                position: fixed;
                top: 30px;
                right: 0;
                left: 0;
                z-index: 1070;

                @include media-breakpoint-up(lg) {
                    .search-box-inner {
                        padding-right: 15px;
                        padding-left: 15px;
                        margin: 5px auto;
                    }
                }
            }
        }
    }
}

.cmp-search-box {
    width: 100%;
    background-color: $top-bar-bg;

    .search-box-inner {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        max-width: 1200px;
        margin: 5px 15px;
        margin: 0 auto;
        @include media-breakpoint-down(md) {
            margin: 5px;
        }
    }

    @at-root .search-box-shadow-frame {
        .autocomplete-suggestions {
            position: absolute;
            top: 100%;
            z-index: 1070;
            width: 100%;
            max-height: 310px;
            overflow: auto;
            background: #fff;
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
            -webkit-overflow-scrolling: touch;

            & > .autocomplete-suggestion {
                display: flex;
                padding: 5px 15px;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;

                &:hover {
                    background: $gray-300;
                }

                &.autocomplete-selected {
                    background: $gray-300;
                }

                & > .autocomplete-item-name {
                    align-self: center;
                    max-width: 0;
                    color: $gray-700;
                }

                & > .autocomplete-image-container {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;

                    & > .autocomplete-image {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        max-width: 100%;
                        max-height: 40px;
                        margin-right: auto;
                        margin-left: auto;
                        transform: translateY(-50%) translateX(-50%);
                    }
                }
            }
        }
    }

    .search-input {
        display: inline-block;
        flex: 1 0 70%;
        padding: .4rem 1rem;
        font-size: 1.3rem;
        line-height: 1;
        vertical-align: top;
        border: none;
        outline: none;
    }

    .search-submit {
        display: inline-block;
        padding: .4rem 1rem;
        font-size: 1.3rem;
        line-height: 1;
        color: $primary;
        vertical-align: top;
        background-color: $gray-200;
        border: none;
        outline: none;
        transition: all 300ms;
        &:hover {
            color: darken($primary, 20%);
        }
    }
}
