.top-bar {
    color: $top-bar-color;
    background-color: $top-bar-bg !important; // stylelint-disable-line declaration-no-important

    a {
        color: $top-bar-color;
        text-decoration: none;
        outline: none;
    }

    .account-menu {
        min-width: 100%;
    }

    &.fixed-top {
        position: fixed;
    }
}

.controls-list {
    .list-inline-item {
        margin-right: 0;
        font-size: .8rem;

        a {
            display: inline-block;
            padding: .5rem .8rem;

            &[aria-expanded="true"] {
                background: $gray-900;
            }

            &:hover {
                color: color-yiq($primary);
                background-color: $primary;
            }

            i {
                font-size: 1rem;
            }
        }

        @include media-breakpoint-only(xs) {
            a {
                padding: .5rem;
            }
            .pipe {
                margin: 0 .3em 0 0;
            }
            .anicon-search-xcross {
                width: 2.2rem;
            }
            .badge-right {
                display: none;
            }
        }
    }
}

.control-user {
    flex: 1 0 auto;

    .dropdown {

        .dropdown-toggle {
            @include transition(all .1s);

            &::after {
                margin-left: 7px;
            }
        }

        &.show {
            .dropdown-menu {
                max-height: 200px;
            }
        }

        .dropdown-menu {
            right: 0;
            z-index: 2000;
            display: block;
            min-width: 105px;
            max-height: 0;
            overflow: hidden;
            border: none;
            @include transition(all .3s);

            a {
                display: block;
                padding: 1rem .8rem;
                color: color-yiq($gray-900);
                background-color: $gray-900;
                border: 0;
                border-top: 1px solid $gray-300;
                &:hover {
                    color: color-yiq($primary);
                    background-color: $primary;
                }
            }
        }

        .fa-user {
            margin-right: 5px;
        }

        .fa-sign-out {
            margin-right: 3px;
        }
    }
}

.control-languages {
    .flag-icon {
        font-size: .8rem !important; // stylelint-disable-line declaration-no-important
    }
}

.control-wish-list {
    .fa-heart {
        color: $red;
    }
}

.control-basket {
    .toggle-basket-preview {
        color: $top-bar-basket-color;
        background-color: $top-bar-basket-btn;

        .badge {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        &:hover {
            background-color: darken($top-bar-basket-btn, 10%) !important;  // stylelint-disable-line declaration-no-important
        }
    }
}
