.cmp-country-settings{
	background-color: $gray-darker;
	color: $white;
	border-bottom: 0;

	z-index: 1070;
    position: fixed;
    top: 30px;
    right: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

	.country-settings-inner{
		padding: 1rem;
		display: flex;
    	flex-flow: row nowrap;

    	max-width: 1200px;
    	margin: 0 auto;
	}

	.language-settings{

	}

	.shipping-settings{

	}

	.list-title{

	}

	ul{
		@include reset-list();

		li{
			width: 100%;
			padding: 0;
			display: inline-block;
			float: left;

			a{
				display: inline-block;
				padding: .4rem;
				color: $white;
				&:hover {
					background:$brand-primary;
					color: $white;
				}

				&.is-disabled{
					cursor: not-allowed;

					&:hover {
						background:$gray-dark;
					}
				}
			}

			&.active{
				a{
					background-color:$brand-primary;

					&.is-disabled{
						background-color:$gray-dark;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(sm){

	} 

	@include media-breakpoint-up(md){
		ul{
			li{
				width: 50%;
				padding-right: .8rem;
			}
		}
	} 

	@include media-breakpoint-up(lg){
		ul{
			li{
				width: 33.33%;
			}
		}
	} 
}

.flag-icon-en {
	background-image: url(../images/flags/4x3/gb.svg);
}