.reset-pwd{

  input{
    height: 45px;
  }

  .save-new-pwd-btn{
    display: block;
    width: 100%;

    i{
      margin-right: 6px;
    }
  }

  @include media-breakpoint-up(sm){

    .save-new-pwd-btn {
      display: inline-block;
      width: auto;
    }
  }

  .input-unit{

    &+.error-msg{
      display: none;
      font-size: 12px;
      color: #d9534f;
      margin-bottom: 10px;
    }

    &.check-pwds-error{
      z-index: 1000;
      border-color: #d9534f;

      input{
        color: #d9534f;
      }

      label{
        color: #d9534f;
      }
    }

    &.error{
      margin-bottom: 2px;

      &+.error-msg{
        display: block;
      }
    }
  }

  .error-save-pwd-msg{
    display: none;
    font-size: 12px;
    color: #d9534f;
    margin-bottom: 5px;
  }
}