.cmp-address-list {

    .items {
        position: relative;

        @include media-breakpoint-up(md) {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
        }

        //TODO add class to this div and set this rule by the class
        & > div:first-child {
            @extend .card;
            min-height: 115px;
            margin-bottom: 0;
        }

        &:not(.items-empty) {
            cursor: pointer;
        }
    }

    .dropdown-toggle {
        &::after {
            position: absolute;
            top: 80%;
            right: 1.5rem;
            z-index: 1;
            transform: translateY(-50%);
        }
    }

    .items.open {
        .dropdown-toggle {
            border-bottom: none;
            border-bottom-right-radius: 0; // stylelint-disable-line property-blacklist
            border-bottom-left-radius: 0; // stylelint-disable-line property-blacklist
        }
    }

    .dropdown-menu {
        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid $gray-300;
        border-top: none;
        border-top-left-radius: 0; // stylelint-disable-line property-blacklist
        border-top-right-radius: 0; // stylelint-disable-line property-blacklist
    }

    ul {
        width: 100%;
        max-height: 500px;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        list-style: none;
        box-shadow: $box-shadow;
    }

    .item {
        position: relative;
        padding: 0;
        border-bottom: 1px solid $gray-300;

        input { display: none; }

        input:checked {

            & + .item-inner {
                color: $black;
                background-color: #d9edf7;
                box-shadow: inset 0 0 0 .1rem $primary;
            }
        }

        &:last-of-type {
            border-bottom: none;
        }
    }


    .item-inner {
        display: flex;
        flex-direction: row;
        padding: 1em;
        margin-bottom: 0;
        cursor: pointer;

    }

    .item-controls {
        display: flex;

        .item-edit .fa {
            padding-top: .3rem;
            padding-left: .1rem;
        }
        .item-remove .fa {
            padding-top: .1rem;
        }
        .fa {
            float: none;
            @include transition(all .2s ease-in-out);
        }
        .btn {
            width: 2.2rem;
            height: 2.2rem;
            padding: 0;
            margin-left: 5px;
        }
    }

    .item-content {
        display: inline-block;
        flex: 1 1 auto;
        width: 100%;

        strong,
        span {
            display: block;
        }
    }
}

.checkout {
    header {
        h4 {
            line-height: 2.5rem;
        }
    }
}

.add-item {
    position: absolute;
    cursor: pointer;

    @include media-breakpoint-down(xs) {
        top: 0;
        right: 0;
        bottom: 0;

        & button {
            width: 50px;
            min-width: auto !important; // stylelint-disable-line declaration-no-important
            height: 74px;
        }
    }

    @include media-breakpoint-up(sm) {
        top: 1em;
        right: 1em;
    }
}
