.cmp-address-list {
	.items {
		position: relative;
		//TODO add class to this div and set this rule by the class
		& > div:first-child {
			@extend .card;
			margin-bottom: 0;
		}
	}

	.dropdown-toggle {
		&:after {
			position: absolute;
			top: 80%;
			right: 1.5rem;
			transform: translateY(-50%);
		}
	}

	.items.open {
		.dropdown-toggle {
			border-bottom: none;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.dropdown-menu {
		width: 100%;
		margin: 0;
		padding: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-top: none;
		border: 1px solid $gray-lighter;
	}

	ul {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.item {
		padding: 0;
		border-bottom: 1px solid $gray-lighter;
		position: relative;

		input {
			display: none;
		}

		input:checked {
			& + .item-inner {
				background-color: $brand-primary;
				color: white;
			}

			& + .item-inner .item-edit .fa:hover {
				color: white;
			}
		}

		&:last-of-type {
			border-bottom: none;
		}
	}

<<<<<<< HEAD

	.item-inner{
		display: flex;
		flex-direction: row;
    	cursor: pointer;
=======
	.item-inner {
		display: flex;
		flex-direction: row;
		cursor: pointer;
>>>>>>> plentymarkets/beta
		padding: 1em;
		margin-bottom: 0;
	}

	.item-edit {
		display: inline-block;
		vertical-align: top;
		font-size: 1.5em;
		float: right;
		flex: 0 1 auto;

		.fa {
			width: 1em;
			height: 1em;
			color: $gray-light;
			transition: all 0.2s ease-in-out;

			&:hover {
				color: $brand-primary;
				border-color: $brand-primary;
			}
		}
	}

	.item-remove {
		position: absolute;
		right: 1.35rem;
		top: 3rem;

<<<<<<< HEAD
	.item-content{
		display: inline-block;
	    // width: calc( 100% - 4em );
	    width: 100%;
	    flex: 1 1 auto;
=======
		.fa {
			color: $gray-light;
			transition: all 0.2s ease-in-out;
>>>>>>> plentymarkets/beta

			&:hover {
				color: $brand-danger;
			}
		}
	}

	.item-content {
		display: inline-block;
		width: 100%;
		flex: 1 1 auto;

		span,
		strong {
			display: block;
		}
	}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(md) {
		.items {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}

		.add-item {
			position: absolute;
			top: 1em;
			right: 1em;
		}
	}
	@include media-breakpoint-up(lg) {}
}

.checkout {
	header {
		h4 {
			line-height: 2.5rem;
		}
	}
}

.add-item {
	text-align: center;
	cursor: pointer;
	float: right;

	.fa {
		color: $gray-light;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: $brand-primary;
			border-color: $brand-primary;
		}
	}
}
