.shariff{
	.theme-minimal {
        .shariff-button {
        	border: none;

            a {
                height: auto!important;
                background-color: transparent!important;
            }
            .share_count {
                background-color: transparent;
                color: #333;
            }
        }

        .twitter a:hover{
					color: #55acee;
        }
        .facebook a:hover{
					color: #3b5998;
        }
        .googleplus a:hover{
					color: #d34836;
        }
        .pinterest a:hover{
		    	color: #bd081c;
			}
    }
}
