body {
	background-color: $gray-lightest;
	
	&>.wrapper-top, &>.wrapper-left, &>.wrapper-right, &>.wrapper-bottom {
		position 	: absolute;
		z-index 	: $zIndex-8;

		.wrapper-inner{
			
		}
	} 

	.wrapper-main{
		position: relative;
		//z-index: $zIndex-1;
	}
	
	.wrapper-top {
		top 		: 0;
		right 		: 0;  
		left 		: 0;
	}
	
	.wrapper-right {
		position	:fixed;
		top 	 	: 0;
		bottom 		: 0;
		left 		: 100%;
		width 		: 0;

		overflow 	: hidden;
		
		background-color : white;
		transform: translateX(0);

		transition: width 310ms 0ms,
					transform 300ms ease-in-out;

		.wrapper-inner{
			width: 100%;
			height: 100%;
		}
	}
	
	.wrapper-bottom {
		z-index 	: 2000;
	}
	
	.wrapper-left {
		top 		: 0;
		bottom 		: 0; 
		left 		: 0;
		transform 	: translateX(-100%);
	}
	
	// body state modifiers
	&.overlay,
	&.open-right,
	&.open-left,
	&.open-top,
	&.open-bottom{
		// dark overlay on body
		&::after{
			content : "";
			position: fixed;
			top 	: 0;
			right 	: 0;
			bottom 	: 0;
			left 	: 0;

			z-index: $zIndex-7;

			background-color: rgba(0, 0, 0, .5);
		}
	}
	

	&.open-right{
		overflow: hidden;

		.wrapper-right{
			width: 100vw;
			transform: translateX(-100%);

			transition: width 0ms,
						transform 300ms 10ms ease-in-out;
		}
	}

	@include media-breakpoint-up(sm){
		&.open-right{
			.wrapper-right{
				width: $aside-columns-width;
			}
		}

	}

	@include media-breakpoint-up(md){
		
	}

	@include media-breakpoint-up(lg){
		
	}
}