.static-page-plain-text {
    white-space: pre-line;
}

@media print {
    .no-print {
        display: none;
    }

    .print-header {
        margin-top: 15px;
        text-align: center;
    }

    @page {
        size: auto;
        margin: 0;
    }

    html {
        margin: 0;
        background-color: #fff;
    }
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}
