// .breadcrumb {
	
// 	color 		: $brand-primary;
// 	font-size   : 1rem;
// 	height 	    : 1.9rem;
// 	line-height : 30px;
// 	margin 	   	: 0;
// 	padding 	: 0;

// 	ul {
// 		background-color : white;
// 		border 		 : 0;
// 		display 	 : inline-block;
// 		list-style 	 : none;
// 		margin 		 : 0;
// 		padding 	 : 0;

// 		li {
// 			border 	 : 0;
// 			display	 : inline-block; 
// 			margin 	 : 0;


// 			.breadcrumb-item {
// 				color 	 : white;
// 				padding  : 0 1em;
// 				position : relative;

// 				&::before { content   : ""; z-index : 1; }
// 				&::after  { content   : ""; z-index : 2; }

// 				&:not(.active):hover {
// 					background-color : black !important;
// 					text-decoration  : none; 
// 				}
// 			}
// 			.breadcrumb-item.active {
// 				background-color : $gray-lighter !important;
// 				color  			 : $brand-primary; 
// 			}

// 			&:not(:first-child) .breadcrumb-item {
// 				padding-left : 25px;
// 				&::before {
// 					@include triangle-right(white, 15px, 10px);
// 					left         : 0;
// 					position 	 : absolute;
// 				}
// 			}
// 			&:not(:last-child) .breadcrumb-item {
// 				&::after {
// 					@include triangle-right(yellow, 15px, 10px);
// 					left     : 100%;
// 					position : absolute;
// 					top 	 : 0;
// 				}
// 			}

// 			&:focus { outline : none; }
// 		} 

// 		// rgb(148,148,149) = #949594
// 		@include rainbow-li(148, 149, 148, 6);
// 	}
// }