.megamenu{
	
	.feature{
		display: none;
	}

	@include media-breakpoint-up(sm){
		.dropdown{
			position: static;
		}

		.dropdown-menu{
			padding: 1.5em;
			width: 100%;
		}

		.dropdown-menu .dropdown-item {
		    margin: 0;
		    padding: 0;
		    width: 23%;
		    display: inline-block;
		    margin-left: -4px;
		    margin-right: 2%;
		}

		.megamenu-list{
			width: 75%;
			float:left;
		}

		.feature{
			background-color: $brand-primary;
			display: block;
			float: right;
			width: 25%;
			height: 0;
			padding-bottom: 25%;
		}
	}

	@include media-breakpoint-up(md){


	}

	@include media-breakpoint-up(lg){

	}
}