{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar header-fw p-0 border-bottom{% if useMegaMenu %} megamenu{% else %} normalmenu{% endif %}">
    <div class="container-max d-block">
        <div class="row mx-0 position-relative d-flex">
            <div class="brand-wrapper px-lg-3 d-flex flex-fill{% if showHeaderNavBar == "side" %} position-relative{% endif %}">
                {% if companyLogo | trim | length > 0 %}
                    <a class="navbar-brand py-2" href="{{ homepageURL }}">
                        <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" />
                    </a>
                {% endif %} 
                <button v-open-mobile-navigation class="navbar-toggler d-lg-none p-3" type="button">
                    &#9776;
                </button>
            </div>

            <div class="main-navbar-collapsable d-none d-lg-block">
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {% include "Ceres::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}
            </div>

        </div>
    </div>
</nav>

