<script type="x/template" id="vue-category-image-carousel">
    <div id="owl-carousel-${_uid}" v-if="enableCarousel" class="owl-carousel owl-theme">
        <a v-for="imageUrl in imageUrls | orderBy 'position'" :href="itemUrl">

            <item-lazy-img template="#vue-item-lazy-img" v-if="$index === 0 && !disableLazyLoad" :image-url="imageUrl.url"
                        :alt="altText"></item-lazy-img>

            <img v-if="$index !== 0 && !disableLazyLoad" class="img-fluid owl-lazy" :data-src="imageUrl.url" :alt="altText">

            <img v-else class="img-fluid" :src="imageUrl.url" :alt="altText">

        </a>
    </div>

    <a v-else :href="itemUrl">
        <item-lazy-img v-if="!disableLazyLoad" template="#vue-item-lazy-img" :image-url="imageUrls[0].url" :alt="altText"></item-lazy-img>
        <img v-else class="img-fluid" :src="imageUrls[0].url" :alt="altText">
    </a>
</script>
