<script type="x/template" id="vue-items-per-page">
    <div class="list-itemsperpage">
        <select class="custom-select" v-model="itemSearch.itemsPerPage" @change="itemsPerPageChanged()">
            <option :value="element" v-for="element in paginationValues">
                ${ element }
            </option>
        </select>
    </div>
</script>