<script type="x/template" id="vue-item-search">
    <div class="search-box-inner">
        <input type="search" class="search-input" v-model="searchString" @keyup.enter="search()" autofocus>
        <button class="search-submit" type="submit" @click="search()">
            <i class="fa fa-search hidden-sm-up"></i>
            <span class="hidden-xs-down">{{ trans("PluginCallisto::Template.generalSearchNoDot") }}</span>
        </button>
    </div>
</script>