<script type="x/template" id="vue-item-store-special">
    <div class="special-tags" v-show="label.length || bundleType === 'bundle'">
        <span v-if="label.length" class="badge" v-bind:class="tagClass">
            ${ label }
        </span>
        <span v-else class="badge badge-bundle bg-info">
            {{ trans("Ceres::Template.itemBundle") }}
        </span>
    </div>
</script>
