<script type="x/template" id="vue-item-list-sorting">
    <div class="list-sort">
        <select class="custom-select" v-model="selectedSorting" @change="updateSorting()">
            <option :value="element" v-for="element in sortData" :selected="selectedSorting.value == element.value">
                ${ element.displayName }
            </option>
        </select>
    </div>
</script>